<div class="view-type view-type-{{ viewType }} file vl3 clearfix">
	<div class="info">
	    <h2 class="title with-icon"><a href="{{ path( location ) }}"><i class="fa fa-file-o"></i>{{ content.fields.name.value.text }}</a></h2>
	</div>
</div>
