<article class="view-type view-type-{{ viewType }} ng-category vl4">
    <div class="article-content">
        <header class="article-header">
            <h2 class="title"><a href="{{ path(location) }}">{{ ng_render_field(content.fields.title) }}</a></h2>
        </header>
    </div>
</article>
