{% set location_path = path( location ) %}

<div class="view-type view-type-{{ viewType }} ng-category">

    {% if not ez_is_field_empty( content, 'line_image' ) or not ez_is_field_empty( content, 'image' ) %}
        {% set image_field = not ez_is_field_empty( content, 'line_image' ) ? 'line_image' : 'image' %}

        <div class="att-image">
            {{ ez_render_field(
                content,
                image_field, {
                    'parameters': {
                        'alias': 'i320',
                        'link_href': location_path
                    }
                }
            ) }}
        </div>
    {% endif %}

    <h2 class="att-title"><a href="{{ location_path }}">{{ ez_render_field( content, 'title' ) }}</a></h2>

</div>
