{% set location_path = path( location ) %}

{% block content %}
    <div class="content-view-block-item view-type-{{ viewType|default( '' ) }} ng-category-page clearfix">
        <h2 class="att-title"><a href="{{ location_path }}">{{ ez_render_field( content, 'title' ) }}</a></h2>
    </div>
{% endblock %}
