{% set location_path = path( location ) %}

<div class="view-type view-type-{{ viewType }} ng-landing-page clearfix">
    <h2 class="att-title"><a href="{{ location_path }}">{{ ez_render_field( content, 'title' ) }}</a></h2>
</div>
