{% extends ngbm.layoutTemplate %}

{% trans_default_domain 'ngsite_errors' %}

{% set site_title = 'ngsite.errors.403.title'|trans %}

{% block content %}
	<div class="site-error">
		<h1>{{ 'ngsite.errors.403.title'|trans }}</h1>

		<div>{{ 'ngsite.errors.403.message'|trans }}</div>
	</div>
{% endblock %}
