{% extends ngbm.layoutTemplate %}

{% trans_default_domain 'ngsite_errors' %}

{% set site_title = 'ngsite.errors.default.title'|trans %}

{% block content %}
	<div class="site-error">
	    <h1>{{ 'ngsite.errors.default.title'|trans }}</h1>

	    <div>{{ 'ngsite.errors.default.message'|trans }}</div>
	</div>
{% endblock %}
