<nav class="main-navigation" role="navigation">
    {% block page_main_menu_header %}
        {{ render_esi(
            controller(
                'ngsite.controller.menu', {
                    menuName: 'ngsite_main_menu'
                }
            )
        ) }}

        {% if app.request.attributes.get('siteaccess').name == 'peak_eng' %}
            {{ render_esi(controller('App\\Controller\\PageLayout\\UserMenu')) }}
        {% endif %}
    {% endblock %}
</nav>
