/* overlay item view type */
.vl2 {
    margin: 0 0 2rem;
    position: relative;
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    .image-16by9 {
        display: block;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
        img {
            object-fit: cover;
            object-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
            transition: transform .75s ease-out;
            will-change: transform;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(transparent,rgba(0,0,0,0.9));
            z-index: 2;
            transition: opacity .75s ease-out;
        }
    }
    .article-header {
        position: absolute;
        z-index: 3;
        bottom: 1.75rem;
        left: 2rem;
        right: 2rem;
        color: $white;
    }
    .title {
        font-size: 1.3125rem;
        margin: 0 0 .25rem;
        line-height: 1.25;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 5em;
        a {
            @extend %item-title-link;
        }
    }
    .info {
        @extend %item-header-info;
        margin: 0;
        .recipe-details {
            background: hsla(0, 0, 100, .25);
            color: $white;
        }
    }
    .article-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 3em;
        height: 3em;
        font-size: 1rem;
        line-height: 3;
        text-align: center;
        background: $sunglow;
        color: $black;
        z-index: 3;
        pointer-events: none;
    }
    &:hover,
    &:focus {
        .image-16by9 {
            &::before {
                opacity: .75;
            }
            img {
                transform: scale(1.08);
            }
        }
    }
    @include media-breakpoint-down(lg) {
        .article-header {
            bottom: 1.25rem;
            left: 1.5rem;
            right: 1.5rem;
        }
        .title {
            font-size: 1.25rem;
        }
    }
    @include media-breakpoint-down(sm) {
        .article-header {
            bottom: 1rem;
            left: 1.25rem;
            right: 1.25rem;
        }
        .title {
            -webkit-line-clamp: 3;
            max-height: 3.75em;
        }
        .article-icon {
            font-size: .75rem;
        }
    }
}
