<div class="skips">
    <a id="skip-to-main-content" href="#" data-target-class="main-content-block" title="{{ 'ngsite.skip_to_main_content'|trans }}" tabindex="0">{{ 'ngsite.skip_to_main_content'|trans }}</a>
</div>

