<header class="site-header">
    <div class="container">
        {% include '@ibexadesign/content/parts/site_logo.html.twig' %}

        <a class="mainnav-toggle" href="#">
            <span class="hamburger"></span>
        </a>

        {% include '@ibexadesign/pagelayout/header/main_menu.html.twig' %}
        {% include '@ibexadesign/pagelayout/header/search_box.html.twig' %}
        {% include '@ibexadesign/pagelayout/header/language_selector.html.twig' %}
    </div>
</header>
