.section-title {
    .title {
        @include text-base;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: .625rem;
            background: hsla(0, 0, 0, .04);
        }
    }
    &.section-title-centered {
        text-align: center;
    }
}
