{# ng_infobox - block_item default view type #}

{% set location_path = path(
    'ez_urlalias', {
        'locationId': location is defined and location is not empty ?
            location.id :
            content.contentInfo.mainLocationId
        }
) %}

<div class="content-view-block-item ng-infobox">
    <h2 class="att-title"><a href="{{ location_path }}">{{ ez_content_name( content ) }}</a></h2>
</div>
