{# ng_infobox - block_item default view type #}

<div class="content-view-block-item ng-infobox">
    <h2 class="att-title"><a href="{{ path( location ) }}">{{ ez_content_name( content ) }}</a></h2>
</div>
