{% if showPath is not defined %}
    {% set showPath = true %}
{% endif %}

{% if showPath and locationPath is defined and locationPath|length > 1 %}
    <div class="breadcrumb-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                {% for pathItem in locationPath %}
                    {% if pathItem.url != false %}
                        <li><a href="{{ pathItem.url }}">{{ pathItem.text }}</a></li>
                    {% else %}
                        <li>{{ pathItem.text }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
{% endif %}
