<div class="js-form-link-embed">
    {{ ng_view_content(
        content,
        'payload',
        {
            params: {
                action: path('ngsite_info_collection_ajax_submit', { formContentId: contentId }),
                label: label,
                refererLocationId: refererLocationId|default(null),
                class: 'js-form-embed',
            },
        }
    ) }}
</div>
