{% set location_path = path(location) %}

<div class="view-type view-type-{{ viewType }} file vl5">
    <div class="info with-icon">
        <a href="{{ location_path }}"><i class="fas fa-file-o"></i></a>
        <h2 class="title"><a href="{{ location_path }}">{{ ng_render_field(content.fields.name) }}</a></h2>
    </div>
</div>
