{% set location_path = path(location) %}

<div class="view-type view-type-{{ viewType }} ng-gallery vl4 clearfix">
    <div class="info with-icon">
    	<a href="{{ location_path }}"><i class="fas fa-camera"></i></a>
        <h2 class="title"><a href="{{ location_path }}">{{ ng_render_field(content.fields.title) }}</a></h2>
    </div>
</div>
