{% extends ngbm.layoutTemplate %}

{% trans_default_domain "ngmore_user" %}

{% block pre_content %}
    <header class="full-page-header full-form-header">
        <div class="container">
            <h1 class="full-page-title">{{ 'ngmore.user.activate.sent.title'|trans }}</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="full-form-content">
        <div class="full-form-response">
            <p>{{ 'ngmore.user.activate.sent.text'|trans({'%link%': path('ngmore_resend_activation_mail')})|raw }}</p>
        </div>
    </div>
{% endblock %}
