/* feedback gorm full view */
.full-form-content {
    padding: 2rem;
    margin: 0 auto 4rem;
    background: $white;
    max-width: 35rem;
    a {
        border-bottom: .25rem solid $primary;
    }
    form {
        .form-group {
            input,
            textarea {
                display: block;
                width: 100%;
                padding: 0.375rem 0.75rem;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: white;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                &:focus {
                    color: #495057;
                    background-color: white;
                    border-color: $primary;
                    outline: 0;
                    -webkit-box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
                    box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
                }
            }
            input {
                height: calc(1.5em + 0.75rem + 2px);
            }
        }
    }
}

.full-form-header {
    padding-bottom: 10rem;
    margin-bottom: -10rem;
}

.full-form-response {
    text-align: center;
    min-height: 15rem;
    p {
        font-size: 2rem;
        font-style: italic;
    }
}

.alert {
    font-size: 1rem;
    padding: 1em;
    margin: 0 0 1.5em;
    &.alert-danger {
        background: hsl(0, 100, 80);
        color: $white;
    }
}
