/* feedback form full view */
.full-form-content {
    padding: 2rem;
    margin: 4rem auto;
    background: $white;
    max-width: 35rem;
    a {
        border-bottom: .25rem solid $primary;
    }
}

.full-form-header {
    padding-bottom: 10rem;
    margin-bottom: -10rem;
}

.full-form-response {
    text-align: center;
    min-height: 15rem;
    p {
        @include text-2;
        font-style: italic;
    }
}

.alert {
    @include text-base;
    padding: 1em;
    margin: 0 0 1.5em;
    &.alert-danger {
        background: hsl(0, 100, 80);
        color: $white;
    }
}
