.full-page-header {
    background: $primary;
    padding: 2rem 0 4rem;
    margin-bottom: 4rem;
    @include media-breakpoint-down(xxl) {
        margin-bottom: 0;
    }
    &.no-breadcrumbs {
        padding: 8rem 0;
        @include media-breakpoint-down(md) {
            padding: 4rem 0;
        }
    }
    .main-topic, .important-notice {
        @include text-0_75;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        color: $primary;
        background: $black;
        padding: .3333333333em 1em;
        margin: 0 0 .3333333333em;
    }
}
.full-page-title {
    @include text-3;
    margin: 0 0 .5rem;
}
.full-page-intro {
    @include text-1_5;
    // p {
    //     margin: 0;
    //     + p {
    //         margin-top: 1em;
    //     }
    // }
    & + * {
        margin-top: 4rem;
    }
}
.full-page-info {
    // @include text-base;
    // margin: 0;
    // color: $black;
    // opacity: .54;
    // > span,
    // > time {
    //     + span,
    //     + time {
    //         &::before {
    //             content: '-';
    //             margin: 0 .25em;
    //         }
    //     }
    // }
    // a {
    //     transition: border-color .15s;
    //     border-bottom: .125rem solid transparent;
    //     &:hover {
    //         border-bottom-color: currentColor;
    //     }
    // }
}
.full-page-main-topic,
.full-page-important-notice {
    > a,
    > span {
        display: inline-block;
        @include text-0_75;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        color: $primary;
        background: $black;
        padding: .3333333333em 1em;
        margin: 0 0 .3333333333em;
    }
}
.full-page-image {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    img {
        width: 100%;
    }
}

.full-page-tags {
    @extend %clearfix;
    margin: 3rem 0 0;
    a {
        @include text-0_75;
        display: inline-block;
        float: left;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        color: $gray-87;
        padding: .1666666667em .8333333333em;
        border: 2px solid $primary;
        margin: 0 .1666666667em;
    }
}

/* full page body styling */
.full-page-body {
    margin-top: 4rem;
    position: relative;
}

/* full page newsletter box */
.full-page-newsletter-box {
    background: $primary;
    padding: 2rem;
    margin: 0 0 4rem;
    text-align: center;
    form {
        display: flex;
        justify-content: center;
        max-width: 400px;
        margin: 2rem auto 0;
        .form-control {
            border-color: $white;
            background: $white;
        }
    }
}

// .vf1 {
//     .full-page-image {
//         margin: 0 0 4rem;
//     }

//     .full-page-body {
//         position: relative;
//         padding: 0 0 2rem;
//         margin: 0 0 2rem;

//         @include media-breakpoint-up(lg) {
//             max-width: 754px;
//             margin: 0 auto;
//         }
//     }
// }
