{% if is_slider is not defined %}
    {% set is_slider = false %}
{% endif %}

{% if alias_name is not defined or alias_name is empty %}
    {% set alias_name = 'gallerylarge' %}
{% endif %}

<div class="{% if is_slider %}rsContent{% else %}multimediaContent{% endif %}">
    <a href="{{ path( "ez_urlalias", { "contentId": content.versionInfo.contentInfo.id } ) }}">
        <img class="img-responsive {% if is_slider %}rsImg{% endif %}" src="{{ ez_image_alias( ngmore_field( content, 'image' ), content.versionInfo, alias_name ).uri }}" />
    </a>

    {% if not ez_is_field_empty( content, 'title' ) %}
    <div class="bContainer">
        <div class="rsABlock txtCent">
            <p class="att-title">{{ ez_field_value( content, 'title' ) }} </p>
        </div>
    </div>
    {% endif %}
</div>
