{% set alias_name = alias_name|default( 'original' ) %}
{% set use_lazy_load = use_lazy_load|default( false ) %}

<div class="vl2">
    <img {% if use_lazy_load %}class="swiper-lazy" data-{% endif %}src="{{ ez_image_alias( ngmore_field( content, 'image' ), content.versionInfo, alias_name ).uri }}" />
    {% if not ez_is_field_empty( content, 'title' ) %}
        <div class="info">
            <h2 class="att-title title"><a href="{{ path( "ez_urlalias", { "contentId": content.id } ) }}">{{ ez_field_value( content, 'title' ).text }}</a></h2>
        </div>
    {% endif %}
</div>