<div class="{% if is_slider %}rsContent{% else %}multimediaContent{% endif %}">
    <h2>{{ ez_field_value( multimedia_item.content, 'name' ).text }}</h2>

    {{ ez_render_field( multimedia_item.content, 'content' ) }}
</div>
