{# File - line view #}

<div class="content-view-line file">

    <h2>{{ ez_content_name( content ) }}</h2>

    {% if not ez_is_field_empty( content, 'description' ) %}
        <div class="att-description">
            {{ ez_render_field( content, 'description' ) }}
        </div>
    {% endif %}

    <div class="att-file mime-type-{{ ez_field_value( content, 'file' ).mimeType|replace( '/', '-' ) }}">
        {{ ez_render_field( content, 'file' ) }}
    </div>

</div>
