{% extends 'NetgenBlockManagerBundle:block:block.html.twig' %}

{% block content %}
    {% if collections['default'] is defined %}
       {% set result = collections['default'].results %}

        <div class="vl4">
            <div class="main-item">
                {% if result[0] is defined %}
                   {{ ngbm_render_item(result[0].item, block.itemViewType, [], view_context) }}
                {% endif %}
            </div>

            <div class="secondary-items">
                {% if result[1] is defined %}
                    <div class="secondary-item">
                        {{ ngbm_render_item(result[1].item, block.itemViewType, [], view_context) }}
                    </div>
                {% endif %}

                {% if result[2] is defined %}
                    <div class="secondary-item">
                        {{ ngbm_render_item(result[2].item, block.itemViewType, [], view_context) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
