sentry:
    dsn: '%env(SENTRY_DSN)%'
    options:
        ignore_exceptions:
            - 'Symfony\Component\ErrorHandler\Error\FatalError'
            - 'Symfony\Component\HttpKernel\Exception\NotFoundHttpException'
            - 'Ibexa\Core\MVC\Symfony\Security\Exception\UnauthorizedSiteAccessException'
