## eZ Platform/Symfony ENVIRONMENT variables, for customizing app.php* execution
# * Only SYMFONY_ENV and SYMFONY_DEBUG supported by console command, rest are eZ Platform features in app.php.

# Environment.
# Possible values: "prod" and "dev" out-of-the-box, other values possible with proper configuration
# Defaults to "prod" if omitted (uses SetEnvIf so value can be used in rewrite rules)
#SetEnvIf REQUEST_URI ".*" SYMFONY_ENV=prod

# Whether to use debugging.
# Possible values: 0 or 1
# Defaults to 0 if omitted, unless SYMFONY_ENV is set to: "dev"
#SetEnv SYMFONY_DEBUG 0

# Optional: Whether to use Symfony's builtin HTTP Caching Proxy.
# Disable it if you are using an external reverse proxy (e.g. Varnish)
# Possible values: 0 or 1
# Defaults to 1 if omitted, unless SYMFONY_ENV is set to: "dev"
SetEnv SYMFONY_HTTP_CACHE 0

# Defines the proxies to trust.
# Separate entries by a comma
# Example: "ip1,ip2"
# By default, no trusted proxies are set
#SetEnv SYMFONY_TRUSTED_PROXIES "127.0.0.1"

# TIP: There are many more environment variables supported by eZ Platform. However unlike those listed above
#      they should in most cases rather be set in the environment then in vhost config to make sure cronjobs
#      and cli command usage takes them into account as well.

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/json
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

AddDefaultCharset UTF-8

DirectoryIndex app.php

Options +FollowSymlinks
Options -Indexes

RewriteEngine On

RewriteCond %{REQUEST_URI} \.svn|\.git
RewriteRule .* / [L,R=301]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^app(_.+)?\.php(/(.*)|$) /$3 [R=301,L]

# Let's Encrypt support
RewriteRule ^\.well-known/acme-challenge/ - [L]

# START: Multisite rewrite rules for robots.txt

# RewriteRule ^robots_site1.txt$ - [L]
# RewriteCond %{HTTP_HOST} ^site1.example.com$ [NC]
# RewriteRule ^robots.txt$ robots_site1.txt [L]

# RewriteRule ^robots_site2.txt$ - [L]
# RewriteCond %{HTTP_HOST} ^site2.example.com$ [NC]
# RewriteRule ^robots.txt$ robots_site2.txt [L]

# END: Multisite rewrite rules for robots.txt

# START: Maintenance mode

# RewriteRule ^offline_eng.html$ - [L]

# RewriteRule .* offline_eng.html [R=503,L]
# ErrorDocument 503 /offline_eng.html

# END: Maintenance mode

# Disable .php(3) and other executable extensions in the var directory
RewriteRule ^var/.*(?i)\.(php3?|phar|phtml|sh|exe|pl|bin)$ - [F]

RewriteRule ^var/([^/]+/)?storage/images(-versioned)?/.* - [L]
RewriteRule ^var/([^/]+/)?storage/original/image/(.*)\.svg - [L]
RewriteRule ^var/([^/]+/)?cache/(texttoimage|public)/.* - [L]
RewriteRule ^design/[^/]+/(stylesheets|images|fonts|javascript)/.* - [L]
RewriteRule ^share/icons/.* - [L]
RewriteRule ^extension/[^/]+/design/[^/]+/(stylesheets|flash|images|fonts|lib|javascripts?)/.* - [L]

RewriteRule ^favicon\.ico - [L]
RewriteRule ^robots\.txt - [L]

# The following rules are needed to correctly display bundle and project assets
RewriteRule ^build(_dev)?/ - [L]
RewriteRule ^bundles/ - [L]
RewriteRule ^assets/ - [L]

# Additional Assetic rules
RewriteRule ^(css|js|fonts?)/.*\.(css|js|otf|eot|ttf|svg|woff) - [L]

RewriteRule .* app\.php
