{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import "@ibexadesign/parts/macros.html.twig" as macros %}

{% block content %}
<article class="view-type view-type-{{ view_type }} ng-banner vl2">
    <figure class="image">
        {{ macros.image_link(content, 'image', 'i480') }}
    </figure>
    <header class="article-header">
        <h2 class="title">
            {{ macros.content_link(content, content.fields.title.value.text) }}
        </h2>
    </header>

</article>
{% endblock %}
