.idea/
.sass-cache/
.tmp/
node_modules/
/bin/behat
/bin/doctrine
/bin/doctrine.php
/bin/doctrine-dbal
/bin/doctrine-migrations
/bin/php-parse
/bin/phpunit
/bin/pscss
/bin/security-checker
/bin/sentry
/bin/simple-phpunit
/bin/studio
/bin/webunit
/app/config/parameters.yml
/app/config/server/local/
/app/config/server/local.yml
/app/solr
/doc/docker/entrypoint/*/*.sql
/dfsdata
/extension/
/ezpublish_legacy/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/build_dev*/
/web/bundles/
/web/css/
/web/js/
/web/fonts/
/web/design
/web/extension
/web/share
/web/var
/web/.htaccess
/web/index_treemenu.php
/web/index_rest.php
/web/index_cluster.php
/web/robots.txt
auth.json
behat.yml
composer.phar
ide-twig.json
package-lock.json
studio.json
yarn-error.log
.DS_Store
.php_cs.cache
.phpunit.result.cache
.web-server-pid
