parameters:
    ignoreErrors:
        - '#Access to an undefined property Ibexa\\Contracts\\Core\\FieldType\\Value::\$\w+#'
        - '#Cannot access property \$\w+ on Ibexa\\Contracts\\Core\\FieldType\\Value\|null#'
        - '#Cannot access property \$value on Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Field\|null#'

        - '#Method App\\Tests\\SmokeTests\\ProjectWebTestCase::createClient\(\) has parameter \$(\w+) with no value type specified in iterable type array.#'
        - "#Call to function method_exists\\(\\) with 'Symfony\\\\\\\\Component\\\\\\\\Dotenv\\\\\\\\Dotenv' and 'bootEnv' will always evaluate to true.#"
