.full-page-header {
    background: $primary;
    padding: 4rem 0;
    text-align: center;
    .main-topic, .sponsored-text {
        display: inline-block;
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 900;
        color: $primary;
        background: $black;
        padding: .3333333333em 1em;
        margin: 0 0 .3333333333em;
    }
}
.full-page-title {
    font-size: 3.125rem;
    margin: 0 0 .5rem;
}
.full-page-intro {
    color: $black;
    opacity: .54;
    p {
        margin: 0;
        + p {
            margin-top: 1em;
        }
    }
}
.full-page-info {
    font-size: 1rem;
    margin: 0;
    color: $black;
    opacity: .54;
    > span,
    > time {
        + span,
        + time {
            &::before {
                content: '-';
                margin: 0 .25em;
            }
        }
    }
    a {
        transition: border-color .15s;
        border-bottom: .125rem solid transparent;
        &:hover {
            border-bottom-color: currentColor;
        }
    }
}
.full-page-main-topic,
.full-page-sponsored-text {
    > a,
    > span {
        display: inline-block;
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 900;
        color: $primary;
        background: $black;
        padding: .3333333333em 1em;
        margin: 0 0 .3333333333em;
    }
}
.full-page-image {
    @include media-breakpoint-down(md) {
        img {
            width: 100%;
        }
    }
    margin: 0;
    text-align: center;
}

.full-page-tags {
    @extend %clearfix;
    margin: 3rem 0 0;
    a {
        display: inline-block;
        float: left;
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 900;
        color: $gray-87;
        padding: .1666666667em .8333333333em;
        border: 2px solid $primary;
        margin: 0 .1666666667em;
    }
}

/* full page body styling */
.full-page-body {
    @extend %clearfix;
    padding: 4rem 4rem 2rem;
    background: $body-bg;
    .object-full {
        margin-left: -4rem;
        margin-right: -4rem;
    }
    .object-left > .view-type-embed {
        margin-left: -4rem;
    }
    .object-right > .view-type-embed {
        margin-right: -4rem;
    }
}

.full-page-intro {
    font-size: 1.3125rem;
    font-style: italic;
    color: $gray-54;
}

/* full page newsletter box */
.full-page-newsletter-box {
    background: $primary;
    padding: 2rem;
    margin: 0 0 4rem;
    text-align: center;
    form {
        display: flex;
        justify-content: center;
        max-width: 400px;
        margin: 2rem auto 0;
        .form-control {
            border-color: $white;
            background: $white;
        }
    }
}

.vf1 {
    .full-page-image {
        margin: 0 0 4rem;
    }

    .full-page-body {
        padding: 0;
        margin: 0 0 2rem;
    }
}
