%btn-icon {
    content: '';
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin: 0;

    &.btn-icon-plus {
        @extend %icon-plus;
    }

    &.btn-icon-arrow-left {
        width: 1.5rem;
        height: 1.5rem;
        @extend %icon-arrow-white;
        transform: rotate(180deg);
    }

    &.btn-icon-arrow-right {
        width: 1.5rem;
        height: 1.5rem;
        @extend %icon-arrow-white;
    }

    &.btn-icon-download {
        @extend %icon-download;
    }

    &.btn-icon-edit {
        width: 1.5rem;
        height: 1.5rem;
        @extend %icon-edit;
    }

    &.btn-icon-check {
        @extend %icon-check;
    }

    &.btn-icon-close {
        @extend %icon-close;
    }

    &.btn-icon-save {
        width: 1.5rem;
        height: 1.5rem;
        @extend %icon-save;
    }

    &.btn-icon-conversations {
        width: 1.5rem;
        height: 1.5rem;
        @extend %icon-conversations;
    }

    &.btn-icon-user-group {
        width: 1.5rem;
        height: 1.5rem;
        @extend %icon-user-group;
    }

}

.btn {
    font-size: 0.75rem;
    text-transform: uppercase;
    height: 40px;
    padding: 0.35rem 1.75rem 0.35rem;

    &.btn-primary {
        background-color: $secondary_4;
        border: 2px solid $secondary_4;
        color: $secondary_3;

        &:hover {
            background-color: darken($secondary_4, 6%);
            border-color: darken($secondary_4, 6%);
            color: $secondary_3;
        }

        &.hidden {
            visibility: hidden;
        }
    }

    &.btn-secondary {
        background: $white;
        border: 2px solid $border;
        color: $secondary_1;

        &:hover {
            background-color: $light-bg;
            border-color: $border;
            color: $secondary_1;
        }
    }

    &.btn-ghost {
        background: transparent;
        border: 2px solid transparent;
        color: $secondary_4;

        &:hover {
            background-color: rgba($secondary_1, 0.04);
            border-color: rgba($secondary_1, 0.04);
            color: $secondary_4;
        }
    }

    &.btn-accepted {
        color: $olive;
        background-color: $accept;

        &.hidden {
            visibility: hidden;
        }
    }

    &.btn-link {
        border-radius: 0;
        padding: 0;
        text-transform: unset;
        font-size: 0.875rem;
        border-bottom: 2px solid $border;
        color: $secondary_4;
        white-space: nowrap;
        height: auto;

        &.btn-icon-left,
        &.btn-icon-right {
            padding: 0;
        }

        &:hover {
            color: $secondary_4;
            border-color: $secondary_4;
            background: transparent;
        }

        &.btn-link-plain {
            border-bottom: none;

            &.icon-view {
                &::after {
                    content: '';
                    width: 1.5rem;
                    height: 1.5rem;
                    display: inline-block;
                    @extend %icon-view;
                }
            }
        }

        &.btn-link-list {
            border-bottom: none;
            font-weight: 400;
            text-decoration: underline;
        }

        &.btn-margin {
            margin: 0 0.5rem;
        }
    }

    &.btn-dropdown {
        text-transform: unset;
        font-size: 0.875rem;
        color: $secondary_4;
        white-space: nowrap;
        padding: 0.35rem 1rem 0.35rem 1.5rem;

        &:hover {
            background-color: rgba($secondary_1, 0.04);
        }
    }

    &.btn-confirm {
        color: $olive;
        background-color: $accept;
        height: 2rem;

        &.btn-icon-left,
        &.btn-icon-right {
            padding: 0.5rem 0.75rem;
        }
    }

    &.btn-decline {
        padding: 0.5rem 0.75rem;
        color: $olive-dark;
        background-color: $decline;

        &::before {
            content: '';
            width: 1rem;
            height: 1rem;
            @extend %icon-x;
            margin-right: 0.25rem;
        }
    }

    &.btn-icon-left,
    &.btn-icon-right {
        display: inline-flex;
        gap: 8px;

        &.btn-primary {
            &::after,
            &::before {
                @include icon-color(secondary_3);
            }
        }

        &.btn-secondary {
            &::after,
            &::before {
                @include icon-color(secondary_1);
            }
        }

        &.btn-ghost {
            &::after,
            &::before {
                @include icon-color(secondary_4);
            }
        }

        &.btn-confirm {
            &::after,
            &::before {
                @include icon-color(success-green);
            }
        }

        &.btn-decline {
            &::after,
            &::before {
                @include icon-color(secondary_4);
            }
        }
    }

    &.btn-icon-left {
        padding-left: 1.5rem;
        padding-right: 2rem;

        &::before {
            @extend %btn-icon;
        }

        &::after {
            content: unset;
        }
    }

    &.btn-icon-right {
        padding-left: 2rem;
        padding-right: 1.5rem;

        &::before {
            content: unset;
        }

        &::after {
            @extend %btn-icon;
        }
    }
}

.btn-icon {
    border: none;
    background: none;

    &::after {
        @extend %btn-icon;
    }
}
