.event-container {
    padding: 1rem 1rem 5rem 1rem;
    height: calc(100vh - 140px);
    overflow-y: auto;

    &-wrapper {
        margin-bottom: 0.375rem;
        display: flex;
        justify-content: space-between;
        .event-title {
            font-size: 1.125rem;
        }

        .event-date {
            display: block;
            font-size: 0.875rem;
            opacity: 0.66;
        }

        p {
            font-size: 0.875rem;
        }

        &-content {
            max-width: 70%;
        }

        &-category {
            span {
                display: block;
                line-height: 1.6;
                font-size: 0.875rem;
                background-color: rgba($event-bg, 0.3);
                border-radius: 20px;
                padding: 2px 12px;
                color: $event;
            }
        }
    }

    .event-registration-banner {
        @extend .welcome-message;

        .message-content {
            @extend .welcome-message-content;

            a {
                color: $secondary_4;
                text-decoration: underline;
                text-decoration-color: $secondary_4;
            }
        }
    }

    .event-section {
        margin: 0 -1rem;
        padding: 1rem 1rem 2rem 1rem;
        border-bottom: 2px solid $border;
        &-title {
            font-size: 1.125rem;
            margin-bottom: 1rem;
        }

        .event-section-label {
            font-size: 0.875rem;
            width: 35%;
        }

        .event-section-form {
            display: flex;
            align-items: center;

            .row-input {
                width: 100%;
                display: flex;
                align-items: center;

                label {
                    font-size: 0.875rem;
                    width: 35%;
                }
            }

            &-flex {
                display: flex;
                align-items: center;

                .event-section-form {
                    width: 100%;

                    label {
                        width: calc(35% + 60px);
                    }

                    > .btn {
                        margin-left: 0.5rem;
                        min-width: 180px;

                        @include media-breakpoint-down(sm) {
                            margin-left: 0;
                            margin-top: 1rem;
                        }
                    }
                }

                @include media-breakpoint-down(lg) {
                    flex-direction: column;

                    label {
                        margin-right: 8px;
                    }
                }
            }

            div.js-country-select {
                width: 100%;
            }

            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }
        }

        .event-section-form-adjusted {
            display: flex;
            align-items: center;
            width: 100%;

            .row-input {
                display: flex;
                align-items: center;
                width: 100%;

                div {
                    width: 100%;
                }

                label {
                    width: calc(35% - 30px);
                }

                .btn-link {
                    @include media-breakpoint-down(sm) {
                        margin-left: 0;
                    }
                }

                @include media-breakpoint-down(sm) {
                    justify-content: center;
                }
            }
        }

        select,
        input,
        .ss-main.js-country-select {
            background-color: $light-bg;
            padding: 8px 12px;
        }

        .ntf-filter-wrap {
            @include media-breakpoint-down(md) {
                flex-direction: column;
            }
        }

        .ntf-filter-search-wrap.ntf-filter-search-wrap-grid {
            .ntf-filter-wrap {
                flex-wrap: wrap;
            }

            @include media-breakpoint-down(md) {
                flex-direction: column;
            }
        }
    }

    .event-section-table {
        .event-section-table-wrap {
            display: flex;

            &:has(.nothing-to-show) {
                .event-section-label {
                    display: none;
                }
            }

            @include media-breakpoint-down(lg) {
                flex-direction: column;
            }
        }
    }

    .event-section-table-modified {
        margin: 0 -2rem;

        .event-section-title {
            padding-left: 1rem;
        }

        .event-section-content-download {
            padding-left: 1rem;
        }
    }

    .event-section-participants-form {
        &-wrap {
            &-div {
                display: flex;
                align-items: center;

                .row-input {
                    width: 100%;

                    &.error-input {
                        ul {
                            padding-left: 35%;
                        }
                    }
                }

                .row-input select,
                .row-input div.js-item-select {
                    width: 65%;
                }

                select {
                    padding: 4px 12px;
                    height: 40px;
                    color: $placeholder;
                    @extend %icon-chevron;
                    position: relative;
                    appearance: none;
                    background-position: calc(100% - 17px);
                    background-size: 24px;
                }

                .row-input,
                .email-select {
                    display: flex;
                    margin-top: 2rem;

                    label {
                        width: 35%;
                    }
                }
            }

            &-div:first-of-type {
                label {
                    display: flex;
                    align-items: center;
                }
            }

            &-div.event-section-participants-form-wrap-div-pcp {
                .row-input {
                    display: block;

                    > label {
                        overflow: auto; // Clearfix
                        width: 35%;
                    }

                    div.js-item-select,
                    div.js-email-select {
                        width: 65%;
                        float: right;
                        padding: 6px;
                    }
                }

                .external-users-notice {
                    font-size: 0.875rem;
                    color: rgba($secondary_1, 0.66);
                    display: block;
                    width: calc(65% - 0.625rem);
                    margin-left: auto;
                    margin-top: 0.5rem;

                    @include media-breakpoint-down(md) {
                        width: calc(65% - 1rem);
                    }
                }
            }
        }

        .event-section-participants-form-wrap-div-pcp-double > div.row-input {
            display: flex;
            align-items: center;
            margin-top: 1rem;

            label {
                width: 35%;
            }

            select {
                width: 65%;
            }
        }

        .row-input-group {
            display: flex;
            width: 100%;
        }

        &-actions {
            margin-top: 1rem;
            label {
                width: 35%;
            }
        }
    }

    .event-links {
        list-style: none;
        padding: 0;
        margin-top: 1rem;
        li {
            color: $secondary-4;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 2;

            a {
                display: inline-flex;
                align-items: center;
                text-decoration: underline;
                text-decoration-color: $border;
                text-decoration-thickness: 2px;
                text-underline-offset: 3px;

                &::after {
                    content: '';
                    @extend %icon-external;
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    margin-left: 4px;
                }
            }
        }
    }

    &-actions {
        > *:first-child {
            margin-top: 1.5rem;
        }

        .event-action {
            .btn-primary {
                margin-top: 0.75rem;
            }

            span {
                font-size: 1rem;
            }

            + .event-action {
                margin-top: 1.25rem;
            }
        }
    }

    &.event-container-no-x-overflow {
        @include media-breakpoint-up(lg) {
            overflow-x: hidden;
        }
    }

    .btn.remove-all-countries {
        margin: 2rem 0;
        margin-left: calc(100% - 140px);
    }

    .admin-form-participants {
        > .btn-group {
            padding: 1rem;
        }

        .event-list {
            input[type='checkbox'] {
                padding: revert;
            }

            input[type='checkbox']:checked {
                background-color: $secondary_4;
                border-color: $secondary_4;
            }
        }
    }
}

.event-status,
.event-state {
    border-radius: 1rem;
    padding: 0.0625rem 0.75rem 0.125rem;
    background-color: $gray;
    display: inline-block;

    &.status-declined,
    &.status-unanswered,
    &.status-pending,
    &.not-invited,
    &.event-state-inactive {
        color: #98561b;
        background-color: rgba(#f2994a, 0.3);
    }

    &.status-accepted,
    &.status-invited,
    &.event-state-active {
        color: #0e6c36;
        background-color: rgba(#219653, 0.3);
    }
}

.event-actions {
    position: absolute;
    bottom: 0;
    width: stretch;
    border-top: 2px solid $secondary-3;
    margin: 0 0 0 -16px;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    background-color: $white;
    z-index: 10;

    .btn {
        margin-left: auto;
    }

    &:has(.btn.btn-link-plain) {
        .btn {
            margin-left: unset;
        }
    }

    .btn.btn-link.btn-link-plain {
        margin-right: 2rem;
    }

    @include media-breakpoint-down(md) {
        flex-direction: column;

        .btn {
            margin-bottom: 8px;
        }

        .btn.btn-link.btn-link-plain {
            margin-right: 0;
        }
    }
}

.event-invitation-actions {
    min-width: 310px;
    .btn-icon-external {
        &::after {
            filter: none;
            margin-left: -6px;
            margin-top: 3px;
        }
    }

    a {
        color: $secondary_4;
        font-weight: 600;
    }

    a:not(.btn) {
        margin-left: 2rem;
        position: relative;
        top: 1px;
    }
}

.event-hosting-table {
    & + .event-hosting-table {
        margin-top: 2rem;
    }
}

// .dropdown-menu.dropdown-menu-links {
//     .dropdown-item {
//         a {
//             padding-left: 8px;
//         }

//         i {
//             position: relative;

//             &.icon-external-dark {
//                 &::before {
//                     @extend %icon-external-dark;
//                     width: 1.5rem;
//                     height: 1.5rem;
//                 }
//             }
//         }
//     }
// }
