// Section styles

.backoffice-container {
    flex: 1;

    &.page-actions-fixed {
        margin-bottom: calc(4.5rem - 0rem);
    }

    .impersonation-active & {
        min-height: calc(100vh - 5rem - 3.25rem - 4.625rem);
    }

    .backoffice-container-title {
        color: $secondary_1;
        padding: 1rem;

        font-size: 1.25rem;
    }
}

.backoffice-section {
    padding: 1rem;

    + .backoffice-section,
    .backoffice-container-title + &,
    + * > .backoffice-section {
        border-top: 2px solid $secondary_2;
    }

    .backoffice-section-title {
        color: $secondary_1;

        font-size: 1.125rem;
        line-height: 1.2;
        font-weight: 600;

        + .backoffice-section-description {
            margin-top: 0.25rem;
            font-size: 0.75rem;
            line-height: 1.5;
            color: rgba($secondary_1, 0.66);
        }

        ~ .backoffice-section-content {
            margin-top: 1rem;
        }
    }

    .backoffice-section-content:first-child {
        .backoffice-table-view {
            margin-top: -1rem;
        }
    }

    .backoffice-section-actions {
        display: flex;
        justify-content: space-between;

        .backoffice-section-actions-right {
            margin-left: auto;
        }

        .backoffice-section-actions-left {
            + .backoffice-section-actions-right {
                margin-left: unset;
            }
        }

        a,
        button {
            margin-top: 1rem;
        }
    }
}

// Page actions styles (e.g. next page, discard, save)

.ngsb-form-controls {
}

.backoffice-page-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
    background-color: $white;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        inset: 0px 0 calc(100% - 2px) 0;
        background-color: $secondary_2;
    }

    .backoffice-page-actions-right {
        margin-left: auto;
    }

    .backoffice-page-actions-left {
        + .backoffice-page-actions-right {
            margin-left: unset;
        }
    }

    .backoffice-page-actions-left,
    .backoffice-page-actions-right {
        display: flex;
        gap: 1rem;

        button,
        a {
            margin: 1rem 0;
        }
    }

    &.page-actions-fixed {
        position: fixed;
        inset: auto 0 0 15.5rem;
    }
}

// Table styles

.backoffice-table-view {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
}

.backoffice-table-view {
    .backoffice-table-head {
        tr {
            border-bottom: 2px solid $secondary_2;

            th {
                font-size: 0.875rem;
                line-height: 1.4;
                font-weight: 400;
                color: rgba($secondary_1, 0.54);
                padding: 0.875rem 0;

                &:first-child {
                    padding-left: 1rem;
                }
            }
        }
    }

    .backoffice-table-body {
        font-size: 0.875rem;
        line-height: 1.4;

        tr {
            &:not(:last-child) {
                border-bottom: 2px solid $secondary_2;
            }

            td {
                padding: 0.75rem 0;

                &:first-child {
                    padding-left: 1rem;
                }

                &.backoffice-table-row-title {
                    font-weight: 600;
                }
            }
        }

        .backoffice-table-row-highlight {
            background-color: rgba($secondary_4, 0.05);
        }
    }

    + .backoffice-section-actions {
        border-top: 2px solid $secondary_2;
        margin-left: -1rem;
        margin-right: -1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
