%icon-dashboard {
    background: url("../assets/icons/icon_dashboard.svg") no-repeat center center;
}

%icon-bookmarks {
    background: url("../assets/icons/icon_bookmarks.svg") no-repeat center center;
}

%icon-conversations {
    background: url("../assets/icons/icon_conversations.svg") no-repeat center center;
}

%icon-info {
    background: url("../assets/icons/icon_info.svg") no-repeat center center;
}

%icon-close {
    background: url("../assets/icons/icon_close.svg") no-repeat center center;
}

%icon-date {
    background: url("../assets/icons/icon_date.svg") no-repeat center center;
}

%icon-plus {
    background: url("../assets/icons/icon_plus.svg") no-repeat center center;
}

%icon-download {
    background: url("../assets/icons/icon_download.svg") no-repeat center center;
}

%icon-logout {
    background: url("../assets/icons/icon_logout.svg") no-repeat center center;
}

%icon-arrow {
    background: url("../assets/icons/icon_arrow_left.svg") no-repeat center center;
}

%icon-arrow-white {
    background: url("../assets/icons/icon_arrow_white.svg") no-repeat center center;
}

%icon-search {
    background: url("../assets/icons/icon_search.svg") no-repeat center center;
}

%icon-docs {
    background: url("../assets/icons/icon_docs.svg") no-repeat center center;
}

%icon-overview {
    background: url("../assets/icons/icon_overview.svg") no-repeat center center;
}

%icon-delete {
    background: url("../assets/icons/icon_delete.svg") no-repeat center center;
}

%icon-warning {
    background: url("../assets/icons/icon_warning.svg") no-repeat center center;
}

%icon-external {
    background: url("../assets/icons/icon_external.svg") no-repeat center center;
}

%icon-external-dark {
    background: url("../assets/icons/icon_exteral_dark.svg") no-repeat center center;
}

%icon-dots {
    background: url("../assets/icons/icon_dots.svg") no-repeat center center;
}

%icon-filter {
    background: url("../assets/icons/icon_filter_red.svg") no-repeat center center;
}

%icon-check {
    background: url("../assets/icons/icon_check.svg") no-repeat center center;
}

%icon-check-white {
    background: url("../assets/icons/icon_check_white.svg") no-repeat center center;
}

%icon-x {
    background: url("../assets/icons/icon_close_small.svg") no-repeat center center;
}

%icon-view {
    background: url("../assets/icons/icon_view.svg") no-repeat center center;
}

%icon-edit {
    background: url("../assets/icons/icon_edit.svg") no-repeat center center;
}

%icon-chevron {
    background: url("../assets/icons/icon_chevron.svg") no-repeat center center;
}

%icon-check {
    background: url("../assets/icons/icon_check.svg") no-repeat center center;
}

%icon-alert {
    background: url("../assets/icons/icon_alert.svg") no-repeat center center;
}

%icon-star {
    background: url("../assets/icons/icon_star.svg") no-repeat center center;
}

%icon-star-filled {
    background: url("../assets/icons/icon_star_filled.svg") no-repeat center center;
}

%icon-copy {
    background: url("../assets/icons/icon_copy.svg") no-repeat center center;
}

%icon-user-cancel {
    background: url("../assets/icons/icon_user_cancel.svg") no-repeat center center;
}

%icon-user-check {
    background: url("../assets/icons/icon_user_check.svg") no-repeat center center;
}

%icon-trash {
    background: url("../assets/icons/icon_delete.svg") no-repeat center center;
}

%icon-rename {
    background: url("../assets/icons/icon_edit.svg") no-repeat center center;
}

%icon-save {
    background: url("../assets/icons/icon_save.svg") no-repeat center center;
}

%icon-list {
    background: url("../assets/icons/icon_list.svg") no-repeat center center;
}

%icon-user-group {
    background: url("../assets/icons/icon_user_group.svg") no-repeat center center;
}

%icon-notifications {
    background: url("../assets/icons/icon_notifications_dark.svg") no-repeat center center;
}

