html, body {
    background-color: $white;
}

.app-container .app-main__outer {
    transition: all .2s ease-in-out;

    @include media-breakpoint-down(md) {
        padding-top: 5rem;
    }
}

.impersonation-active {
    .app-header {
        top: 3.25rem;

        @media (max-width: 600px) {
            top: 4.8125rem;
        }
    }

    .app-container {
        margin-top: 3.25rem;

        @media (max-width: 600px) {
            margin-top: 4.8125rem;
        }
    }

    .app-sidebar {
        top: 3.25rem;
        height: calc(100vh - 3.25rem);

        @media (max-width: 600px) {
            top: 9rem;
            height: calc(100vh - 9rem);
        }
    }
}

.fixed-sidebar.app-container .app-main__outer {
    z-index: 9;
    padding-left: 15.5rem;
    padding-top: 5rem;

    @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-top: 4.25rem;
    }
}

.closed-sidebar.fixed-sidebar .app-main__outer {
    padding-left: 4.6875rem;

    @include media-breakpoint-down(md) {
        padding-left: 0;
    }
}

.chat-container {
    height: calc(100vh - #{$chat-header-height});
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    background-size: cover;
    cursor: pointer;
    @extend %icon-close;
}

.impersonation-active-panel {
    background: $primary_0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;

    @media (max-width: 600px) {
        flex-direction: column;
    }

    p {
        display: flex;
        align-items: center;

        &::before {
            content: "";
            width: 1rem;
            height: 1rem;
            display: block;
            border-radius: 50%;
            margin-right: 0.5rem;
            @extend %icon-info;
        }
    }

    span {
        font-weight: 600;
        margin-left: 0.5rem;
    }

    .btn-user-switch-back {
        text-transform: uppercase;
        color: $secondary_4;
        border: 2px solid rgba($black, .12);
        border-radius: 20px;
        font-size: 0.75rem;
        height: 2.25rem;

        @media (max-width: 600px) {
            margin-top: 0.25rem;
        }
    }
}
