.modal {
    &.show-spinner {
        .spinner#spinner {
            display: block;
        }

        .modal-content > * {
            display: none;
        }
    }

    @include media-breakpoint-up(sm) {
        .modal-wide.modal-dialog {
            --bs-modal-width: 630px;
        }
    }

    .modal-content {
        border-radius: 4px;
        padding: 32px;
        min-height: 200px;
        gap: 8px;

        p {
            margin: 0;
        }
        .modal-header {
            padding: 0;
            border: none;
            justify-content: center;

            .modal-title {
                display: flex;
                flex-direction: column;
                gap: 8px;

                &.centered {
                    align-items: center;
                    text-align: center;
                }

                i {
                    display: flex;

                    &::before {
                        content: '';
                        width: 56px;
                        height: 56px;
                        display: inline-block;
                    }

                    &.icon-error::before {
                        @extend %icon-warning;
                    }

                    &.icon-close::before {
                        transform: scale(1.25);
                        width: 12px;
                        height: 12px;
                        @extend %icon-close;
                    }
                }

                .close-modal {
                    all: unset;
                    cursor: pointer;
                    position: absolute;
                    right: 20px;
                    top: 20px;
                }

                p {
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 1.2;
                }
            }
        }

        .modal-body {
            font-size: 14px;
            padding: 0;

            &.centered {
                text-align: center;
            }

            .modal-form-input {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                align-items: flex-start;

                div.cke,
                div.cke.cke_chrome {
                    width: 100%;
                }
            }
        }

        .modal-footer {
            padding: 0;
            border-top: none;
            margin-top: 32px;

            &.centered {
                justify-content: center;
            }

            > * {
                margin: 0;
            }

            .btn-primary {
                &::after {
                    content: unset;
                }
            }

            .btn-secondary {
                border: none;
            }
        }
    }
}
