.my-account {


    &__image-container {
        display: flex;
        gap: 1rem;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }

    &__avatar {
        border-radius: 4px;
        max-width: 200px;
        max-height: 200px;

        @include media-breakpoint-down(sm) {
            align-self: flex-start;
        }

        &[src=''] {
            display: none;
        }
    }

    .custom-image-upload {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .file-wrapper {
            width: unset;
        }

        .btn-replace-image {
            align-self: flex-start;
            margin-left: 0.5rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1.5rem 1rem;

        > div {
            display: grid;
            grid-template-columns: 35% 1fr;
            column-gap: 1rem;

            row-gap: 0.5rem;

            @include media-breakpoint-down(sm) {
                grid-template-columns: 1fr;
            }

            label {
                flex: 35%;
                color: $secondary_1;
                margin-right: 0;
                font-size: 0.875rem;
                line-height: 1.4;
            }

            label[for='preferences_email_consent'] {
                width: auto;
            }

            > input,
            > .ss-main,
            > .cke,
            .custom-image-upload,
            select {
                width: 100%;

                @include media-breakpoint-down(sm) {
                    max-width: unset;
                }
            }

            > input[type='checkbox'] {
                min-width: unset;
                max-width: 20px;
            }

            .errors {
                flex: 100%;
                margin-left: calc(35% + 1rem);

                @include media-breakpoint-down(sm) {
                    margin-left: 0;
                }
            }
        }

        > .checkbox-row {

            @include media-breakpoint-down(sm) {
                grid-template-columns: 1fr minmax(auto, 50%);
            }

            label {
                grid-row: 1;
                grid-column: 1;
            }

            input {
                grid-row: 1;
                grid-column: 2;
            }

            .extra-label {
                grid-row: 1;
                grid-column: 2;
                margin-left: 1.625rem;
                font-size: 0.875rem;
                font-weight: 600;
            }
        }

        &[name='change_password'] {

            @include media-breakpoint-down(lg) {
                input:not([type='checkbox']) {
                    min-width: 100%;
                }
            }

            div:nth-child(1),
            div:nth-child(2),
            div:nth-child(3) {
                position: relative;
                margin-bottom: 1.25rem;

                @include media-breakpoint-down(lg) {
                    margin-bottom: 0.5rem;
                }

                ul {
                    flex: 100%;
                    margin-left: calc(35% + 1rem);
                    position: absolute;
                    list-style: none;
                    top: 3rem;
                    padding-left: 0;

                    @include media-breakpoint-down(lg) {
                        margin-left: 0;
                        margin-bottom: 0;
                        right: 0;
                        position: revert;
                        grid-row: 2;
                        grid-column: 2;
                    }

                    @include media-breakpoint-down(sm) {
                        grid-column: 1;
                        grid-row: 3;
                    }

                    li {
                        color: $red;
                        font-size: 0.75rem;
                        display: flex;
                        align-items: center;

                        &::before {
                            content: '';
                            @extend %icon-alert;
                            margin-right: 0.25rem;
                            width: 1rem;
                            height: 1rem;
                            display: inline-block;
                        }
                    }
                }
            }

            div:nth-child(3) {
                margin-bottom: 0;
            }
        }
    }

    .change-email-wrapper {
        .email-domain {
            display: inline-flex;
            align-items: center;
            font-size: 0.875rem;
            font-weight: 600;
            height: 2.5rem;
            border: 2px solid $light-bg;
            background-color: $light-bg;
            color: $border-hover;
            border-radius: 4px;
            width: 330px;
            padding: 0 0.75rem 0 1rem;
        }
    }

    .form-actions-password-requirements {
        margin-bottom: 1rem;
        width: calc(65% - 1rem);
        margin-left: auto;
        display: inline-block;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }

        p {
            font-size: 0.875rem;
            color: $gray-54;
            margin-bottom: 0;
        }
    }

    .form-actions {
        display: flex;
        gap: 1rem;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
            justify-content: flex-start;
        }

        button {

            @include media-breakpoint-down(lg) {
                margin-bottom: 0.5rem;
            }
        }
    }

    &.my-account-preferences {

        div.checkbox-row {
            display: flex;
            align-items: center;
            width: max-content;
            min-width: 530px;

            span.extra-label {
                margin-left: 0;
            }

            @include media-breakpoint-down(sm) {
                min-width: auto;
                flex-direction: column;
            }
        }

        .form-actions {
            justify-content: flex-start;
        }
    }
}
