.app-sidebar {
    background-color: $white;
    position: fixed;
    height: 100vh;
    width: 248px;
    min-width: 248px;
    display: flex;
    z-index: 11;
    flex: 0 0 248px;
    top: 0;
    transition: all 0.2s;
    border-right: 2px solid $secondary_2;
    overflow: hidden;
    padding: 1.25rem 1.25rem 1.25rem 0;

    @include media-breakpoint-down(md) {
        width: 280px;
        top: 4.25rem;
        filter: drop-shadow(8px 8px 32px rgba(0, 0, 0, 0.1));
    }
}

.closed-sidebar .app-sidebar {
    transition: all 0.2s ease-in-out;
    width: 75px;
    min-width: 75px;
    flex: 0 0 75px;
    z-index: 13;

    @include media-breakpoint-down(md) {
        width: 280px;
    }

    .sidebar-wrapper {
        width: revert;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
}

@include media-breakpoint-down(md) {
    .app-container:not(.closed-sidebar) {
        .app-sidebar {
            transform: translateX(-280px);
            filter: none;
        }
    }
}

.sidebar-wrapper {
    width: 100%;

    &__logo {

        @include media-breakpoint-down(md) {
            display: none;
        }

        img {
            width: 166px;
            height: 40px;
            object-fit: cover;
            margin-left: 1.125rem;
        }
    }
}

.sidebar-toggle {
    position: absolute;
    right: 0;
    top: 63px;
    background-color: $light-bg;
    width: 1.75rem;
    height: 2rem;
    border-radius: 24px 0 0 24px;
    padding-left: 0.75rem;
    font-size: 0.875rem;
    transition: all 0.2s ease-in-out;
    z-index: 20;
    border: none;

    @include media-breakpoint-down(md) {
        display: none;
    }

    i {
        color: $secondary_1;
        opacity: 0.4;
        transition: all 0.2s ease-in-out;

        .closed-sidebar & {
            transform: rotate(180deg);
        }
    }

    &:hover {
        width: 2.125rem;

        i {
            opacity: 1;
        }
    }
}

.sidebar-menu {
    margin-top: 3.75rem;
    padding-left: 0.5rem;
    max-height: calc(100% - 280px);
    overflow-y: auto;
    overflow-x: hidden;
    color: $secondary_1;

    @include media-breakpoint-down(md) {
        margin-top: 0;
        max-height: calc(100% - 230px);
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            font-size: 0.875rem;
            margin: 0.5rem 0;
            width: 200px;
            position: relative;
            border-radius: 4px;

            a {
                transition: all 0.2s ease-in-out;
                padding: 0.8rem 1rem 0.8rem 3rem;
                z-index: 10;
                position: relative;
                display: block;
                width: 100%;

                .closed-sidebar & {
                    opacity: 0;

                    @include media-breakpoint-down(md) {
                        opacity: 1;
                    }
                }
            }

            &:hover {
                background-color: $secondary_2;
            }

            &.current {
                background-color: $secondary_2;
            }

            i {
                + span.menu-ntf-count:not(:empty) {
                    position: absolute;
                    background: $primary_0;
                    min-width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    font-size: 0.625rem;
                    font-weight: 600;
                    line-height: 1.6;
                    top: 0.5rem;
                    left: 0.625rem;
                    border: 1px solid rgba(37, 45, 64, 0.12);
                    padding-right: 0.0625rem;
                    text-align: center;
                    font-style: normal;
                }
            }

            i::before {
                content: '';
                width: 1.5rem;
                height: 1.5rem;
                background-repeat: no-repeat;
                position: absolute;
                top: 0.6875rem;
                left: 1rem;
            }

            i.icon-dashboard::before {
                @extend %icon-dashboard;
            }

            i.icon-conversations::before {
                @extend %icon-conversations;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        li.has-submenu {
            > div {
                padding: 0.625rem 0 0.625rem 2.875rem;
                cursor: pointer;

                span:not(.menu-ntf-count) {
                    transition: all 0.2s ease-in-out;
                    pointer-events: none;

                    .closed-sidebar & {
                        opacity: 0;

                        @include media-breakpoint-down(md) {
                            opacity: 1;
                        }
                    }
                }

                span.submenu-toggle-icn {
                    background: transparent;
                    display: block;
                    width: 1.875rem;
                    height: 1.875rem;
                    position: absolute;
                    right: 0;
                    top: 0.375rem;
                    z-index: 10;
                    pointer-events: all;
                }

                + ul.menu_level_1 {
                    li > div > i {
                        &::before {
                            display: none;
                        }
                    }
                }
            }

            li {
                width: 100%;

                > div {
                    padding-left: 3rem;
                }

                > ul {
                    padding-left: 3rem;
                }
            }
            > div > i::before {
                content: '';
                width: 1.5rem;
                height: 1.5rem;
                background-repeat: no-repeat;
                display: inline-block;
                position: absolute;
                top: 0.5625rem;
                left: 1rem;
            }

            ul.menu_level_1 {
                padding: 0 0 0.3125rem 0;
                background-color: $secondary_2;
                width: 100%;
                display: none;

                a {
                    width: 90%;
                    border-radius: 4px;
                    padding: 0.125rem 0.25rem;
                    margin: 0.125rem;

                    &:hover {
                        background: $light-bg;
                    }
                }

                &.submenu-open {
                    display: block;
                }

                .closed-sidebar & {
                    opacity: 0;

                    @include media-breakpoint-down(md) {
                        opacity: 1;
                    }
                }

                &.active {
                    display: block;
                }
            }

            &::after {
                font-family: 'Font Awesome 5 Free';
                content: '\f078';
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                color: inherit;
                position: absolute;
                font-weight: 600;
                right: 0.125rem;
                top: 0.75rem;
                text-align: center;
                transition: all 0.2s ease-in-out;
                transform-origin: 50% 40%;
                cursor: pointer;
            }

            &.active {
                background-color: $secondary_2;

                &::after {
                    transform: rotateX(180deg);
                }

                .closed-sidebar & {
                    background-color: transparent;

                    @include media-breakpoint-down(md) {
                        background-color: $secondary_2;
                    }
                }
            }
        }

        li:not(.has-submenu) {
            > div > i:before {
                top: 50%;
                transform: translateY(-50%);
            }
        }

        li.current_ancestor.has-submenu {
            background-color: $secondary_2;
            > div,
            div > span {
                pointer-events: none;
            }

            .menu_level_1 {
                display: block;

                .current a {
                    background: $gray;
                    font-weight: 600;
                }
            }
        }
    }
}

.sidebar-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid $secondary_2;
    padding: 1.625rem 1.625rem 1.625rem 0.5rem;

    @include media-breakpoint-down(md) {
        bottom: 4.25rem;
    }

    .avatar {
        height: 40px;
        min-height: 40px;
        width: 40px;
        min-width: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 8px;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            font-size: 0.875rem;
            margin: 0.5rem 0;
            width: 200px;
            position: relative;
            border-radius: 4px;

            a {
                transition: all 0.2s ease-in-out;
                padding: 0.8rem 1rem 0.8rem 3.5rem;
                z-index: 10;
                position: relative;
                display: block;
                width: 100%;

                .closed-sidebar & {
                    opacity: 0;

                    @include media-breakpoint-down(md) {
                        opacity: 1;
                    }
                }
            }

            &:hover {
                background-color: $secondary_2;
            }

            i {
                font-style: normal;

                &:before {
                    content: '';
                    width: 1.5rem;
                    height: 1.5rem;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 0.6875rem;
                    left: 1rem;

                }
            }
        }
    }

    .user-settings {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        user-select: none;
        cursor: pointer;

        i span {
            margin-right: 0.5rem;
            background: $secondary_2;
            border-radius: 100%;
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.625rem;
            font-weight: 800;
        }

        a {
            padding: 0;
        }
    }

    .user-settings-menu-wrap {
        position: relative;

        .user-settings {
            > div {
                width: 100%;
                transition: all 0.2s ease-in-out;
                padding-right: 4px;

                @include media-breakpoint-up(md) {
                    .closed-sidebar & {
                        opacity: 0;
                    }
                }
            }

            &::after {
                font-family: 'Font Awesome 5 Free';
                content: '\f078';
                display: inline-block;
                width: 1rem;
                height: 1rem;
                color: inherit;
                font-weight: 600;
                transform: rotate(-90deg);
                margin-right: 0.5rem;
            }
        }
    }

    .user-settings-menu {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        bottom: 7.5rem;
        z-index: 9999;
        background-color: $white;
        color: $secondary_1;
        left: 0.25rem;
        max-width: 240px;

        &__header {
            padding: 2rem 1.5rem;
            text-align: center;
            img, .user-icon {
                height: 3.5rem;
                width: 3.5rem;
                border-radius: 50%;
                object-fit: cover;
                margin: 0 auto 1.5rem;
            }

            .user-icon {
                background-color: $primary_2;
                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    content: url('../assets/icons/icon_user.svg');
                }
            }

            h6 {
                font-size: 0.875rem;
                font-weight: 600;
            }
        }

        &__body {
            border-top: 2px solid $secondary_2;
            border-bottom: 2px solid $secondary_2;

            ul {
                padding: 1rem 1.5rem;
                margin-bottom: 0;

                li {
                    position: relative;
                    margin: 0.6rem 0;
                    a {
                        padding: 0;

                        &::after {
                            font-family: 'Font Awesome 5 Free';
                            content: '\f078';
                            display: inline-block;
                            width: 1.5rem;
                            height: 1.5rem;
                            color: inherit;
                            position: absolute;
                            font-weight: 600;
                            right: 0;
                            top: -2px;
                            text-align: center;
                            cursor: pointer;
                            transform: rotate(-90deg);
                        }
                    }

                    &:hover {
                        background: none;

                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &__footer {
            padding: 1rem 1.5rem;
            a {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 0.875rem;

                &::after {
                    content: "";
                    @extend %icon-logout;
                    width: 1rem;
                    height: 1rem;
                }
            }
        }

        &--visible {
            display: block;
        }
    }
}
