{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% trans_default_domain 'ngmore_errors' %}

{% set site_title = 'ngmore.errors.500.title'|trans %}

{% block content %}
    <h1>{{ 'ngmore.errors.500.title'|trans }}</h1>

    <div>{{ 'ngmore.errors.500.message'|trans }}</div>
{% endblock %}
