{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% block content %}
    <h1>y Oolala! An Error Occurred</h1>
    <h2>The server returned a "500 Internal Server Error".</h2>

    <div>
        Something is broken. Please let us know what you were doing when this error occurred.
        We will fix it as soon as possible. Sorry for any inconvenience caused.
    </div>
{% endblock %}
