{% extends ezpublish.configResolver.parameter('pagelayout') %}

{% trans_default_domain 'ngmore_errors' %}

{% set site_title = 'ngmore.errors.default.title'|trans %}

{% block content %}
	<div class="site-error">
	    <h1>{{ 'ngmore.errors.default.title'|trans }}</h1>

	    <div>{{ 'ngmore.errors.default.message'|trans }}</div>
	</div>
{% endblock %}
