{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import "@ibexadesign/content/macros/links.html.twig" as links %}
{% import '@NetgenToolbar/macros.html.twig' as toolbar_macros %}

<article {{ toolbar_macros.item_params(content, location) }} class="view-type view-type-{{ view_type }} ng-banner vl6">
    <h3 class="title">
        {{ links.content_link(content, content.fields.title.value.text) }}
    </h3>
    {% if with_intro|default(false) %}
        <div class="short">
            {{ ng_render_field(content.fields.description) }}
        </div>
    {% endif %}
</article>
