{% extends nglayouts.layoutTemplate %}

{% trans_default_domain 'ngsite_errors' %}

{% set site_title = 'ngsite.errors.404.title'|trans %}

{% block content %}
    <div class="container">
        <div class="site-error text-center">
            <h1 class="site-error-title">{{ 'ngsite.errors.404.title'|trans }}</h1>
            <h2 class="site-error-subtitle">{{ 'ngsite.errors.default.subtitle'|trans }}</h2>

            <h3 class="site-error-description">{{ 'ngsite.errors.404.message'|trans }}</h3>
        </div>
        <div class="site-error-buttons text-center">
            <button class="btn btn-primary">
                {{ 'ngsite.errors.button.back'|trans }}
            </button>
        </div>
    </div>
{% endblock %}
