{# File - embed view #}

<div class="content-view-embed file">
    <div class="att-file mime-type-{{ ez_field_value( content, 'file' ).mimeType|replace( '/', '-' ) }}">
        {{ ez_render_field( content, 'file' ) }}
    </div>
</div>
