{% if not ez_is_field_empty( content, 'image' ) %}
    {% set responsive_image_class = 'ng_responsive_full' %}

    {% if objectParameters.align|default( '' ) is not empty %}
        {% set responsive_image_class = 'ng_responsive_half' %}
    {% endif %}

    <div class="content-view-embed image">
        <div class="att-image">
            {{ ez_render_field(
                content,
                'image', {
                    'parameters': {
                        'alias': responsive_image_class,
                        'link_href': link_href|default( '' ),
                        'link_class': objectParameters.link_class|default( '' ),
                        'link_id': objectParameters.link_id|default( '' ),
                        'link_title': objectParameters.link_title|default( '' ),
                        'link_target': objectParameters.link_target|default( '' )
                    }
                }
            ) }}
        </div>

        {% if not ez_is_field_empty( content, 'caption' ) %}
            {% set image_alias = ez_image_alias( ngmore_field( content, 'image' ), content.versionInfo, objectParameters.size ) %}
            {% if image_alias.width is defined and image_alias.width is not empty %}
                <div class="att-caption" style="width: {{ image_alias.width }}px">
                    {{ ez_render_field( content, 'caption' ) }}
                </div>
            {% else %}
                <div class="att-caption">
                    {{ ez_render_field( content, 'caption' ) }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
