{# NG feedback form - embed view #}

<div class="content-view-embed ng-feedback-form">

    <h3><a href="{{ path( 'ez_urlalias', { 'locationId': content.contentInfo.mainLocationId } ) }}">{{ ez_render_field( content, 'title' ) }}</a></h3>

</div>
