{# NG gallery - embed view #}

<div class="content-view-embed ng-gallery {% if not ez_is_field_empty( content, 'css_class' ) %}{{ ez_field_value( content, 'css_class' ).text }}{% endif %} clearfix">
    {{ render(
        controller(
            'ngmore.controller.parts:viewRelatedMultimedia', {
                'locationId': content.contentInfo.mainLocationId,
                'includeChildrenImages': true,
                'template': 'NetgenMoreDemoBundle:parts:related_multimedia.html.twig'
            }
        )
    ) }}
</div>
