{# NG news - embed view #}

{% set location_path = path( 'ez_urlalias', { 'locationId': content.contentInfo.mainLocationId } ) %}

<div class="content-view-embed ng-news">

    {% if not ez_is_field_empty( content, 'line_image' ) or not ez_is_field_empty( content, 'image' ) %}
        {% set image_field = not ez_is_field_empty( content, 'line_image' ) ? 'line_image' : 'image' %}

        <div class="att-image">
            {{ ez_render_field(
                content,
                image_field, {
                    'parameters': {
                        'alias': 'i320',
                        'link_href': location_path
                    }
                }
            ) }}
        </div>
    {% endif %}

    <h3><a href="{{ location_path }}">{{ ez_render_field( content, 'title' ) }}</a></h3>

</div>
