{# NG shortcut - embed view #}

{% extends 'NetgenMoreDemoBundle:parts:linkable.html.twig' %}

{% block content %}
    <div class="content-view-embed ng-shortcut">
        <h2 class="att-title"><a href="{{ url }}">{{ ez_render_field( content, 'title' ) }}</a></h2>
    </div>
{% endblock %}
