<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="modal-image" src="{{ asset('images/logo-for-modal.svg') }}">
                <a href="#" class="close " data-dismiss="modal" aria-label="Close">
                    <span class="icon-cancel"></span>
                </a>
            </div>
            <div class="modal-body" id="form-modal-body">

                1
                {# todo action ajax submit, -suffix, -label #}
                {{ ng_view_content(
                    content,
                    'payload',
                    {
                        params: {
                        referer: referer|default(null),
                        action: path('app_info_collection_handle_ajax_submit', { formContentId: content.id }),
                    }
                    }
                ) }}
                2
            </div>
        </div>
    </div>
</div>
