@mixin highlight {
    outline: none;
    background-color: $primary !important;
    color: color-contrast($primary) !important;
    .bg-color-primary & {
        background-color: color-contrast($primary) !important;
        color: $primary !important;
    }
}

@mixin custom-outline {
    outline: 2px transparent solid;
    box-shadow: 0 0 0 2px $white, 0 0 0 4px $black;
}

#skip-to-main-content,
#skip-to-cookie-banner {
    @include visually-hidden-focusable;
    position: fixed;
    z-index: 1055;
    top: $gap;
    left: 50%;
    transform: translate(-50%, -200%);
    background-color: $primary;
    color: $black;
    padding: 1rem;
    border-radius: 1rem;
    border: .0625rem solid $black;
    box-shadow: 0 .125rem 20px rgba($black, .5);
    transition: transform .125s ease;
    &:focus,
    &:focus-within {
        transform: translate(-50%, 0);
        @include highlight;
    }
}

a,
.btn,
button {
    outline: none;
    &:focus-visible {
        @include highlight;
    }
}

.image > a {
    &:focus-visible {
        @include custom-outline;
    }
}

.sr-only {
    position: absolute;
    left: -9999px;
}
