.sticky-sidebar-wrapper {
    position: absolute;
    left: 0;
    height: 100%;

    @include media-breakpoint-down(md) {
        position: static;
    }
}

.sticky-sidebar {
    position: sticky;
    top: 100px;
    height: 200px;

    @include media-breakpoint-down(md) {
        position: static;
        text-align: center;
        margin-bottom: 20px;
        height: auto;
    }
}


