#subscription-modal-body {

    .modal-header {
        align-items: flex-start;

        .modal-title {
            margin-right: 1rem;
            @include text-1_125;
            font-weight: 700;
        }

        .btn-close {
            margin: 0;
        }
    }

    .modal-body {
        p {
            margin: 0;
        }

        a {
            font-weight: 600;
            color: $secondary_4;
            border-bottom: 1px solid $secondary_4;
        }
    }

    .ntf-subscribe-widget {
        #subscription_widget_type {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1rem;

            & > div {
                display: flex;
                align-items: center;
            }
        }

        .type-options {
            label {
                display: none;
            }

            input {
                height: 1rem;
                width: 1rem;
                accent-color: $secondary_4;

                & + label {
                    padding-left: 0.5rem;
                    display: inline-block;
                }
            }
        }

        .digest-options {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0 0 1rem 1.5rem;

            label {
                display: none;
            }

            .form-select {
                @include text-1_125;
                font-weight: 600;
            }
        }

        button[type=submit] {
            width: 100%;
        }

        small {
            display: inline-block;
            text-align: center;
            color: rgba(37, 45, 64, 0.66);
            padding: 0 3rem;
            margin-top: 0.5rem;
            @include text-0_875;

            @include media-breakpoint-down(sm) {
                padding: 0;
            }
        }
    }

    .subscription-success {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .success-icon {
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $success-green;
            border-radius: 50%;
            margin-bottom: 1.5rem;

            &::before {
                content: url(../sass/assets/icons/icon_check.svg);
            }
        }
    }
}
