// breakpoints
$collapse-nav: lg;

// dimensions
$header-height: 5.9375rem;
$header-height-sm: 4rem;
$gutter: .9375rem;
$gap: 2 * $gutter;

// colours
$primary: #FED82F;
$secondary: #F8F9FC;
$white: hsl(0, 0, 100);
$black: hsl(0, 0, 0);
$gray-87: hsl(0, 0, 13);
$gray-64: hsl(0, 0, 36);
$gray-54: hsl(0, 0, 46);
$gray-38: hsl(0, 0, 62);
$gray-19: hsl(0, 0, 81);
$gray-12: hsl(0, 0, 88);
$gray-7: hsl(0, 0, 93);

$body-bg: $white;
$footer-bg: $black;

//filter colours
$filtered-colours: (
    primary: brightness(0) saturate(100%) invert(87%) sepia(98%) saturate(2775%) hue-rotate(328deg) brightness(102%) contrast(99%),
    secondary: brightness(0) saturate(100%) invert(100%) sepia(26%) saturate(567%) hue-rotate(178deg) brightness(100%) contrast(98%),
    white: brightness(0) saturate(100%) invert(92%) sepia(93%) saturate(32%) hue-rotate(251deg) brightness(107%) contrast(100%),
    black: brightness(0) saturate(100%) invert(0%) sepia(9%) saturate(7500%) hue-rotate(154deg) brightness(91%) contrast(108%),
);
