// dimensions
$header-height: 5.9375rem;
$header-height-sm: 4rem;
$gutter: .9375rem;
$gap: 2 * $gutter;
$impersonation-bar-height: 3rem;
$chat-header-height: 5rem;
$search-filter-max-width: 31.625rem;

$badge-green-bg: #219653;
$badge-green-text: #0E6C36;
$badge-red-bg: #F2994A;
$badge-red-text: #98561B;

// colours
$primary_0: #FFCD00;
$primary_1: #346094;
$primary_2: #BBC6D6;
$primary: #FED82F;
$secondary: #F8F9FC;
$secondary_0: #00396F;
$secondary_1: #252D40;
$secondary_2: #F3F3F3;
$secondary_3: #F9F1DE;
$secondary_4: #A31F34;
$border: #E8E8E8;
$border-hover: #ACAFB6;
$light-bg: #FAFAFA;
$border_2: #F1F2F3;
$gray: #E5E5E5;
$message: #2970EF;
$success-green: #4BC17C;
$white: hsl(0, 0, 100);
$black: hsl(0, 0, 0);
$gray-87: hsl(0, 0, 13);
$gray-64: hsl(0, 0, 36);
$gray-54: hsl(0, 0, 46);
$gray-38: hsl(0, 0, 62);
$gray-19: hsl(0, 0, 81);
$gray-12: hsl(0, 0, 88);
$gray-7: hsl(0, 0, 93);
$outline-color: #4D90FE;
$darkgray: #252d40a8;
$bordeaux: #8B1A2C;
$olive: #256540;
$olive-dark: #663939;
$accept: #BDF4D4;
$decline: #FFC6C6;
$placeholder: #757575;
$event: #98561B;
$event-bg: #F2994A;
$flash-ntf: #DBF3E5;
$flash-ntf-text: #187B42;
$red: #D93B3B;
$highlight: #FBF1C8;

$body-bg: $white;
$footer-bg: $black;

//filter colours
$filtered-colours: (
    primary: brightness(0) saturate(100%) invert(87%) sepia(98%) saturate(2775%) hue-rotate(328deg) brightness(102%) contrast(99%),
    secondary: brightness(0) saturate(100%) invert(100%) sepia(26%) saturate(567%) hue-rotate(178deg) brightness(100%) contrast(98%),
    white: brightness(0) saturate(100%) invert(92%) sepia(93%) saturate(32%) hue-rotate(251deg) brightness(107%) contrast(100%),
    black: brightness(0) saturate(100%) invert(0%) sepia(9%) saturate(7500%) hue-rotate(154deg) brightness(91%) contrast(108%),
);
