// dimensions
$header-height: 5.9375rem;
$header-height-sm: 4rem;
$gutter: .9375rem;
$gap: 2 * $gutter;

// colours
$primary: #FED82F;
$secondary: #F8F9FC;
$tertiary: #116273;
$white: hsl(0, 0, 100);
$black: hsl(0, 0, 0);
$gray-87: hsl(0, 0, 13);
$gray-64: hsl(0, 0, 36);
$gray-54: hsl(0, 0, 46);
$gray-38: hsl(0, 0, 62);
$gray-12: hsl(0, 0, 88);
$gray-7: hsl(0, 0, 93);

$body-bg: $white;
$footer-bg: $black;

//filter colours
$filtered-colours: (
    primary: brightness(0) saturate(100%) invert(87%) sepia(98%) saturate(2775%) hue-rotate(328deg) brightness(102%) contrast(99%),
    secondary: brightness(0) saturate(100%) invert(100%) sepia(26%) saturate(567%) hue-rotate(178deg) brightness(100%) contrast(98%),
    tertiary: brightness(0) saturate(100%) invert(11%) sepia(92%) saturate(4559%) hue-rotate(180deg) brightness(103%) contrast(87%),
    white: brightness(0) saturate(100%) invert(92%) sepia(93%) saturate(32%) hue-rotate(251deg) brightness(107%) contrast(100%),
    black: brightness(0) saturate(100%) invert(0%) sepia(9%) saturate(7500%) hue-rotate(154deg) brightness(91%) contrast(108%),
);


%clearfix {
    &::after {
        clear: both;
        display: table;
        content: '';
    }
}

%fontawesome {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

%hover-underline {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: .5rem;
        transform: scaleY(0);
        transform-origin: bottom;
        background: $primary;
        transition: transform .2s;
    }
    &:hover,
    &:focus {
        &::after {
            transform: scaleY(1);
        }
    }
}

@mixin icon-color($color) {
    filter: map-get($filtered-colours, $color);
}
