.logos-style-1 {
    .article-header {
        .title {
            font-weight: 700;
            font-size: 3rem;
            line-height: 1.16666;
            margin: 0;

            & + .short {
                margin-top: 2.5rem;
            }

            & + .btn {
                margin-top: 3.375rem;
            }

            .bg-color-black & {
                color: $primary;
            }
        }
        & + .logo-grid {
            margin-top: 4rem;
        }
        & + .short {
            margin-top: 1.5rem;
        }
    }

    .logo-grid {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: $white;
        padding: 1.2rem;
        .logo-grid-item {
            padding: 0.75rem;
        }
    }
}
