{% extends nglayouts.layoutTemplate %}

{% trans_default_domain "ngsite_user" %}

{% block content %}
    <header class="full-page-header text-center no-breadcrumbs">
        <h1>{{ 'ngsite.user.activate.admin_activation_pending.title'|trans }}</h1>
    </header>

    <p>{{ 'ngsite.user.activate.admin_activation_pending.text'|trans }}</p>
{% endblock %}
