{# ng_banner - block_item default viewtype #}

{% set url = '#' %}
{% set open_in_new_window = false %}

{% if not ez_is_field_empty( content, 'url' ) %}
    {% set url = ez_field_value( content, 'url' ).link %}

    {% if ez_field_value( content, 'new_window' ).bool %}
        {% set open_in_new_window = true %}
    {% endif %}
{% elseif not ez_is_field_empty( content, 'related_object' ) %}
    {% set relatedContentId = ez_field_value( content, 'related_object' ).destinationContentId %}

    {% if relatedContentId != content.id %} {# dead loop #}
        {% set url = path( 'ngmore_urlalias', { 'contentId': relatedContentId } ) %}
    {% endif %}
{% endif %}

<div class="content-view-block-item ng-banner">

    {% if not ez_is_field_empty( content, 'image' ) %}
        <div class="att-image">
            {{ ez_render_field(
                content,
                'image', {
                    'parameters': {
                        'alias': 'ng_image_full',
                        'href': url,
                        'target': open_in_new_window ? '_blank' : ''
                    }
                }
            ) }}
        </div>
    {% endif %}

    {% if not ez_is_field_empty( content, 'title' ) %}
        <h2 class="att-title"><a href="{{ url }}" {% if open_in_new_window %} target="_blank" {% endif %}>{{ ez_render_field( content, 'title' ) }}</a></h2>
    {% endif %}

    {% if not ez_is_field_empty( content, 'short_description' ) %}
        <div class="att-short-description">{{ ez_render_field( content, 'short_description' ) }}</div>
    {% endif %}

</div>
