.clear {
	clear:both;
}
.object-left,
.half-left {
    float: left;
    clear: left;
    margin-right: 2.5%;
}
.object-right,
.half-right {
    float: right;
    clear: right;
    margin-left: 2.5%;
}
.half-left,
.half-right {
    width:47.5%;
}
.object-left,
.object-right {
    max-width: 47.5%;
}