.hero-style-2 {
/* layout ******************************/
    header {
        margin: 0 0 8rem 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .actions {
            display: flex;
            justify-content: center;
            gap: 2rem;
        }
    }
    figure {
        padding-bottom: 42.85%;
        height: 0;
        border-radius: 1.5rem 1.5rem 0 0;
        overflow: hidden;
        box-shadow: 0px -80px 96px -56px rgba(0, 0, 0, 0.3);
        .bg-color-primary & {
            box-shadow: 0px -80px 96px -56px #C19D01;
        }
        .bg-color-black & {
            box-shadow: 0px -80px 96px -56px #080808;
        }
        picture {}
        video {}
    }
/* /layout */

/* atributes ******************************/
    .title {
        font-size: 4rem;
    }
    .eyebrow-title {
        font-size: 2rem;
        text-transform: uppercase;
    }
    .short {
        font-size: 1.125rem;
    }
/* /atributes */

/* mobile ******************************/
    @include media-breakpoint-down(sm) {
        header {
            margin: 0 0 4rem 0;
            .actions {
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }
        }
        .title {
            font-size: 2.5rem;
        }
    }
/* /mobile */
}