.hero-style-3 {
    & > .container {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }
    .image {
        overflow: hidden;
        display: block;
        position: relative;
        height: 0;
        padding-bottom: 50%;
        width: 50%;
        @include media-breakpoint-down(md) {
            width: 100%;
        }
        border-radius: 1rem;
        & + .article-header {
            padding-right: 8.5rem;
            width: 50%;
            @include media-breakpoint-down(md) {
                padding-top: 3rem;
                padding-right: 0;
                width: 100%;
            }
        }
        source, img {
            object-fit: cover;
            object-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    .eyebrow-title {
        @include text-base;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    .title {
        @include text-4;
        & + .short {
            margin-top: 2.5rem;
        }

        .bg-color-black & {
            color: $primary;
        }
    }
    .short {
        @include text-1_125;
    }
    .actions {
        margin-top: 4rem;
        display: flex;
        gap: 2rem;
    }
}
