{# NG shortcut - listitem view #}

{% extends 'NetgenMoreDemoBundle:parts:linkable.html.twig' %}

{% block content %}
    <a href="{{ url }}">{{ ez_render_field( content, 'title' ) }}</a>
{% endblock %}
