{# NG video external - listitem view #}

<div class="content-view-listitem ng-video-external clearfix">

    <h2 class="att-name"><a href="{{ path( location ) }}">{{ ez_content_name( content ) }}</a></h2>

</div>
