.site-error {
    &-title {
        font-size: 8rem;
        font-weight: 700;
        padding: 11.5rem 0 8rem;
    }

    &-subtitle {
        font-size: 4.5rem;
        color: $black;
        font-weight: 700;
    }

    &-description {
        font-size: 1.25rem;
        color: $black;
        font-weight: 400;
        margin: 2.5rem 0 4rem;
    }
}

.site-error-buttons {
    margin-bottom: 7.5rem;
}