.site-error {
    &-title {
        font-size: 8rem;
        font-weight: 700;
        padding: 11.5rem 0 8rem;

        @include media-breakpoint-down(lg) {
            padding: 6rem 0 4rem;
            font-size: 4rem;
        }
    }

    &-subtitle {
        font-size: 4.5rem;
        color: $black;
        font-weight: 700;

        @include media-breakpoint-down(lg) {
            font-size: 2.5rem;
        }
    }

    &-description {
        font-size: 1.25rem;
        color: $black;
        font-weight: 400;
        margin: 2.5rem 0 4rem;
    }
}

.site-error-buttons {
    margin-bottom: 7.5rem;
}
