.loading {
    position: relative;
    pointer-events: none;
    &::before {
        content: "";
        @extend %icon-circle-notch;
        @include text-2;
        position: absolute;
        z-index: 100;
        left: 50%;
        top: 50%;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        margin: -1.25rem 0 0 -1.25rem;
        color: $black;
        animation: ajaxLoader 1s infinite linear;
        .bg-color-black & {
            color: $primary;
        }
    }
    * {
        filter: blur(2px);
        opacity: 1;
        transition: opacity .125s ease, filter .125s ease;
    }
}
@keyframes ajaxLoader {
    100% {
        transform: rotate(360deg);
    }
}
