.social {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    float: left;
    a {
      display: flex;
      width: 50px;
      height: 50px;
      border-width: 1px 0 1px 1px;
      border-color: $gray-54;
      border-style: solid;
      color: $gray-54;
      text-align: center;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $gray-54;
      }
    }
    span {
      @extend .sr-only;
    }
    i {
      position: relative;
      font-size: 20px;
    }
    &:last-child {
      a {
        border-width: 1px;
      }
    }
  }
}


.social-share-wrapper {
  .social-share {
    display:inline-block;
    border: 2px solid transparent;
    z-index: 1000;
    > p {
      font-family: 'Cora-Bold';
      font-size: 22px;
      margin-bottom: 30px;
    }
  }
  .social {
    text-align: center;
    li {
      display: block;
      float: none;
      margin-bottom: 25px;
      a {
        border-radius: 50%;
        display: inline-flex;
        border-width: 2.5px;
        color: $gray-54;
        border-color: transparent;
        will-change: transform;
        background-color: grayer;
        transition: cubic-bezier(0.34, 3.00, 0.64, 1) transform .5s;
        &:hover {
          transform: scale(1.11);
          opacity: 1;
        }
      }
      .btn {
        padding: 0;
        border: none;
        img { width: 100%; }
        &:hover {
          background: none;
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    width: 100%;
    margin-bottom: 0px;
    .social-share {
      margin-top: 0!important;
      padding: 0;
    }
    .social {
      li {
        float: left;
        margin: 0 10px;
      }
    }
  }
}
