{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{# Setting metadata for the page #}
{% set meta_data = {'description': content.fields.teaser_intro.value.xml.saveXML()|striptags|trim|u.truncate(152)} %}

This content represents web page available at {{ url('ibexa.url.alias', {location: location, siteaccess: 'peak_eng'}) }}

<article class="ng-article">
    <header>
        <h1>{{ ng_render_field(content.fields.title) }}</h1>
        {% include '@ibexadesign/content/parts/time.html.twig' %}
    </header>

    <div class="container container-narrow">
        {% if not content.fields.full_intro.empty %}
            <div class="full-page-intro">
                {{ ng_render_field(content.fields.full_intro) }}
            </div>
        {% endif %}

        {% if not content.fields.body.empty %}
            <div class="full-page-body">
                {{ ng_render_field(content.fields.body) }}
            </div>
        {% endif %}

        {% include '@ibexadesign/content/parts/tags.html.twig' %}

        {% include '@ibexadesign/content/views/extract_file_text/sub_content.twig' %}
    </div>
    <div class="container container-narrow">
        {% include '@ibexadesign/content/views/extract_file_text/file_field.twig' %}
        {% include '@ibexadesign/content/views/extract_file_text/file_relation_fields.twig' %}
        {% include '@ibexadesign/content/views/extract_file_text/sub_content.twig' %}
        {% include '@ibexadesign/content/views/extract_file_text/embeded_in_ezrichtext_field.twig' %}
    </div>
</article>



