// Specific style file

/* bootstrap inputs and buttons override */
.form-control {
    border-radius: $border-radius;
    background: hsl(0, 0, 95);
    border: 0;
    box-shadow: none;
}
.btn {
    border-radius: $border-radius;
}
.btn-primary {
    $btn-primary-bg: $main-color;
    color: #fff;
    background-color: $btn-primary-bg;
    border-color: $btn-primary-bg;
    &:active,
    &.active {
        background-color: $btn-primary-bg;
        border-color: $btn-primary-bg;
    }

    &:hover,
    &:active:hover,
    &.active:hover,
    &.active:focus,
    &.active.focus,
    &:active:focus,
    &:active.focus,
    &:focus,
    &.focus {
        background-color: desaturate(darken($btn-primary-bg, 8%), 8%);
        border-color: desaturate(darken($btn-primary-bg, 8%), 8%);
    }
}
.btn-dark {
    $btn-dark-bg: hsl(0, 0, 20);
    color: #fff;
    background-color: $btn-dark-bg;
    border-color: $btn-dark-bg;
    &:active,
    &.active {
        background-color: $btn-dark-bg;
        border-color: $btn-dark-bg;
    }
    &:hover,
    &:active:hover,
    &.active:hover,
    &.active:focus,
    &.active.focus,
    &:active:focus,
    &:active.focus,
    &:focus,
    &.focus {
        color: #fff;
        background-color: lighten($btn-dark-bg, 8%);
        border-color: lighten($btn-dark-bg, 8%);
    }
}

.error-input {
    .form-control {
        background: hsl(0, 100, 94);
    }
    .errors {
        list-style-type: none;
        margin: 0 0 1.5em;
        padding: 0;
        color: #f00;
        font-size: .875em;
   }
}

.search-inputs {
    border-top: 1px solid hsl(0, 0, 75);
    border-bottom: 1px solid hsl(0, 0, 75);
    padding: 1em 0 0;
    .input-group {
        margin: 0 0 1em;
        .btn {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.section-red {background-color: #fcc;}
.section-blue {background-color: #99f;}
.section-gray {background-color: #eee;}

.bg-gray {background-color: hsl(220, 2, 35);}
.bg-gray-light {background-color: hsl(180, 4, 95);}

.bg-gray,
.bg-gray-light {
    & + & {
        margin-top: -$gap;
        padding-top: $gap;
    }
}

.main-content-block .zone-right {
    background-color: hsl(0, 0, 95);
    padding: 20px;
    border: 1px solid hsl(0, 0, 80);
}

.list-numbered {
    counter-reset: my-counter;
    .list-item::before {
        counter-increment: my-counter;
        content: counter(my-counter);
        display: block;
        font-size: 1.75em;
        font-weight: 700;
        color: $main-color;
    }
}

.swiper-container {margin: 0}

.breadcrumb-wrapper {
    background: hsl(0, 0, 95);
    margin: 0 0 1.5em;
    padding: 1em 0;
    .breadcrumb {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: transparent;
        &::after {
            @extend %clearfix;
        }
        li {
            float: left;
            + li {
                &::before {
                    content: '>';
                    display: inline-block;
                    margin: 0 .5em;
                    color: hsl(0, 0, 80);
                }
            }
        }
        a {
            color: $main-color;
            font-weight: 700;
            font-size: .875em;
        }
    }
    @media screen and (max-width: $break-sm) {
        padding: .5em 0;
        .breadcrumb {
            a {
                font-size: .75em;
            }
        }
    }
    @media screen and (max-width: $break-xs) {
        display: none;
    }
}
