// dimensions
$header-height: 5.9375rem;
$gutter: .9375rem;
$gap: 2 * $gutter;

// colours
$sunglow: hsl(49, 99, 59);
$catskill-white: hsl(220, 33, 98);
$white: hsl(0, 0, 100);
$black: hsl(0, 0, 0);
$gray-87: hsl(0, 0, 13);
$gray-54: hsl(0, 0, 46);
$gray-38: hsl(0, 0, 62);
$gray-12: hsl(0, 0, 88);
$gray-7: hsl(0, 0, 93);

%clearfix {
    &::after {
        clear: both;
        display: table;
        content: '';
    }
}

%fontawesome {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

%hover-underline {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        background: $sunglow;
        transition: height .2s;
    }
    &:hover,
    &:focus {
        &::after {
            height: .5rem;
        }
    }
}
