<div class="view-type view-type-{{ viewType }} ng-gallery {% if not content.fields.css_class.empty %}{{ content.fields.css_class.value.text }}{% endif %}">
    {{ render(
        controller(
            'ngmore.controller.parts:viewRelatedMultimediaItems', {
                'locationId': content.contentInfo.mainLocationId,
                'includeChildren': true,
                'contentTypeIdentifiers': ['image', 'ng_video'],
                'template': '@ezdesign/parts/related_multimedia.html.twig'
            }
        )
    ) }}
</div>
