<div class="view-type view-type-{{ view_type }} ng-gallery {{ content.fields.css_class.value.text|trim }}">
    {{ render(
        controller(
            'ngmore.controller.parts:viewRelatedMultimediaItems', {
                'locationId': content.contentInfo.mainLocationId,
                'includeChildren': true,
                'contentTypeIdentifiers': ['image', 'ng_video'],
                'template': '@ezdesign/parts/related_multimedia.html.twig'
            }
        )
    ) }}
</div>
