{% extends '@ezdesign/parts/linkable.html.twig' %}

{% block content %}
    <div class="view-type view-type-{{ viewType }} ng-shortcut">
        <h2 class="title"><a href="{{ url }}">{{ ng_render_field(content.fields.title) }}</a></h2>
    </div>
{% endblock %}
