{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<article class="view-type view-type-{{ view_type }} ng-audio vl6 t1">
    <h2 class="title">
        <a href="{{ path(location) }}">
            <i class="fas fa-volume-up article-icon" aria-hidden="true"></i>{{ content_fields.title(content) }}
        </a>
    </h2>
</article>
