{% if not content.fields.sponsored_content_disclosure.empty %}
    {% if shortened|default(false) %}
        <span class="sponsored-text">{{ 'ngsite.layout.sponsored'|trans }}</span>    
    {% else %}
        <span class="sponsored-text">{{ content.fields.sponsored_content_disclosure.value.text }}</span>
    {% endif %}

{% elseif not content.fields.main_topic.empty %}
    <a class="main-topic" href="{{ ngsite_topic_path(content.fields.main_topic.value.tags[0]) }}">{{ content.fields.main_topic.value.tags[0].keyword }}</a>
{% endif %}
