{% if not content.fields.image.empty %}
    {% set image = content.fields.image %}
    {% set image_uri = ng_image_alias(image, 'i1140').uri|default('') %}
    {% set alt_text = image.value.alternativeText|default('') %}

    {% if is_slider %}
        <div class="swiper-slide">
            <img class="swiper-lazy" data-src="{{ image_uri }}" {% if alt_text %} alt="{{ alt_text }}" {% endif %} />
        </div>
    {% else %}
        <img src="{{ image_uri }}" {% if alt_text %} alt="{{ alt_text }}" {% endif %} />
    {% endif %}
{% endif %}
