.filter-form {
    .ntf-filter-search {
        padding: 16px;
        border-bottom: 4px solid $secondary_2;

        .ntf-filter-search-wrap {
            display: flex;
            gap: 16px;

            @include media-breakpoint-down(sm) {
                flex-wrap: wrap;
                column-gap: 8px;
            }

            .search-wrap {
                align-self: flex-end;

                @include media-breakpoint-down(sm) {
                    flex: 1;
                }
            }

            .dropdown {
                align-self: flex-end;

                .dropdown-menu {
                    border: 2px solid #f3f3f3;
                    border-radius: 4px;
                    padding: 16px;
                    box-shadow: 0px 4px 12px 0px rgba(37, 45, 64, 0.1);
                    display: none;
                    flex-direction: column;
                    gap: 16px;
                    top: 4px;

                    &.show {
                        display: flex;
                    }
                }
            }

            .ntf-filter-wrap {
                display: flex;
                align-items: flex-end;
                gap: 16px;
                margin-right: -16px;

                select {
                    color: $placeholder;
                    @extend %icon-chevron;
                    background-size: 24px;
                    background-position: 98%;
                    position: relative;
                    background-color: $light-bg;
                }

                @include media-breakpoint-down(md) {
                    > div {
                        width: 100%;
                    }
                }
            }

            .date-wrapper {
                margin-right: auto;
            }

            &.more-filters .dropdown-menu {
                select.form-select,
                .date-wrapper,
                .filter-by-date,
                input {
                    width: 100%;
                }
            }

            &.ntf-filter-search-wrap-grid {
                .ss-main.form-select {
                    background-image: none;

                    .ss-single {
                        color: $placeholder;
                    }
                }

                div > select.form-select {
                    width: 235px;
                }
            }

            div .input-group [type='search'] {
                @include media-breakpoint-up(md) {
                    max-width: 224px;
                }
            }
        }

        label {
            font-size: 0.875rem;
            display: block;
        }

        .form-hidden {
            display: none;
        }

        .form-select {
            height: 40px;
            font-size: 14px;
            width: 220px;
            border-radius: 4px;
            padding: 0 0 0 12px;
        }

        input {
            height: 40px;
            border-radius: 4px;
            background-color: $light-bg;
            border: 2px solid $border;
            font-size: 14px;

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        select {
            background-color: $light-bg;
        }

        input[type='search'] {
            border-radius: 100px;
            padding-left: 48px;
            min-width: 200px;

            @include media-breakpoint-up(md) {
                max-width: 204px;
            }
        }

        .input-group {
            @include media-breakpoint-up(md) {
                flex-wrap: nowrap;
            }
        }

        .btn-apply-filters {
            white-space: nowrap;
            align-self: flex-end;
            width: auto;
            color: $secondary_4;
            border-color: $secondary_4;

            @include media-breakpoint-down(md) {
                padding: 0.5rem 1.5rem 0.5rem 1.5rem;
            }
        }

        .btn-reset-filters,
        .more-filters-btn {
            display: none;
            align-self: flex-end;
            margin: 9.5px 0;
        }

        &.more-filters .more-filters-btn {
            display: flex;
        }

        .btn-reset-filters {
            height: fit-content;
        }

        .more-filters-btn {
            align-items: center;
            border-color: transparent;
            margin: 0;

            &::after {
                content: unset;
            }

            span {
                display: inline-block;
                line-height: 1.4;
            }

            i {
                display: inline-flex;

                &::after {
                    content: '';
                    width: 16px;
                    height: 16px;
                }

                &.icon-filter::after {
                    @extend %icon-filter;
                }
            }

            &.show {
                background-color: rgba($secondary_1, 0.04);
            }

            @include media-breakpoint-down(md) {
                padding: 0.125rem 0.5rem 0.125rem 1rem;
            }
        }

        .input-group.input-search {
            position: relative;
            &::before {
                content: '';
                @extend %icon-search;
                width: 24px;
                height: 24px;
                position: absolute;
                margin: 0;
                left: 16px;
                top: 8px;
                z-index: 10;
            }

            .btn {
                border: 2px solid $border;
            }
        }

        .input-group:not(.has-validation)
            > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
            @include media-breakpoint-down(md) {
                border-radius: 100px;
                margin-bottom: 8px;
            }
        }

        .input-group
            > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(
                .invalid-tooltip
            ):not(.invalid-feedback) {
            &.btn-apply-filters {
                border-radius: 100px;

                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }
        }

        @media (max-width: 768px) {
            display: block;
        }
    }

    &.has-active-filter .ntf-filter-search {
        .btn-reset-filters {
            display: block;
        }
    }

    &:not(.has-new-input) .ntf-filter-search {
        .btn-apply-filters {
            color: $gray-38;
            border-color: $gray-38;
            pointer-events: none;
        }
    }

    .filter-by-date {
        position: relative;

        .input-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: 0;
            border-radius: 4px;
            cursor: pointer;

            @include media-breakpoint-down(md) {
                top: 32px;
            }

            &-calendar {
                right: 0;

                &::before {
                    content: '';
                    display: block;
                    width: 24px;
                    height: 24px;
                    @extend %icon-date;
                }
            }

            &-clear {
                right: -40px;

                &::before {
                    content: '';
                    display: block;
                    width: 24px;
                    height: 24px;
                    @extend %icon-close;
                }
            }
        }

        input {
            min-width: 220px;
            padding-left: 16px;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
            margin-right: 0;
        }
    }
}

.modal-dialog .modal-content {
    .ntf-filter-search .btn-apply-filters {
        pointer-events: initial!important;
    }
}