// Section styles

.iota-bo-container {
    flex: 1;

    &.page-actions-fixed {
        margin-bottom: calc(4.5rem - 0rem);
    }

    .impersonation-active & {
        min-height: calc(100vh - 5rem - 3.25rem - 4.625rem);
    }

    .iota-bo-container-title {
        color: $secondary_1;
        padding: 1rem;

        font-size: 1.25rem;
    }
}

.iota-bo-section {
    padding: 1rem;

    + .iota-bo-section,
    .iota-bo-container-title + &,
    + * > .iota-bo-section {
        border-top: 2px solid $secondary_2;
    }

    .iota-bo-section-title {
        color: $secondary_1;

        font-size: 1.125rem;
        line-height: 1.2;
        font-weight: 600;

        + .iota-bo-section-description {
            margin-top: 0.25rem;
            font-size: 0.75rem;
            line-height: 1.5;
            color: rgba($secondary_1, 0.66);
        }

        ~ .iota-bo-section-content {
            margin-top: 1rem;
        }
    }

    .iota-bo-section-content:first-child {
        .iota-bo-table-view {
            margin-top: -1rem;
        }
    }

    .iota-bo-section-actions {
        display: flex;
        justify-content: space-between;

        .iota-bo-section-actions-right {
            margin-left: auto;
        }

        .iota-bo-section-actions-left {
            + .iota-bo-section-actions-right {
                margin-left: unset;
            }
        }

        a,
        button {
            margin-top: 1rem;
        }
    }
}

// Page actions styles (e.g. next page, discard, save)

.ngsb-form-controls {
}

.iota-bo-page-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
    background-color: $white;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        inset: 0px 0 calc(100% - 2px) 0;
        background-color: $secondary_2;
    }

    .iota-bo-page-actions-right {
        margin-left: auto;
    }

    .iota-bo-page-actions-left {
        + .iota-bo-page-actions-right {
            margin-left: unset;
        }
    }

    .iota-bo-page-actions-left,
    .iota-bo-page-actions-right {
        display: flex;
        gap: 1rem;

        button,
        a {
            margin: 1rem 0;
        }
    }

    &.page-actions-fixed {
        position: fixed;
        inset: auto 0 0 15.5rem;
    }
}

//Status pill styles

.iota-status-pill {
    border-radius: 99px;
    font-size: 0.875rem;
    line-height: 1.4;
    font-weight: 400;
    padding: 0 0.75rem;
    display: inline-block;

    &.status-pill-large {
        font-size: 1.25rem;
        font-weight: 600;
        padding: 1.5rem 0;
        width: 100%;
        text-align: center;
        border-radius: 8px;
    }

    &.status-pill-positive {
        background-color: rgba($badge-green-bg, 0.3);
        color: $badge-green-text;
    }

    &.status-pill-neutral {
        background-color: $gray;
    }

    &.status-pill-negative {
        background-color: rgba($badge-red-bg, 0.3);
        color: $badge-red-text;
    }
}

// Table styles

.iota-bo-table-view {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
}

.iota-bo-table-view {
    .iota-bo-table-head {
        tr {
            border-bottom: 2px solid $secondary_2;

            th {
                font-size: 0.875rem;
                line-height: 1.4;
                font-weight: 400;
                color: rgba($secondary_1, 0.54);
                padding: 0.875rem 0;

                &:first-child {
                    padding-left: 1rem;
                }
            }
        }
    }

    .iota-bo-table-body {
        font-size: 0.875rem;
        line-height: 1.4;
        
        tr {
            &:not(:last-child) {
                border-bottom: 2px solid $secondary_2;
            }

            td {
                padding: 0.75rem 0;

                &:first-child {
                    padding-left: 1rem;
                }

                &.iota-table-row-title {
                    font-weight: 600;
                }
            }
        }

        .iota-bo-table-row-highlight {
            background-color: rgba($secondary_4, 0.05);
        }
    }

    + .iota-bo-section-actions {
        border-top: 2px solid $secondary_2;
        margin-left: -1rem;
        margin-right: -1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
