<nav class="main-navigation" role="navigation">
    {% block page_main_menu_header %}
        {{ render_esi(
            controller(
                'ngsite.controller.menu', {
                    menuName: 'ngsite_main_menu'
                }
            )
        ) }}
    {% endblock %}
</nav>
