<header class="site-header">
    <div class="container">
        {% include '@ibexadesign/parts/site_logo.html.twig' %}

        <a class="mainnav-toggle" href="#">
            <span class="hamburger"></span>
        </a>

        {% include '@ibexadesign/page_topmenu.html.twig' %}
        {% include '@ibexadesign/page_header_searchbox.html.twig' %}
        {% include '@ibexadesign/page_header_languages.html.twig' %}
    </div>
</header>
