/* article full view */
.full-article-header {
    padding-bottom: 14rem;
    margin-bottom: -10rem;
    text-align: left;
}

.full-article-image {
    @include media-breakpoint-down(md) {
        img {
            width: 100%;
        }
    }
    margin: 0;
    text-align: center;
}

.full-article-content {
    @include media-breakpoint-down(lg) {
        padding: 0 8rem;
    }
    @include media-breakpoint-down(md) {
        padding: 0 5rem;
    }
    @include media-breakpoint-down(sm) {
        padding: 0 2rem;
    }
    @include media-breakpoint-down(xs) {
        padding: 0;
    }
    padding: 0 11.125rem;
}

.full-article-tags {
    @extend %clearfix;
    margin: 3rem 0 0;
    a {
        display: inline-block;
        float: left;
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 900;
        color: $gray-87;
        padding: .1666666667em .8333333333em;
        border: 2px solid $sunglow;
        margin: 0 .1666666667em;
    }
}

/* full article body styling */
.full-article-body {
    @extend %clearfix;
    padding: 4rem 4rem 2rem;
    background: $body-bg;
    .article-intro {
        font-size: 1.3125rem;
        font-style: italic;
        color: $gray-54;
    }
    .object-full {
        margin-left: -4rem;
        margin-right: -4rem;
    }
    .object-left > .view-type-embed {
        margin-left: -4rem;
    }
    .object-right > .view-type-embed {
        margin-right: -4rem;
    }
    div:not([class^='object-']) > .view-type-embed {
        margin-left: -4rem;
        margin-right: -4rem;
    }
}

/* single column article layout */
.vf1 {
    .full-article-header {
        padding: 4rem 0;
        margin-bottom: 4rem;
        text-align: center;
    }
    .full-article-body {
        padding: 0;
        margin: 0 0 2rem;
    }
    .full-article-image {
        margin: 0 0 4rem;
    }
}
