<article class="view-type view-type-{{ viewType }} file vl6">
    <h2 class="title">
        <a href="{{ path(location) }}">
            {{ ng_render_field(content.fields.name) }}
        </a>
    </h2>
</article>
