<div class="view-type view-type-{{ viewType }} file vl5 clearfix">
    <h2 class="title with-icon">
        <a href="{{ path(location) }}">
            <i class="fa fa-file-o"></i>{{ ng_render_field(content.fields.name) }}
        </a>
    </h2>
</div>
