<div class="view-type view-type-{{ viewType }} ng-audio vl5 clearfix">
    <h2 class="title with-icon">
        <a href="{{ path(location) }}">
            <i class="fas fa-volume-up"></i>{{ ng_render_field(content.fields.title) }}
        </a>
    </h2>
</div>
