<div class="view-type-{{ viewType }} ng-video vl6">
    <h2 class="title with-icon">
        <a href="{{ path(location) }}">
            <i class="fas fa-play-circle"></i>{{ ng_render_field(content.fields.title) }}
        </a>
    </h2>
</div>
