{% extends 'NetgenMoreDemoBundle:parts:linkable.html.twig' %}

{% block content %}
    <div class="content-view-line ng-shortcut media clearfix">

        <h2 class="att-title"><a href="{{ url }}">{{ ez_render_field( content, 'title' ) }}</a></h2>

        {% if not ez_is_field_empty( content, 'line_image' ) %}
            {{ ez_render_field(
                content,
                'line_image', {
                    'parameters': {
                        'alias': 'i320',
                        'link_href': url,
                        'link_class': 'att-image pull-left'
                    }
                }
            ) }}
        {% endif %}

        {% if not ez_is_field_empty( content, 'line_intro' ) %}
            <div class="att-line-intro">
                {{ ez_render_field( content, 'line_intro' ) }}
            </div>
        {% endif %}

    </div>
{% endblock %}
