{% import 'NetgenMoreDemoBundle:parts:video.html.twig' as video %}

{% if not ez_is_field_empty( content, 'video_file' ) or not ez_is_field_empty( content, 'video_file_hd' ) or not ez_is_field_empty( content, 'video_identifier' ) %}
<div class="content-view-line ng-video clearfix">

    <h2 class="att-name"><a href="{{ path( location ) }}">{{ ez_content_name( content ) }}</a></h2>

    <div class="att-poster image">
        {{ video.poster( content, location ) }}
    </div>

    {% if not ez_is_field_empty( content, 'line_intro' ) %}
        <div class="att-line-intro">
            {{ ez_render_field( content, 'line_intro' ) }}
        </div>
    {% endif %}

</div>
{% endif %}
