{% import 'NetgenMoreDemoBundle:parts:video.html.twig' as video %}

{% if not ez_is_field_empty( content, 'video_file' ) or not ez_is_field_empty( content, 'video_file_hd' ) or not ez_is_field_empty( content, 'video_identifier' ) %}
    <div class="view-type view-type-{{ viewType }} ng-video vl t1 clearfix">
        <div class="image">
            {{ video.poster( content, location ) }}
        </div>

        <div class="info">
            <h2 class="title"><a href="{{ path( location ) }}">{{ ez_render_field( content, 'title' ) }}</a></h2>
        </div>
    </div>
{% endif %}
