{% extends "NetgenMoreDemoBundle:content:overlay.html.twig" %}

{% import 'NetgenMoreDemoBundle:parts:video.html.twig' as video %}

{% set content_name = ez_field_value( content, 'name' ).text %}

{% block image %}
<div class="image">
    {{ video.poster( content, location ) }}
</div>
{% endblock %}
