{# image - block_item campaign view type #}

<div class="rsContent">
    {{ ez_render_field(
        content,
        'image', {
            parameters: {
                alias: alias_name|default( 'original' ),
                image_class: 'rsImg rsMainSlideImage',
                alt_text: ez_content_name( content )
            }
        }
    ) }}
</div>
