{# image - default view type #}

{% set content_name = ez_field_value( content, 'name' ).text %}

<div class="content-view-block-item view-type-{{ view_type|default( '' ) }} image">
    {{ ez_render_field(
        content,
        'image', {
            parameters: {
                alias: alias_name|default( 'original' ),
                alt_text: content_name
            }
        }
    ) }}
</div>
