{% extends nglayouts.pageLayoutTemplate %}

{% block layout %}
    <div class="zone-layout-layout2">
        <section class="zone zone-header">
            {% nglayouts_render_zone 'header' %}
        </section>

        <main class="main-content-block">
            <section class="zone zone-post_header">
                {% nglayouts_render_zone 'post_header' %}
            </section>

            <section class="zone zone-main">
                {% nglayouts_render_zone 'main' %}
            </section>

            <section class="zone zone-pre_footer">
                {% nglayouts_render_zone 'pre_footer' %}
            </section>
        </main>

        <section class="zone zone-footer">
            {% nglayouts_render_zone 'footer' %}
        </section>
    </div>
{% endblock %}
