{% extends nglayouts.pageLayoutTemplate %}

{% block layout %}
    <div class="zone-layout-layout1">
        <main class="main-content-block">
            <section class="zone zone-main">
                {% nglayouts_render_zone 'main' %}
            </section>
        </main>
    </div>
{% endblock %}
