{% apply spaceless %}
    {% set attributes = {} %}

    {% if content.hasField('gtm_event_prefix') and not content.fields.gtm_event_prefix.empty %}
        {% set attributes = attributes|merge({ 'data-gtm-event-prefix': content.fields.gtm_event_prefix.value.text }) %}
    {% endif %}

    {% if class is defined and class is not empty %}
        {% set attributes = attributes|merge({ class: class }) %}
    {% endif %}

    {% set form_parameters = { action: action|default(''), attr: attributes } %}
{% endapply %}

{% if not is_collected %}
    {{ block('form_body') }}
{% else %}
    {% block form_response %}
        <div class="full-form-response">
            {% if not content.fields.success_text.empty %}
                {{ ng_render_field(content.fields.success_text) }}
            {% else %}
                <p>{{ 'ngsite.collected_info.success_text'|trans }}</p>
            {% endif %}
        </div>
    {% endblock %}
{% endif %}
