{% extends 'NetgenMoreDemoBundle::pagelayout_variables.html.twig' %}

{% block pagelayout_content %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|replace( { '_': '-' } ) }}">
<head>
    <meta charset="utf-8">

    {% block page_head %}
        {% include 'NetgenMoreDemoBundle::page_head.html.twig' %}
    {% endblock %}

    {% block page_head_style %}
        {% include 'NetgenMoreDemoBundle::page_head_style.html.twig' %}
    {% endblock %}

    {% block page_head_script %}
        {% include 'NetgenMoreDemoBundle::page_head_script.html.twig' %}
    {% endblock %}

    {% block open_graph %}
        {% include 'NetgenMoreBundle:parts:opengraph.html.twig' %}
    {% endblock %}

    {% include 'NetgenMoreBundle:parts:jwplayer.html.twig' %}

    {% include 'NetgenMoreBundle:parts:google_tag_manager_code.html.twig' %}
</head>
<body>

{% include 'NetgenMoreBundle:parts:facebook_api.html.twig' %}

<div id="page">

    {% block layout %}
        {% block header %}
            {% include 'NetgenMoreDemoBundle::page_header.html.twig' %}
        {% endblock %}

        {% block breadcrumb %}
            {% include 'NetgenMoreDemoBundle::page_path.html.twig' %}
        {% endblock %}

        <div id="main" class="clearfix">
            {% block content %}{% endblock %}
        </div>

        {% block footer %}
            {% include 'NetgenMoreDemoBundle::page_footer.html.twig' %}
        {% endblock %}
    {% endblock %}

</div>

{% block page_footer_script %}
    {% include 'NetgenMoreDemoBundle::page_footer_script.html.twig' %}
{% endblock %}

</body>
</html>
{% endblock %}
