<!--[if lte IE 8]><div class="header-ie8lte"><![endif]--> {# just remove this line when support for IE8 ends #}
<header>
    <div class="container">
        <a id="logo" href="{{ path( ezpublish.rootLocation ) }}" title="{{ site_name }}">{{ site_name }}</a>
        <a id="mainnav-toggle" href="#">
        	<span class="hamburger"></span>
        </a>
        <div id="main-nav">
            {% include 'NetgenMoreDemoBundle::page_header_languages.html.twig' %}
            {% include 'NetgenMoreDemoBundle::page_topmenu.html.twig' %}
        </div>
        {% include 'NetgenMoreDemoBundle::page_header_searchbox.html.twig' %}
    </div>
</header>
<!--[if lte IE 8]></div><![endif]--> {# just remove this line when support for IE8 ends #}
