{% set metaData = metaData|default( [] ) %}

{% set configMetaData = ezpublish.configResolver.getParameter( 'SiteSettings.MetaDataArray' ) %}
{% set metaData = configMetaData|merge( metaData ) %}

{% if content is defined %}
    {% if content.fields.metadata is defined and not ez_is_field_empty( content, 'metadata' ) %}
        {% set contentMetaData = ez_field_value( content, 'metadata' ) %}
        {% for key in configMetaData|keys %}
            {% if contentMetaData[key] is defined and contentMetaData[key] is not empty %}
                {% set metaData = metaData|merge( { ( key ): contentMetaData[key] } ) %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

{% if siteTitle is not defined %}
    {% set siteTitle = siteName %}

    {% if pathArray is not empty %}
        {% if ezpublish.configResolver.getParameter( 'SeoSettings.ShowPathInTitle', 'ngmore' ) in ['false', false] %}
            {% set siteTitle = pathArray[pathArray|length - 1].text ~ ' - ' ~ siteTitle %}
        {% elseif pathArray|length > 1 %}
            {% for pathItem in pathArray %}
                {% if not loop.first %}
                    {% set siteTitle = pathItem.text ~ ' - ' ~ siteTitle %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if contentMetaData is defined and contentMetaData.title is defined and contentMetaData.title is not empty %}
        {% set siteTitle = contentMetaData.title %}
    {% endif %}
{% endif %}

<title>{{ siteTitle }}</title>

{% for key in configMetaData|keys %}
    {% if metaData[key] is defined and metaData[key] is not empty %}
        <meta name="{{ key }}" content="{{ metaData[key] }}" />
    {% endif %}
{% endfor %}

{# Prefer chrome frame on IE 8 and lower, or at least as new engine as possible #}
<!--[if lt IE 9 ]>
    <meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1" />
<![endif]-->

<meta name="generator" content="{{ 'ngmore.layout.meta_generator'|trans }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

{% include 'NetgenMoreDemoBundle::canonical_link.html.twig' %}

{% include 'NetgenMoreDemoBundle::link.html.twig' %}
