<footer>
    <div class="container">
        <address>
            {{ 'ngmore.layout.powered_by'|trans }} <a href="http://www.netgenlabs.com/What-we-do" title="Netgen">Netgen &amp; eZ Platform</a>
        </address>
    </div>
</footer>
