{% set config_meta_data = ezpublish.configResolver.getParameter( 'site_settings.meta_data', 'ngmore' ) %}
{% set meta_data = config_meta_data|merge( meta_data|default( [] ) ) %}

{% if content is defined %}
    {% if content.hasField('metadata') and not content.fields.metadata.empty %}
        {% set content_meta_data = content.fields.metadata.value %}
        {% for key in config_meta_data|keys %}
            {% if content_meta_data[key] is defined and content_meta_data[key] is not empty %}
                {% set meta_data = meta_data|merge( { ( key ): content_meta_data[key] } ) %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

{% if site_title is not defined %}
    {% set site_title = site_name %}

    {% if path_array is not empty %}
        {% if not ezpublish.configResolver.getParameter( 'site_settings.show_path_in_title', 'ngmore' ) %}
            {% set site_title = path_array[path_array|length - 1].text ~ ' - ' ~ site_title %}
        {% elseif path_array|length > 1 %}
            {% for path_item in path_array %}
                {% if not loop.first %}
                    {% set site_title = path_item.text ~ ' - ' ~ site_title %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if content_meta_data is defined and content_meta_data.title is defined and content_meta_data.title is not empty %}
        {% set site_title = content_meta_data.title %}
    {% endif %}
{% endif %}

<title>{{ site_title }}</title>

{% for key in config_meta_data|keys %}
    {% if meta_data[key] is defined and meta_data[key] is not empty %}
        <meta name="{{ key }}" content="{{ meta_data[key] }}" />
    {% endif %}
{% endfor %}

<meta name="generator" content="{{ 'ngmore.layout.meta_generator'|trans }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

{% include 'NetgenMoreDemoBundle::link.html.twig' %}
