<form class="navbar-search pull-right" method="get" action="{{ path( 'ez_legacy', { 'module_uri': '/content/search' } ) }}" id="site-wide-search">
    <span class="hidden">Search</span>
    <input class="search-query" type="search" name="SearchText" id="site-wide-search-field" placeholder="Search" />
</form>
