<footer>
    <div class="container">
        <address>
            Powered by <a href="http://www.netgenlabs.com/What-we-do" title="Netgen">Netgen &amp; eZ Publish</a>
        </address>
    </div>
</footer>
