{% set params = params|default( [] ) %}
{% set column_count = 0 %}
{% set block_column_count = 0 %}
{% set block_class = "" %}

<div class="row">

    {% for block in zone.blocks %}

    {% if column_count == 12 %}
</div>
<div class="row">
    {% set column_count = 0 %}
    {% endif %}

    {% if block.customAttributes.advanced_smart_zone_width is defined and block.customAttributes.advanced_smart_zone_width is not empty and block.customAttributes.advanced_smart_zone_width == "3_cols" %}
        {% set column_count = column_count + 3 %}
        {% set block_column_count = 3 %}
        {% set block_class = "col-sm-3 col-md-3 col-lg-3" %}
    {% elseif block.customAttributes.advanced_smart_zone_width is defined and block.customAttributes.advanced_smart_zone_width is not empty and block.customAttributes.advanced_smart_zone_width == "4_cols" %}
        {% set column_count = column_count + 4 %}
        {% set block_column_count = 4 %}
        {% set block_class = "col-sm-4 col-md-4 col-lg-4" %}
    {% elseif block.customAttributes.advanced_smart_zone_width is defined and block.customAttributes.advanced_smart_zone_width is not empty and block.customAttributes.advanced_smart_zone_width == "6_cols" %}
        {% set column_count = column_count + 6 %}
        {% set block_column_count = 6 %}
        {% set block_class = "col-sm-6 col-md-6 col-lg-6" %}
    {% elseif block.customAttributes.advanced_smart_zone_width is defined and block.customAttributes.advanced_smart_zone_width is not empty and block.customAttributes.advanced_smart_zone_width == "8_cols" %}
        {% set column_count = column_count + 8 %}
        {% set block_column_count = 8 %}
        {% set block_class = "col-sm-8 col-md-8 col-lg-8" %}
    {% else %}
        {% set column_count = column_count + 12 %}
        {% set block_column_count = 12 %}
        {% set block_class = "col-sm-12 col-md-12 col-lg-12" %}
    {% endif %}


    {% if column_count > 12 %}
</div>
<div class="row">
    {% set column_count = block_column_count %}
    {% endif %}

    {% set blockParams = params|merge( blockSpecificParams[block.type]|default( [] ) ) %}

    <div class="{{ block_class }}">

        {% if ezpublish.configResolver.hasParameter( 'BlockSettings.' ~ block.type ~ '.SharedMaxAge', 'ngmore' ) %}
            {{ render_esi( controller( 'ez_page:viewBlockById', { 'id': block.id, 'params': blockParams } ) ) }}
        {% elseif ezpublish.configResolver.hasParameter( 'BlockSettings.' ~ block.type ~ '.MaxAge', 'ngmore' ) %}
            {{ render_hinclude( controller( 'ez_page:viewBlockById', { 'id': block.id, 'params': blockParams } ) ) }}
        {% else %}
            {{ render( controller( 'ez_page:viewBlockById', { 'id': block.id, 'params': blockParams } ) ) }}
        {% endif %}

    </div>

    {% endfor %}

</div>