{# ng_audio - default view type #}

{% extends 'NetgenMoreDemoBundle:block_item_view_types:block_item.html.twig' %}

{% block content %}
    <div class="content-view-block-item view-type-{{ view_type|default( '' ) }} ng-audio">

        {% if not ez_is_field_empty( content, 'image' ) %}
            <div class="att-image">
                {{ ez_render_field( content, 'image' ) }}
            </div>
        {% endif %}

        <h2 class="att-title"><a href="{{ location_path }}">{{ ez_render_field( content, 'name' ) }}</a></h2>

    </div>
{% endblock %}
