.breadcrumb-wrapper {
    .breadcrumb {
        background-color: transparent;
        margin: 0;
        padding: 3rem 0;
        font-size: 1.125rem;
        line-height: 1.3125rem;
        color: $black;
    }
}
