.site-logo {
    display: inline-block;
    width: 14rem;
    
    @include media-breakpoint-down(lg) {
        width: 12rem;
    }

    @include media-breakpoint-down(md) {
        width: 10rem;
    }

    img {
        width: 100%;
    }
}
