{# ng_landing_page - block_item default view type #}

{% set location_path = path( 'ez_urlalias', { 'locationId': location is defined ? location.id : content.contentInfo.mainLocationId } ) %}

<div class="content-view-block-item ng-landing-page clearfix">
    <h2 class="att-title"><a href="{{ location_path }}">{{ ez_render_field( content, 'title' ) }}</a></h2>
</div>
