.lead-style-2 {
    .eyebrow-title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.33;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .title {
        font-weight: 700;
        font-size: 4.5rem;
        line-height: 1.22;
        letter-spacing: -0.01em;
        margin: 0;

        .bg-color-black & {
            color: $primary;
        }
    }

    .article-header {
        & + * {
            margin-top: 4rem;
        }
    }

    .short {
        font-size: 1.125rem;
        line-height: 1.55;

        & + .btn {
            margin-left: 18rem;
        }
    }

    .article-info {
        display: flex;
        align-items: center;
    }

    .actions {
        display: flex;
        gap: 2rem;
    }
}
