<div class="view-type view-type-{{ viewType }} ng-audio vl t4 clearfix">
    <h2 class="title with-icon"><a href="{{ path( location ) }}"><i class="fa fa-volume-up"></i>{{ ez_render_field( content, 'title' ) }}</a></h2>
</div>
