<div class="view-type-{{ viewType }} ng-gallery vl t4 clearfix">
    <h2 class="title with-icon"><a href="{{ path( location ) }}"><i class="fa fa-camera"></i>{{ ez_render_field( content, 'title' ) }}</a></h2>
</div>
