<div class="view-type view-type-{{ viewType }} ng-news vl t4 clearfix">
	<div class="date">
		{{ ez_field_value( content, 'publish_date' ).value|date( 'd. m. Y.' ) }}
	</div>
	<h2 class="title"><a href="{{ path( location ) }}">{{ ez_render_field( content, 'title' ) }}</a></h2>
</div>