{% extends 'NetgenMoreDemoBundle:parts:linkable.html.twig' %}

{% import 'NetgenMoreDemoBundle:parts:content_fields.html.twig' as content_fields %}

{% block content %}
    <a href="{{ url }}">{{ content_fields.name( content ) }}</a>
{% endblock %}
