{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import "@ibexadesign/content/macros/links.html.twig" as links %}

<div class="view-type view-type-{{ view_type }} ng-banner">
    <h3 class="title">
        {{ links.content_link(content, content.fields.title.value.text) }}
    </h3>
</div>
