{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

<div class="view-type view-type-{{ view_type }} ng-frontpage">
    <h3><a href="{{ ibexa_path(content) }}">{{ ng_render_field(content.fields.title) }}</a></h3>
</div>
