/* line item view type */
.vl4 {
    margin: 0 0 2rem;
    display: flex;
    position: relative;
    .image {
        width: 20rem;
        a {
            display: block;
            position: relative;
            height: 0;
            padding-bottom: 56.25%;
        }
        img {
            object-fit: cover;
            object-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        + .article-content {
            padding-left: $gap;
        }
    }
    .article-content {
        flex: 1;
    }
    .title {
        font-size: 1.5rem;
        font-weight: 900;
        margin: 0 0 .25rem;
    }
    .short {
        color: $gray-54;
        p {
            margin: 0;
        }
    }
    .info {
        @extend %clearfix;
        margin: 0 0 .25rem;
        text-transform: uppercase;
        font-size: .8125rem;
        letter-spacing: 1px;
        > span,
        > time,
        > a {
            display: inline-block;
            float: left;
            + span,
            + time,
            + a {
                &::before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: .25rem;
                    height: .25rem;
                    background: $sunglow;
                    margin: 0 .25rem .125rem;
                }
            }
        }
        a,
        .sponsored-tag {
            font-weight: 700;
            color: $scooter;
        }
        .recipe-details {
            background: $catskill-white;
            padding: 0 .6153846154em;
            i {
                color: $gray-38;
                font-size: .8461538462em;
                margin: 0 0 .1538461538em;
            }
            span + span {
                margin-left: 1em;
            }
            &::before {
                display: none;
            }
        }
    }
    .article-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        background: $sunglow;
        color: $black;
        z-index: 2;
        pointer-events: none;
        + .article-content {
            padding-left: 4.875rem;
        }
    }
}
