/* mini item view type */
.vl5 {
    margin: 0 0 1rem;
    display: flex;
    .image {
        position: relative;
        width: 5rem;
        height: 5rem;
        img {
            object-fit: cover;
            object-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        + .info {
            padding-left: 1rem;
        }
    }
    .info {
        flex: 1;
    }
    .title {
        font-size: 1.125rem;
        line-height: 1.33333333;
        font-weight: 900;
        margin: 0 0 .25rem;
    }
}
