/* mini item view type */
.vl5 {
    margin: 0 0 1rem;
    display: flex;
    .image {
        position: relative;
        width: 5rem;
        height: 5rem;
        img {
            object-fit: cover;
            object-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        + .article-header {
            padding-left: 1rem;
        }
    }
    .article-header {
        flex: 1;
    }
    .title {
        font-size: 1.125rem;
        line-height: 1.33333333;
        font-weight: 900;
        margin: 0 0 .25rem;
    }
    .info {
        @extend %clearfix;
        margin: 0;
        text-transform: uppercase;
        font-size: .8125rem;
        letter-spacing: 1px;
        > span,
        > time {
            display: inline-block;
            float: left;
            + span,
            + time {
                &::before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: .25rem;
                    height: .25rem;
                    background: $sunglow;
                    margin: 0 .25rem .125rem;
                }
            }
        }
    }
}
