/* overlay item view type */
.vl2 {
    margin: 0 0 2rem;
    .article-link {
        display: block;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        color: $white;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba($black, .1) 0%, $black 100%);
            z-index: 2;
            transition: opacity .75s ease-out;
        }
        &:hover,
        &:focus {
            color: $white;
            &::before {
                opacity: .75;
            }
            .image {
                transform: scale(1.08);
            }
        }
    }
    .image {
        position: absolute;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        transition: transform .75s ease-out;
    }
    .article-header {
        position: absolute;
        z-index: 3;
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
    }
    .title {
        font-size: 1.3125rem;
        margin: 0 0 .25rem;
    }
    .info {
        @extend %clearfix;
        margin: 0;
        text-transform: uppercase;
        font-size: .8125rem;
        letter-spacing: 1px;
        > span,
        > time {
            display: inline-block;
            float: left;
            + span,
            + time {
                &::before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: .25rem;
                    height: .25rem;
                    background: $sunglow;
                    margin: 0 .25rem .125rem;
                }
            }
        }
        .sponsored-tag {
            font-weight: 700;
            color: $scooter;
        }
    }
    .article-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        background: $sunglow;
        color: $black;
        z-index: 2;
        pointer-events: none;
    }
}
