/* overlay item view type */
.vl2 {
    margin: 0 0 2rem;
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 100%;
    color: $white;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba($black, .1) 0%, $black 100%);
        z-index: 2;
        transition: opacity .75s ease-out;
    }
    .image {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        transition: transform .75s ease-out;
    }
    .info {
        position: absolute;
        z-index: 3;
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
        .title {
            font-size: 2.0625rem;
        }
    }

    &:hover,
    &:focus {
        color: $white;
        &::before {
            opacity: .75;
        }
        .image {
            transform: scale(1.08);
        }
    }
}
