/* overlay item view type */
.vl2 {
    margin: 0 0 2rem;
    position: relative;
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    .image-16by9 {
        display: block;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
        img {
            object-fit: cover;
            object-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
            transition: transform .75s ease-out;
            will-change: transform;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba($black, .1) 0%, $black 100%);
            z-index: 2;
            transition: opacity .75s ease-out;
        }
    }
    .article-header {
        position: absolute;
        z-index: 3;
        bottom: 1.75rem;
        left: 2rem;
        right: 2rem;
        color: $white;
    }
    .title {
        font-size: 1.3125rem;
        margin: 0 0 .25rem;
    }
    .info {
        @extend %clearfix;
        margin: 0;
        text-transform: uppercase;
        font-size: .8125rem;
        letter-spacing: 1px;
        > span,
        > time,
        > a {
            display: inline-block;
            float: left;
            margin-right: .25rem;
            + span,
            + time,
            + a {
                &::before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: .25rem;
                    height: .25rem;
                    background: $sunglow;
                    margin: 0 .25rem .125rem 0;
                }
            }
        }
        a,
        .sponsored-tag {
            font-weight: 700;
            color: $scooter;
        }
        .recipe-details {
            clear: left;
            background: rgba($catskill-white, .2);
            padding: 0 .6153846154em;
            i {
                color: $gray-38;
                font-size: .8461538462em;
                margin: 0 0 .1538461538em;
            }
            span + span {
                margin-left: 1em;
            }
            &::before {
                display: none;
            }
        }
    }
    .article-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        background: $sunglow;
        color: $black;
        z-index: 2;
        pointer-events: none;
    }
    &:hover,
    &:focus {
        .image-16by9 {
            &::before {
                opacity: .75;
            }
            img {
                transform: scale(1.08);
            }
        }
    }
}
