{% extends nglayouts.layoutTemplate %}

{% trans_default_domain "ngsite_user" %}

{% block content %}
    <header class="full-page-header full-form-header">
        <div class="container">
            <h1 class="full-page-title">{{ "ngsite.user.forgot_password.sent.title"|trans }}</h1>
        </div>
    </header>

    <div class="full-form-content">
        <div class="container">
            <div class="full-form-response">
                <p>{{ "ngsite.user.forgot_password.sent.text"|trans({'%link%': path('ngsite_user_forgot_password')})|raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}
