{% if location is defined %}
    <a href="{{ ibexa_path(location) ~ suffix }}"{% if css_class is not empty %} class="{{ css_class }}"{% endif %}{% if open_in_new_tab %} target="_blank"{% endif %}>{{ label }}</a>
{% endif %}
