<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="modal-image" src="{{ asset('images/logo-for-modal.svg') }}">
                <a href="#" class="close " data-dismiss="modal" aria-label="Close">
                    <span class="icon-cancel"></span>
                </a>
            </div>
            <div class="modal-body" id="form-modal-body">
                {{ ng_view_content(content, 'payload') }}
            </div>
        </div>
    </div>
</div>
