{% set content_name = ez_field_value( content, 'name' ).text %}

<div class="view-type view-type-{{ viewType }} image vl2">
    {% include 'NetgenMoreDemoBundle:parts:slide_image.html.twig' %}
</div>
