{% import 'NetgenMoreDemoBundle:parts:slide.html.twig' as slide %}

<div class="view-type view-type-{{ viewType }} ng-article vl2">
    {{ slide.image( content ) }}

    <div class="info">
        <h2 class="title"><a href={{ path( location ) }}>{{ ng_render_field( content.fields.title ) }}</a></h2>
    </div>
</div>
