<div class="view-type view-type-{{ viewType }} ng-article vl2">
    {% include 'NetgenMoreDemoBundle:parts:slide_image.html.twig' %}

    <div class="info">
        <h2 class="title"><a href={{ path( location ) }}>{{ ez_render_field( content, 'title' ) }}</a></h2>
    </div>
</div>
