<a class="site-logo" href="{{ path(ezpublish.rootLocation) }}" title="{{ site_name }}">
    <!-- <img src="{{ asset(ngmore.siteInfoContent.fields.site_logo.value.id, 'ezfile') }}" /> -->
    <span>{{ site_name }}</span>
</a>
