{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% set show_path = false %}
{% set disable_layout_regions = true %}
{% set disable_containers = true %}

{% block content %}
<div class="view-type view-type-{{ viewType }} ng-landing-page {% if not content.fields.css_class.empty %}{{ content.fields.css_class.value.text }}{% endif %} clearfix">

    {{ ng_render_field( content.fields.page ) }}

</div>
{% endblock %}
