{% import "@ezdesign/parts/macros.html.twig" as macros %}

{% block content %}
    <div class="view-type view-type-{{ view_type }} ng-banner">
        <h2 class="title">
            {{ macros.content_link(content, content.fields.title.value.text) }}
        </h2>
    </div>
{% endblock %}
