{# content \Netgen\EzPlatformSiteApi\API\Values\Content #}
{# location \Netgen\EzPlatformSiteApi\API\Values\Location #}

<div class="view-type view-type-{{ view_type }} ng-htmlbox">
    {{ content.fields.html_code.value.text|raw }}
</div>
