{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% block content %}
<article class="view-component view-component-lead lead-style-1">
    <header class="article-header">

        {% if not content.fields.eyebrow_title.empty %}
            <div class="eyebrow-title">
                {{ ng_render_field(content.fields.eyebrow_title) }}
            </div>
        {% endif %}

        {% if not content.fields.title.empty %}
            <h2 class="title">
                {{ ng_render_field(content.fields.title)}}
            </h2>
        {% endif %}
    </header>

    <div class="article-info">
        {% if not content.fields.description.empty %}
            <div class="short">
                {{ ng_render_field(content.fields.description) }}
            </div>
        {% endif %}

        {% if not content.fields.link_1.empty %}
            {% if content.fields.link_1.value.isTargetEmbed %}
                <div class="embedded-form">
            {% else %}
                <div class="actions">
            {% endif %}
                {{ ng_render_field(
                    content.fields.link_1, {
                        parameters: {
                            css_class: 'btn btn-primary'
                        }
                    }
                ) }}
            </div>
        {% endif %}
    </div>
</article>
{% endblock %}
