{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import '@NetgenToolbar/macros.html.twig' as toolbar_macros %}

<article {{ toolbar_macros.item_params(content, location) }} class="view-type view-type-{{ view_type }} file vl5">
    <header class="article-header">
        <h3 class="title"><a href="{{ ibexa_path(location) }}">{{ ng_render_field(content.fields.name) }}</a></h3>
    </header>
</article>
