// Typography style file
html {
    font-size: 100%;
}
body {
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
    background: $footer-bg;
    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

#page {
    background: $body-bg;
}

a {
    color: inherit;
    transition: background 150ms, color 150ms;
    &,
    &:hover,
    &:focus {
        color: inherit;
        outline: none;
        text-decoration: none;
    }
}

p {
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern' 1;
    font-kerning: normal;
    margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern' 1;
    font-kerning: normal;
}

img {
    max-width: 100%;
    opacity: 1;
    transition: opacity .3s;
}

img[data-src] {
    opacity: 0;
    width: 100%;
}

figure {
    margin: 0;
}
