{% extends nglayouts.pageLayoutTemplate %}

{% block layout %}
    <div class="zone-layout-layout1">

        <main class="zone zone-main">
            {% nglayouts_render_zone 'main' %}
        </main>

    </div>
{% endblock %}
