{% extends "NetgenMoreDemoBundle:parts:linkable.html.twig" %}

{% block content %}
    <div class="view-type view-type-{{ viewType }} ng-banner">
        <h2 class="title"><a href="{{ url }}" {% if open_in_new_window %} target="_blank" {% endif %}>{{ ez_render_field( content, 'title' ) }}</a></h2>
    </div>
{% endblock %}
