<div class="view-type view-type-{{ viewType }} ng-banner">
    <h2 class="att-title"><a href="{{ path( 'ez_urlalias', { 'locationId': content.contentInfo.mainLocationId } ) }}">{{ ez_content_name( content ) }}</a></h2>
</div>
