{% import 'NetgenMoreDemoBundle:parts:content_fields.html.twig' as content_fields %}

<div class="view-type view-type-{{ viewType }} ng-category">
    <h3><a href="{{ path( location ) }}">{{ ez_render_field( content, 'title' ) }}</a></h3>

    {{ content_fields.image( content, location, 'i320' ) }}
</div>
