<div class="view-type view-type-{{ viewType }} ng-gallery {% if not ez_is_field_empty( content, 'css_class' ) %}{{ ez_field_value( content, 'css_class' ).text }}{% endif %}">
    {{ render(
        controller(
            'ngmore.controller.parts:viewRelatedMultimediaItems', {
                'locationId': content.contentInfo.mainLocationId,
                'includeChildren': true,
                'contentTypeIdentifiers': ['image', 'ng_video'],
                'template': 'NetgenMoreDemoBundle:parts:related_multimedia.html.twig'
            }
        )
    ) }}
</div>
