<div class="view-type view-type-{{ viewType }} ng-landing-page">
    <h3><a href="{{ path( 'ez_urlalias', { 'locationId': content.contentInfo.mainLocationId } ) }}">{{ ez_render_field( content, 'title' ) }}</a></h3>
</div>
