{% import 'NetgenMoreDemoBundle:parts:content_fields.html.twig' %}

<div class="view-type view-type-{{ viewType }} ng-news">

    {{ content_fields.image( content, location, 'i320' ) }}

    <h3><a href="{{ path( location ) }}">{{ content_fields.name( content ) }}</a></h3>

</div>
