{# content \Netgen\EzPlatformSiteApi\API\Values\Content #}
{# location \Netgen\EzPlatformSiteApi\API\Values\Location #}

{% import '@ibexadesign/parts/content_fields.html.twig' as content_fields %}
{% import '@ibexadesign/parts/slide.html.twig' as slide %}

<div class="view-type view-type-{{ view_type }} ng-news vl3">
    {{ slide.image(content) }}

    <div class="info">
        <div class="date">
            {% include '@ibexadesign/parts/time.html.twig' %}
        </div>
        <h2 class="title"><a href={{ ibexa_path(location) }}>{{ content_fields.title(content) }}</a></h2>
    </div>
</div>
