{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<div class="view-type view-type-{{ view_type }} ng-landing-page">
    <h3><a href="{{ path(content) }}">{{ content_fields.title(content) }}</a></h3>
</div>
