{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import '@ibexadesign/parts/video.html.twig' as video %}

<div class="view-type view-type-{{ view_type }} ng-video">

    {{ video.player(content) }}

</div>
