{% extends ngbm.layoutTemplate %}

{% trans_default_domain "ngsite_user" %}

{% block pre_content %}
    <header class="full-page-header full-form-header">
        <div class="container">
            <h1 class="full-page-title">{{ "ngsite.user.forgot_password.sent.title"|trans }}</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="full-form-content">
        <div class="full-form-response">
            <p>{{ "ngsite.user.forgot_password.sent.text"|trans({'%link%': path('ngsite_user_forgot_password')})|raw }}</p>
        </div>
    </div>
{% endblock %}
