{% extends ngbm.layoutTemplate %}

{% trans_default_domain "ngsite_user" %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'ngsite.user.reset_password.done.title'|trans }}</h1>
    </div>

    {% if error is defined %}
        {% if error == 'hash_expired' %}
            <div class="alert alert-danger">
                {{ "ngsite.user.reset_password.done.error.hash_expired"|trans({'%link%': path('ngsite_user_forgot_password')})|raw }}
            </div>
        {% else %}
            <div class="alert alert-danger">{{ 'ngsite.user.reset_password.done.error.other'|trans }}</div>
        {% endif %}
    {% else %}
        <p>{{ "ngsite.user.reset_password.done.text"|trans({'%link%': path('login')})|raw }}</p>
    {% endif %}
{% endblock %}
