/* search result item */
.vl7 {
    background: $catskill-white;
    margin: 0 0 2rem;
    padding: 2rem;
    .article-content {
        display: flex;
    }
    .image {
        width: 10rem;
        + .article-content-text {
            padding-left: $gap;
        }
    }
    .article-content-text {
        flex: 1;
    }
    .title {
        font-size: 1.5rem;
        font-weight: 900;
        margin: 0 0 .25rem;
        a {
            @extend %item-title-link;
        }
    }
    .short {
        color: $gray-54;
        p {
            margin: 0;
        }
    }
    .info {
        @extend %item-header-info;
    }
    .type {
        text-transform: uppercase;
        font-size: .8125rem;
        letter-spacing: 1px;
    }
}
