{% extends ngbm.layoutTemplate %}

{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

{% set show_path = false %}

{% if not content.fields.full_intro.empty %}
    {% set meta_data = {'description': content.fields.full_intro.value.xml.saveXML()|striptags|trim|truncate(152)} %}
{% endif %}

{% set topic_tag = content.fields.title.value.text|trim %}

{% block content %}
    <div class="view-type view-type-{{ view_type }} ng-topic vf1">
        {% block page_header %}
            <header class="full-page-header">
                <div class="container">
                    <h1 class="full-page-title">{{ ng_render_field(content.fields.title) }}</h1>
                    {% if not content.fields.full_intro.empty %}
                        <div class="full-page-intro">
                            {{ ng_render_field(content.fields.full_intro) }}
                        </div>
                    {% endif %}
                </div>
            </header>
        {% endblock %}

        <div class="container">
            {% block body %}
                {% if not content.fields.body.empty %}
                    {{ ng_render_field(content.fields.body) }}
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
