{% extends '@ezdesign/parts/linkable.html.twig' %}

{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

{% set poster_image = content_fields.background_poster(content, 'image', 'i480') %}

{% block content %}
<a href="{{ url }}" class="view-type view-type-{{ viewType }} ng-banner vl2"{% if open_in_new_window %} target="_blank" rel="noopener noreferrer" {% endif %}>
    {% if poster_image is not empty %}
        <div class="image" style="background-image:url({{ poster_image }});"></div>
    {% endif %}

    <div class="info">
	    <h2 class="title">{{ ng_render_field(content.fields.title) }}</h2>
	</div>
</a>
{% endblock %}
