<div class="row">
    {% for valid_item in valid_items %}
        <div class="col-sm-4 col-md-3 col-lg-2 {% if ajax_block is defined and ajax_block %}ajax-block-item-result-{{ block.id }}{% endif %}">
            {{ render(
                controller(
                    'ez_content:viewLocation', {
                        'locationId': valid_item.locationId,
                        'viewType': block.customAttributes.advanced_block_item_viewtype,
                        'params': {
                            'alias_name': 'i480'
                        }
                    }
                )
            ) }}
        </div>
        {% if loop.index0 % 3 == 2 %}<div class="clearfix visible-sm-block"></div>{% endif %}
        {% if loop.index0 % 4 == 3 %}<div class="clearfix visible-md-block"></div>{% endif %}
        {% if loop.index0 % 6 == 5 %}<div class="clearfix visible-lg-block"></div>{% endif %}
    {% endfor %}
</div>
