<div class="sushi-swiper swiper-container">
    <div class="swiper-wrapper">
        {% for valid_item in valid_items %}
            <div class="swiper-slide">
                {{ render(
                    controller(
                        'ez_content:viewAction', {
                            'contentId': valid_item.contentId,
                            'locationId': valid_item.locationId,
                            'viewType': block.customAttributes.advanced_block_item_view_type
                        }
                    )
                ) }}
            </div>
        {% endfor %}
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
