{% import '@ezdesign/parts/slide.html.twig' as slide %}

<div class="view-type view-type-{{ view_type }} image vl3">
    {% if image_type == 'main' %}
        {{ slide.image(content, 'image', 'i1200', true) }}
    {% elseif image_type == 'thumb' %}
        {{ slide.image(content, 'image', 'i320') }}
    {% endif %}
</div>
