.breadcrumb-wrapper {
    .breadcrumb {
        background-color: transparent;
        margin: 0;
        padding: 1.5rem 0;
        font-size: 1.125rem;
        line-height: 1.3125rem;
        .breadcrumb-item {
            & + .breadcrumb-item::before {
                color: inherit;
            }
        }
    }
}
