.ngl-list {
    &.ngl-vt-grid {
        .row {
            gap: 2.5rem 0;
        }
    }
    &.ngl-vt-list {
        .list-row {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
        }
    }
    &.ngl-vt-list_zigzag {
        .list-row {
            display: grid;
            gap: 8rem;
        }
    }
    .ajax-collection {
        display: grid;
        gap: 2.5rem 0;
    }
}

.search-result {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.category-children {
    .row {
        gap: 2.5rem 0;
    }
}
