.ngl-list {
    &.ngl-vt-grid {
        .row {
            gap: $grid-gutter-width 0;
        }
    }
    &.ngl-vt-list {
        .list-row {
            display: flex;
            flex-direction: column;
            gap: $grid-gutter-width;
        }
    }
    .ajax-collection {
        display: grid;
        gap: $gap 0;
    }
}

.search-result {
    display: flex;
    flex-direction: column;
    gap: $grid-gutter-width;
}