$header-bg: $white;

/* site header */
.site-header {
    background: $header-bg;
    position: relative;

    > .container {
        height: $header-height-sm;
        display: flex;
        align-items: center;
        position: relative;

        @include media-breakpoint-up(lg) {
            height: $header-height;
        }
    }
}

/* header language selector */
.language-selector {
    margin: 0 0 0 1em;
    order: 2;

    @include media-breakpoint-up(lg) {
        order: revert;
    }

    &.show {
        .current-lang {
            position: relative;
            z-index: 1001;
            background: $primary;
        }
    }

    a {
        @extend %hover-underline;
        @include text-0_75;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        color: $black;
    }

    .current-lang {
        height: $header-height-sm;
        display: flex;
        align-items: center;
        padding: 0 1em;
        transition: color .2s;

        @include media-breakpoint-up(lg) {
            height: $header-height;
        }
    }

    .dropdown-menu {
        border: 0;
        background: $primary;
        margin: 0;
        text-align: left;
        right: 0;
        left: auto !important;
        top: -.125rem !important;
        box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .1);

        @include media-breakpoint-up(lg) {
            text-align: right;
        }

        a {
            padding: .5em 1em;
            display: block;
        }

        .current {
            a {
                color: $gray-54;
            }
        }
    }
}

/* header-searchbox */
.header-search {
    height: $header-height-sm;
    $btn-width: 4rem;
    position: relative;
    z-index: 1000;
    order: 3;

    @include media-breakpoint-up(lg) {
        height: $header-height;
        order: revert;
    }

    /* searchbox opened */
    .searchbox-active & {
        .searchbox-toggle {
            background: $primary;
            transition: color .2s;
        }
        .navbar-search {
            opacity: 1;
            width: 18rem;
            transition: width .4s;
            z-index: 1;
        }
        /* entered text in input */
        &.filled {
            .searchbox-toggle {
                pointer-events: none;
            }
        }
    }

    .searchbox-toggle {
        @extend %hover-underline;
        @include text-base;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        line-height: $header-height-sm;
        width: 4rem;
        text-align: center;
        background: $header-bg;
        z-index: 2;
        transition: color .2s, background .3s;
        z-index: 1002;

        @include media-breakpoint-up(lg) {
            line-height: $header-height;
        }

        @include media-breakpoint-up(md) {
            width: $btn-width;
        }
    }

    .navbar-search {
        padding: 1rem $btn-width 1rem 1rem;
        width: 0;
        transition: width .4s, opacity .23s;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        background: $primary;
        opacity: 0;
        z-index: 1001;
    }

    .search-query {
        flex: 1;
        width: 100%;
        background: transparent;
        border: 0;
        border-bottom: 2px solid $black;
        appearance: none;
        border-radius: 0;

        &:focus {
            outline: none;
        }
    }

    .search-submit {
        width: $btn-width;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }
}
