$header-bg: $white;

/* site header */
.site-header {
    background: $header-bg;
    position: relative;
    z-index: 1000;
    transition: all .15s ease-in-out;
    .header-content {
        height: var(--header-height);
        display: flex;
        align-items: center;
        @include media-breakpoint-down($collapse-nav) {
            .site-logo {
                order: 1;
                margin-right: auto;
            }
            .language-selector {
                order: 2;
            }
            .header-search {
                order: 3;
            }
            .mainnav-toggle {
                order: 4;
            }
        }
    }

    &.site-header-fixed,
    &.site-header-sticky--active {
        position: fixed;
        width: 100%;
        top: var(--ngtoolbar-height, 0);
        z-index: 100;
        transition: all .15s ease-in-out;
    }
}

/* header language selector */
.language-selector {
    margin: 0 0 0 1em;
    a, button {
        @extend %hover-underline;
        @include text-0_75;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        color: $black;
    }
    .current-lang {
        height: var(--header-height);
        display: flex;
        align-items: center;
        padding: 0 1em;
        transition: color .2s;
        background: transparent;
        border: none;

        &.show {
            position: relative;
            z-index: 1001;
            background: $primary;

            i {
                transform: rotate(180deg);
            }
        }

        i {
            width: 0.75rem;
            height: 0.75rem;

            &.icon-angle-down {
                @extend %icon-angle-down;
            }
        }
    }
    .dropdown-menu {
        border: 0;
        background: $primary;
        margin: 0;
        text-align: right;
        right: 0;
        left: auto !important;
        top: -.125rem !important;
        box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .1);
        @include media-breakpoint-down($collapse-nav) {
            text-align: left;
        }
        a {
            padding: .5em 1em;
            display: block;
            &:hover {
                color: $gray-54;
            }
            &:focus-visible {
                @include custom-outline;
            }
        }
        .current {
            a {
                color: $gray-54;
            }
        }
    }
}

/* header-searchbox */
.header-search {
    $btn-width: 4rem;
    height: var(--header-height);
    position: relative;
    .searchbox-toggle {
        @extend %hover-underline;
        @include text-base;
        color: $black;
        display: block;
        line-height: var(--header-height);
        width: $btn-width;
        text-align: center;
        background: $header-bg;
        z-index: 2;
        transition: color .2s, background .3s;

        i {
            width: 1rem;
            height: 1rem;
            position: relative;
            top: 1px;

            @include media-breakpoint-down(md) {
                width: 0.9rem;
                height: 0.9rem;
            }

            &.icon-search {
                @extend %icon-search;
            }
        }
    }
    .navbar-search {
        padding: 1rem $btn-width 1rem 1rem;
        width: 0;
        transition: width .4s, opacity .23s;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        background: $primary;
        opacity: 0;
        visibility: hidden;
    }
    .search-query {
        flex: 1;
        width: 100%;
        background: transparent;
        border: 0;
        border-bottom: 2px solid $black;
        appearance: none;
        border-radius: 0;
        &:focus {
            outline: none;
        }
    }
    .search-submit {
        width: $btn-width;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
        &:focus-visible {
            @include custom-outline;
        }
    }

    /* searchbox opened */
    .searchbox-active & {
        .searchbox-toggle {
            background: $primary;
            transition: color .2s;
        }
        .navbar-search {
            opacity: 1;
            width: 18rem;
            transition: width .4s;
            z-index: 1;
            visibility: visible;
        }
        /* entered text in input */
        &.filled {
            .searchbox-toggle {
                pointer-events: none;
            }
        }
    }
    @include media-breakpoint-down(md) {
        .searchbox-toggle {
            width: 4rem;
        }
    }

    @include media-breakpoint-down(sm) {
        .searchbox-active & {
            .navbar-search {
                width: calc(100vw - $header-height-sm);
            }
        }
    }
}
