$header-bg: $white;

/* site header */
.site-header {
    background: $header-bg;
    position: relative;
    > .container {
        height: $header-height;
        display: flex;
        align-items: center;
    }
    @include media-breakpoint-down(lg) {
        > .container {
            height: $header-height-sm;
            position: relative;
            .site-logo {
                order: 1;
                margin-right: auto;
            }
            .language-selector {
                order: 2;
            }
            .header-search {
                order: 3;
            }
            .mainnav-toggle {
                order: 4;
            }
        }
    }
}

/* header language selector */
.language-selector {
    margin: 0 0 0 1em;
    a {
        @extend %hover-underline;
        @include text-0_75;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        color: $black;
    }
    .current-lang {
        height: $header-height;
        display: flex;
        align-items: center;
        padding: 0 1em;
        transition: color .2s;
        @include media-breakpoint-down(lg) {
            height: $header-height-sm;
        }
    }
    .dropdown-menu {
        border: 0;
        background: $primary;
        margin: 0;
        text-align: right;
        right: 0;
        left: auto !important;
        top: -.125rem !important;
        box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .1);
        @include media-breakpoint-down(lg) {
            text-align: left;
        }
        a {
            padding: .5em 1em;
            display: block;
        }
        .current {
            a {
                color: $gray-54;
            }
        }
    }
    &.show {
        .current-lang {
            position: relative;
            z-index: 1001;
            background: $primary;
        }
    }
}

/* header-searchbox */
.header-search {
    $btn-width: 4rem;
    height: $header-height;
    position: relative;
    .searchbox-toggle {
        @extend %hover-underline;
        @include text-base;
        color: $black;
        display: block;
        line-height: $header-height;
        width: $btn-width;
        text-align: center;
        background: $header-bg;
        z-index: 2;
        transition: color .2s, background .3s;
    }
    .navbar-search {
        padding: 1rem $btn-width 1rem 1rem;
        width: 0;
        transition: width .4s, opacity .23s;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        background: $primary;
        opacity: 0;
    }
    .search-query {
        flex: 1;
        width: 100%;
        background: transparent;
        border: 0;
        border-bottom: 2px solid $black;
        appearance: none;
        border-radius: 0;
        &:focus {
            outline: none;
        }
    }
    .search-submit {
        width: $btn-width;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }

    /* searchbox opened */
    .searchbox-active & {
        .searchbox-toggle {
            background: $primary;
            transition: color .2s;
        }
        .navbar-search {
            opacity: 1;
            width: 18rem;
            transition: width .4s;
            z-index: 1;
        }
        /* entered text in input */
        &.filled {
            .searchbox-toggle {
                pointer-events: none;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        height: $header-height-sm;
        .searchbox-toggle {
            line-height: $header-height-sm;
        }
    }
    @include media-breakpoint-down(md) {
        .searchbox-toggle {
            width: 4rem;
        }
    }
}
