.main-navigation {
    flex: 1;
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0 1rem;
        text-align: center;
        > li {
            position: relative;
            > a,
            > span,
            > .submenu-trigger {
                @extend %hover-underline;
                @include text-link;
                display: inline-block;
                padding: 0 1.3333333333em;
            }
            .submenu-trigger {
                position: relative;
                padding-right: 1.75em;
            }
            > a + .submenu-trigger {
                padding-left: .25em;
            }
            &:has(> a + .submenu-trigger) {
                padding-right: 2em;
                .submenu-trigger {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 2em;
                    display: block;
                }
            }
        }
    }
    /* main submenu */
    .menu_level_1 {
        list-style-type: none;
        padding: .5rem 0;
        margin: 0;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-.25rem) scaleY(.85);
        transform-origin: top;
        transition: .1s;
        a {
            display: block;
            padding: .5em 1.5em;
        }
    }
    .submenu-active {
        > .menu_level_1 {
            visibility: visible;
            opacity: 1;
            transform: translateY(0) scaleY(1);
        }
    }
    .submenu-trigger {
        &::before {
            content: '';
            position: absolute;
            right: .75em;
            top: 50%;
            transform: translateY(-50%);
            width: .625em;
            height: .625em;
            background-color: currentColor;
            mask: url(../assets/icons/angle-down.svg) no-repeat center;
            mask-size: contain;
            transition: .15s;
        }
    }
    /* large screen sizes */
    @include media-breakpoint-up($collapse-nav) {
        .navbar-nav {
            > li:has(.submenu-active),
            > li:hover,
            .active {
                > a,
                > span,
                > .submenu-trigger {
                    color: $black;
                    &::after {
                        transform: scaleY(1);
                    }
                }
            }
            > li {
                > a,
                > span,
                > .submenu-trigger {
                    display: flex;
                    height: $header-height;
                    align-items: center;
                    justify-content: center;
                    color: $gray-54;
                }
            }
            > li.submenu-active {
                .submenu-trigger::before {
                    transform: translateY(-60%) rotate(180deg);
                }
            }
        }
        .menu_level_1 {
            position: absolute;
            top: 100%;
            left: 0;
            width: 16rem;
            z-index: 20;
            background: $primary;
            box-shadow: 0 .5rem 1rem hsla(0, 0, 0, .12);
            a {
                @include text-link;
                &:hover {
                    background: hsla(0, 0, 0, .05);
                }
            }
        }
    }
    /* small screen sizes */
    @include media-breakpoint-down($collapse-nav) {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transform: scale(.95);
        transition: .1s;
        position: absolute;
        left: calc(var(--bs-gutter-x) * .5);
        right: calc(var(--bs-gutter-x) * .5);
        top: $header-height-sm;
        z-index: 1000;
        background: $primary;
        box-shadow: 0 .5rem 1rem hsla(0, 0, 0, .12);
        .navbar-nav {
            display: block;
            margin: 0;
            padding: 1rem 0;
            > li {
                > a,
                > span,
                > .submenu-trigger {
                    padding: .5em 1em;
                    color: $gray-87;
                    &::after {
                        display: none;
                    }
                }
                .submenu-trigger {
                    padding-right: 2em;
                }
                &.submenu-active {
                    .menu_level_1 {
                        max-height: var(--max-height);
                    }
                    .submenu-trigger {
                        &::before {
                            transform: translateY(-60%) rotate(180deg);
                        }
                    }
                }
                &:has(> a + .submenu-trigger) {
                    padding-right: 0;
                    .submenu-trigger {
                        position: relative;
                        height: 1.5em;
                        display: inline-block;
                    }
                }
            }
        }
        .mainnav-active & {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
        .submenu-trigger {
            right: 0;
            top: 0;
        }
        .menu_level_1 {
            max-height: 0;
            overflow: hidden;
            padding: 0;
            transform: translateY(-.25rem);
            transition: .25s;
            a {
                @include text-0_875;
            }
        }
    }
    @include media-breakpoint-down($collapse-nav) {
        overflow: scroll;
        position: absolute;
        z-index: 1000;
        left: 0;
        right: 0;
        height: calc(100vh - #{$header-height-sm});
    }
    @include media-breakpoint-down(xs) {
        left: 0;
        right: 0;
    }
}

.submenu-trigger {
    text-align: inherit;
    color: inherit;
    background-color: transparent;
    border: 0;
    .no-triggers &::after,
    .no-triggers a + & {
        display: none;
    }
}

.mainnav-toggle {
    @extend %hover-underline;
    display: none;
    position: relative;
    width: $header-height-sm;
    height: $header-height-sm;
    background-color: transparent;
    border: none;
    .hamburger {
        --line-width: 1.25rem;
        --line-height: .125rem;
        --line-radius: 0;
        --line-spacing: calc(var(--line-width) / 3);
        display: block;
        width: var(--line-width);
        height: var(--line-height);
        position: absolute;
        background-color: currentColor;
        border-radius: var(--line-radius);
        left: 50%;
        top: 50%;
        margin-left: calc(var(--line-width) / -2);
        margin-top: calc(var(--line-height) / -2);
        transition: background-color 400ms ease-out 200ms;
        &::before,
        &::after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: currentColor;
            border-radius: var(--line-radius);
            transition: all 400ms;
        }
        &::before {
            top: calc(var(--line-spacing) / -1);
        }
        &::after {
            bottom: calc(var(--line-spacing) / -1);
        }
    }
    &:hover {
        color: inherit;
    }
    .mainnav-active & {
        .hamburger {
            background-color: transparent;
            transition: background-color 100ms ease-out;
            &::before {
                transform: translate(0, var(--line-spacing)) rotate(135deg);
            }
            &::after {
                transform: translate(0, calc(var(--line-spacing) / -1)) rotate(-135deg);
            }
        }
    }
    @include media-breakpoint-down($collapse-nav) {
        display: block;
    }
}


.mainnav-active {
    @include media-breakpoint-down($collapse-nav) {
        overflow-y: hidden;
        position: fixed;
        width: 100%;
        body {
            overflow-y: hidden;
            position: fixed;
            width: 100%;
        }
    }
}
