.main-navigation {
    flex: 1;
    position: relative;
    margin-left: 2rem;

    @include media-breakpoint-down(xl) {
        margin-left: 0;
        transform: translateX(100%);
        pointer-events: none;
        transition: transform 300ms;
        position: fixed;
        display: flex;
        flex-direction: column;
        height: calc(100vh - #{$header-height-sm});
        overflow-y: scroll;
        left: 0;
        right: 0;
        top: calc(#{$header-height-sm} + 2px);
        z-index: 1000;
        background: $primary;
        box-shadow: 0 .5rem 1rem hsla(0, 0, 0, .12);
        padding-bottom: 1.5rem;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0 1rem;
        > li {
            display: flex;
            align-items: center;
            padding: 0 1.3333333333em;
            position: relative;
            cursor: pointer;
            @extend %hover-underline;

            @media (max-width: 1300px) {
                padding: 0 1rem;
            }

            @include media-breakpoint-down(xl) {
                padding: 0;
            }

            > a,
            > span {
                @include text-1_125;
                font-weight: 600;
                display: inline-block;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }

            &.submenu-active {
                .menu_level_1 {
                    display: block;
                }
                .submenu-trigger {
                    transform: rotate(180deg);
                }
            }
        }
    }
    /* main submenu */
    .menu_level_1 {
        list-style-type: none;
        padding: 0.875rem 0;
        margin: 0;
        display: none;
        cursor: auto;

        li {
            width: 100%;

            &:not([id*="menu-item"]) {
                display: flex;
                flex-direction: column;

                > span {
                    @include text-0_875;
                    border-top: 2px solid rgba($black, 0.1);
                    margin-top: 0.75rem;
                    color: $darkgray;
                }
            }
        }

        a {
            display: block;
            padding: 0.625rem 2rem;
            width: max-content;
            min-width: 100%;
        }

        span {
            &:not(.user-icon) {
                display: inline-block;
                padding: 1.25rem 0 0.75rem;
                margin: 0 2rem;
            }
        }
    }

    .menu_level_2 {
        list-style-type: none;
        padding: 0;
    }

    /* large screen sizes */
    @include media-breakpoint-up(xl) {
        display: flex;

        .navbar-nav {
            > li:hover,
            .active {
                > a,
                > span {
                    &::after {
                        transform: scaleY(1);
                    }
                }
            }
            > li {
                > a,
                > span {
                    display: flex;
                    height: $header-height;
                    align-items: center;
                    justify-content: center;
                    color: $gray-54;
                }
                &:hover {
                    .menu_level_1 {
                        display: block;
                    }
                }
            }
        }
        .menu_level_1 {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 20;
            background: $primary;
            box-shadow: 0 .5rem 1rem hsla(0, 0, 0, .12);
            a {
                @include text-link;
                &:hover {
                    background: hsla(0, 0, 0, .05);
                }
            }
        }
    }

    .submenu-trigger {
        margin-left: 1.375rem;
        line-height: 0;

        @media (max-width: 1300px) {
            margin-left: 0.75rem;
        }

        &::before {
            content: url('../assets/icons/icon_arrow_down.svg');

            .inverted & {
                @include media-breakpoint-up(xl) {
                    @include icon-color(secondary_1);
                }
            }
        }
    }
    /* small screen sizes */
    @include media-breakpoint-down(xl) {
        .navbar-nav {
            display: block;
            margin: 0;
            padding: 0;
            > li {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0.75rem 1.5rem;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                > a,
                > span {
                    padding: .5em 0;
                    color: $gray-87;
                    &::after {
                        display: none;
                    }
                }
                &[data-submenu='true'] {
                    > a {
                        margin: 0 1.875rem;
                    }
                }

                &::after {
                    display: none;
                }
            }
        }
        .mainnav-active & {
            transform: translateX(0);
            pointer-events: all;
        }
        .submenu-trigger {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            line-height: 1.875rem;
            @include text-0_875;
            &::before {
                display: block;
            }
        }
        .menu_level_1 {
            width: 100%;
            padding: 0;
            background-color: $primary_0;
            margin-top: 0.5rem;
            border-radius: 2px;

            a {
                @include text-1_125;
                font-weight: 600;
                padding-inline: 1.5rem;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                    line-height: 1.15;
                }
            }

            span {
                &:not(.user-icon) {
                    margin: 0 1.5rem;
                }
            }

            @include media-breakpoint-down(sm) {
                padding: 0.5rem 0;
            }
        }
    }
    @include media-breakpoint-down(xs) {
        left: 0;
        right: 0;
    }
}

.mainnav-toggle {
    display: none;
    position: relative;
    width: $header-height-sm;
    height: $header-height-sm;
    .hamburger {
        display: block;
        width: 1.25rem;
        height: .125rem;
        position: absolute;
        background: currentColor;
        left: 50%;
        top: 50%;
        margin: -.0625rem 0 0 -.625rem;
        transition: background 400ms ease-out 200ms;
        &::before,
        &::after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: currentColor;
            transition: all 400ms;
        }
        &::before {
            top: -.375rem;
        }
        &::after {
            bottom: -.375rem;
        }
    }
    &:hover {
        color: inherit;
    }
    .mainnav-active & {
        .hamburger {
            background: transparent;
            transition: background 100ms ease-out;
            &::before {
                transform: translate(0, .375rem) rotate(135deg);
            }
            &::after {
                transform: translate(0, -.375rem) rotate(-135deg);
            }
        }
    }

    .inverted & {
        @include media-breakpoint-up(xl) {
            .hamburger {
                color: $secondary_1;
            }
        }
    }

    @include media-breakpoint-down(xl) {
        display: block;
        margin-right: -1.5rem;
    }
}

.user-menu {
    display: flex;
    border-left: 2px solid rgba(249, 241, 222, 0.08);
    flex-direction: row;
    position: relative;

    @include media-breakpoint-down(xl) {
        flex-direction: column;
        border-left: none;
        border-top: 2px solid rgba(0, 0, 0, 0.08);
        margin: 1.5rem;
        padding: 1.5rem 0;
    }

    &.submenu-active {
        .user-dropdown-menu {
            display: flex;
        }
    }

    .submenu-trigger {
        display: none;
    }

    .user-menu-cta {
        @include text-base;
        @extend %hover-underline;
        display: flex;
        align-items: center;
        position: relative;
        font-weight: 600;
        padding-inline: 2rem;

        @include media-breakpoint-down(xl) {
            padding-inline: 0;
        }

        &.prevent-user-menu-cta {
            @include media-breakpoint-down(xl) {
                display: none;
            }
        }

        .arrow-icon {
            &::after {
                @include icon-color(secondary_1);
                content: url('../assets/icons/icon_arrow_right_small.svg');
                margin-left: 0.625rem;

                .inverted & {
                    @include media-breakpoint-up(xl) {
                        @include icon-color(secondary_1);
                    }
                }
            }

        }

        .inverted & {
            @include media-breakpoint-up(xl) {
                color: $secondary_1;
            }
        }
    }

    .user-dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: revert;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1.5rem 2.5rem;
        border: none;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        width: max-content;

        @include media-breakpoint-down(xl) {
            display: flex;
            position: relative;
            top: revert;
            right: revert;
            box-shadow: none;
            align-items: flex-start;
            padding: 0;
        }

        &.menu_level_1 {
            @include media-breakpoint-down(xl) {
                background-color: revert;
                margin-top: 0;
            }
        }
    }

    .user-icon {
        width: 1.875rem;
        height: 1.875rem;
        background-color: $primary;
        font-size: 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        object-fit: cover;
        align-items: center;
        margin: 0 0.5rem 0 0;

        &::before {
            content: url('../assets/icons/icon_user.svg');
        }

        &--main {
            width: 3.5rem;
            height: 3.5rem;
            margin-bottom: 1.5rem;
            background-color: $secondary;

            @include media-breakpoint-down(xl) {
                display: none;
            }
        }
    }

    a.btn-user {
        @include text-1_125;
        font-weight: 600;
        color: $secondary_1;
        display: flex;
        align-items: center;

        @include media-breakpoint-down(xl) {
            justify-content: flex-start;
            font-size: 1rem;
            font-weight: 600;
            color: $secondary_1;
        }

        &::after {
            content: url('../assets/icons/icon_caret_right.svg');
            margin-left: 0.625rem;
            width: 1.5625rem;
            height: 1.5625rem;
            @include icon-color(secondary_1);

            @include media-breakpoint-down(xl) {
                @include icon-color(secondary_1);
            }
        }

        & + .btn-user {
            margin-top: 24px;
        }

        &:not(.btn.btn-link) {
            @include media-breakpoint-down(xl) {
                width: fit-content;
                padding: 0;
            }
        }

        &-register {
            @include media-breakpoint-down(xl) {
                display: none;
                pointer-events: none;
            }
        }
    }
}

.mainnav-active {
    @include media-breakpoint-down(xl) {
        overflow-y: hidden;
        position: fixed;
        width: 100%;

        body {
            overflow-y: hidden;
            position: fixed;
            width: 100%;
        }
    }
}
