.site-logo {
    display: inline-block;
    width: 10rem;
    order: 1;
    margin-right: auto;

    @include media-breakpoint-up(lg) {
        width: 12rem;
        order: revert;
        margin-right: revert;
    }

    @include media-breakpoint-up(xl) {
        width: 14rem;
    }

    img {
        width: 100%;
    }
}
