.site-logo {
    display: inline-block;
    width: 14rem;
    img {
        width: 100%;
    }
    @include media-breakpoint-down(xl) {
        width: 12rem;
    }
    @include media-breakpoint-down($collapse-nav) {
        width: 10rem;
    }
}
