.main-navigation {
    flex: 1;
    .navbar-nav {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0 1rem;
        text-align: center;
        > li {
            position: relative;
            > a,
            > span {
                @extend %hover-underline;
                display: inline-block;
                font-weight: 700;
                font-size: .75rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 0 1.3333333333em;
            }
        }
    }
    /* main submenu */
    .menu_level_1 {
        list-style-type: none;
        padding: 1rem 0;
        margin: 0;
        display: none;
        a {
            display: block;
            padding: .5em 1.5em;
        }
    }
    /* large screen sizes */
    @include media-breakpoint-up(lg) {
        .navbar-nav {
            > li:hover,
            .active {
                > a,
                > span {
                    color: $black;
                    &::after {
                        transform: scaleY(1);
                    }
                }
            }
            > li {
                > a,
                > span {
                    display: flex;
                    height: $header-height;
                    align-items: center;
                    justify-content: center;
                    color: $gray-54;
                }
                &:hover {
                    .menu_level_1 {
                        display: block;
                    }
                }
            }
        }
        .menu_level_1 {
            position: absolute;
            top: 100%;
            left: 0;
            width: 16rem;
            z-index: 20;
            background: $sunglow;
            box-shadow: 0 .5rem 1rem hsla(0, 0, 0, .12);
            a {
                font-size: .75rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1px;
                &:hover {
                    background: hsla(0, 0, 0, .05);
                }
            }
        }
    }
    .submenu-trigger {
        @extend %fontawesome;
        display: none;
    }
    /* small screen sizes */
    @include media-breakpoint-down(md) {
        display: none;
        position: absolute;
        left: $gutter;
        right: $gutter;
        top: $header-height-sm;
        z-index: 1000;
        background: $sunglow;
        box-shadow: 0 .5rem 1rem hsla(0, 0, 0, .12);
        .navbar-nav {
            display: block;
            margin: 0;
            padding: 1rem 0;
            > li {
                > a,
                > span {
                    padding: .5em 1em;
                    color: $gray-87;
                    &::after {
                        display: none;
                    }
                }
                &[data-submenu='true'] {
                    > a {
                        margin: 0 1.875rem;
                    }
                }
                &.submenu-active {
                    .menu_level_1 {
                        display: block;
                    }
                    .submenu-trigger {
                        &::before {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
        .mainnav-active & {
            display: block;
        }
        .submenu-trigger {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            width: 1.875rem;
            height: 1.875rem;
            line-height: 1.875rem;
            font-size: .875rem;
            &::before {
                display: block;
                content: '\f078';
            }
        }
        .menu_level_1 {
            padding: 0 0 1rem;
            a {
                color: $gray-54;
                font-size: .875rem;
            }
        }
    }
    @include media-breakpoint-down(xs) {
        left: 0;
        right: 0;
    }
}

.mainnav-toggle {
    display: none;
    position: absolute;
    right: $gutter;
    width: $header-height-sm;
    height: $header-height-sm;
    .hamburger {
        display: block;
        width: 1.25rem;
        height: .125rem;
        position: absolute;
        background: currentColor;
        left: 50%;
        top: 50%;
        margin: -.0625rem 0 0 -.625rem;
        transition: background 400ms ease-out 200ms;
        &::before,
        &::after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: currentColor;
            transition: all 400ms;
        }
        &::before {
            top: -.375rem;
        }
        &::after {
            bottom: -.375rem;
        }
    }
    .mainnav-active & {
        background: $sunglow;
        .hamburger {
            background: transparent;
            transition: background 100ms ease-out;
            &::before {
                transform: translate(0, .375rem) rotate(135deg);
            }
            &::after {
                transform: translate(0, -.375rem) rotate(-135deg);
            }
        }
    }
    @include media-breakpoint-down(md) {
        display: block;
    }
    @include media-breakpoint-down(xs) {
        right: 0;
    }
}
