{# ng_gallery - default view type #}

{% extends 'NetgenMoreDemoBundle:parts/block_item_view_types:block_item.html.twig' %}

{% block content %}
    <div class="content-view-block-item view-type-{{ view_type|default( '' ) }} ng-gallery">
        <h2 class="att-title"><a href="{{ location_path }}">{{ ez_render_field( content, 'name' ) }}</a></h2>
    </div>
{% endblock %}
