{% set site_info = ngsite.siteInfoContent %}
{% set site_name = ngsite.siteInfoContent.fields.site_name.value.text|trim %}

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% include '@ibexadesign/content/parts/site_logo.html.twig' %}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ ng_view_content(
                    content,
                    'payload',
                    {
                        params: {
                            action: path('ngsite_info_collection_ajax_submit', { formContentId: content.id }),
                            referer: referer|default(null),
                            class: 'embed-form',
                        },
                    }
                ) }}
            </div>
        </div>
    </div>
</div>
