<nav class="main-navigation" role="navigation">
    {% block page_main_menu %}
        {{ render_esi(
            controller(
                'ngmore.controller.page_layout:menu', {
                    menuName: 'ngmore_main_menu',
                    activeItemId: main_category_location_id is defined ? main_category_location_id : 0
                }
            )
        ) }}
    {% endblock %}
</nav>
