{% if show_path and path_array|length > 1 %}
    <div class="breadcrumb-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                {% for path_item in path_array %}
                    {% if path_item.url != false %}
                        <li><a href="{{ path_item.url }}">{{ path_item.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
{% endif %}
