{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}

<div class="view-type view-type-{{ viewType }} ng-audio vl clearfix">

    {{ content_fields.image(content, location) }}

    <div class="info">
	    <h2 class="title with-icon">
            <a href="{{ path(location) }}">
                <i class="fa fa-volume-up"></i>{{ ng_render_field(content.fields.title) }}
            </a>
        </h2>
	</div>
</div>
