<article class="view-type view-type-{{ view_type }} ng-frontpage vl1">
    <header class="article-header">
	    <h2 class="title"><a href="{{ path(location) }}">{{ ng_render_field(content.fields.title) }}</a></h2>
	</header>
</article>
