{% set location_path = path(location) %}

<article class="view-type view-type-{{ viewType }} ng-gallery vl1">
    <header class="article-header">
        <h2 class="title"><a href="{{ location_path }}">{{ ng_render_field(content.fields.title) }}</a></h2>
    </header>
</article>
