{% set location_path = path(location) %}

<div class="view-type view-type-{{ viewType }} ng-gallery vl1">
    <div class="info">
        <h2 class="title"><a href="{{ location_path }}">{{ ng_render_field(content.fields.title) }}</a></h2>
    </div>
</div>
