// Layout style file
header {
	background:$headerBg;
	height:$headerHeight;
	.container {
		position:relative;
	}
	@media screen and (max-width:$break-sm) {
		& {
			height:auto;
			background:$mainColor;
			.container {
				padding:$headerHeightSm 0 0;
				margin:0;
				width:100%;
			}
		}
	}
}

#logo {
	display:block;
	width:175px;
	height:$headerHeight;
	position:absolute;
	left:$gutter;
	top:0;
	background:$mainColor url(../images/logo.svg) no-repeat center center;
	background-size:118px auto;
	overflow:hidden;
	text-indent:-999em;
	@media screen and (max-width:$break-sm) {
		& {
			left:0;
			height:$headerHeightSm;
			width:115px;
			background-size:85px auto;
		}
	}
}

#main-nav {
	padding:0 60px 0 175px;
	@extend %clearfix;
	#lang-selector {
		float:right;
		margin:0 10px;
		.current-lang {
			display:block;
			padding:0 10px;
			height:$headerHeight;
			line-height:$headerHeight;
			color:#fff;
			font-size:15px;
			font-weight:700;
			text-decoration:none;
			text-transform:uppercase;
		}
		&.open {
			.current-lang {
				background:$headerActiveBg;
			}
		}
		.lang-select {
			border:none;
			background:$headerActiveBg;
			border-radius:0;
			margin:0;
			box-shadow:none;
			padding:10px 0;
			a {
				color:#fff;
				font-weight:700;
				padding:5px 20px;
				text-decoration:none;
				text-transform:uppercase;
				&:hover,
				&:focus {
					color:$mainColor;
					background:transparent;
				}
			}
		}
	}
	@media screen and (max-width:$break-sm) {
		& {
			display:none;
			background:$headerBg;
			padding:0;
			#lang-selector {
				float:none;
				text-align:right;
				padding:10px 0;
				.current-lang {
					height:auto;
					line-height:40px;
				}
			}
			.mainnav-active & {
				display:block;
			}
		}
	}
}

.main-navigation {
	.navbar-nav {
		list-style-type:none;
		margin:0;
		padding:0;
		a {
			color:#fff;
			padding:5px 20px;
			font-weight:700;
			text-decoration:none;
			text-transform:uppercase;
		}
		> li {
			float:left;
			position:relative;
			> a {
				display:table-cell;
				height:$headerHeight;
				vertical-align:middle;
				font-size:18px;
				&:hover,
				&:focus {
					background:transparent;
				}
			}
			&:hover,
			&:focus {
				background:$headerActiveBg;
				.menu_level_1 {
					display:block;
				}
			}
			&.active {
				background:$headerActiveBg;
				> a {
					color:$mainColor;
				}
			}
		}
		.menu_level_1 {
			list-style-type:none;
			display:none;
			position:absolute;
			z-index:10;
			top:100%;
			left:0;
			min-width:180px;
			background:$headerActiveBg;
			margin:0;
			padding:10px 0;
			> li {
				> a {
					display:block;
					white-space:nowrap;
					&:hover,
					&:focus {
						color:$mainColor;
					}
				}
			}
		}
	}
	@media screen and (max-width:$break-sm) {
		& {
			.navbar-nav {
				> li {
					float:none;
					width:100%;
					background:hsl(0, 0, 32);
					margin:1px 0 0;
					> a {
						display:block;
						height:auto;
						line-height:1.75;
						padding:13px 0 13px $gutter;
						font-size:14px;
					}
				}
			}
		}
	}
}

#header-search {
	position:absolute;
	right:$gutter;
	top:20px;
	display:block;
	width:60px;
	height:60px;
	z-index:9;
	.search-query {
		border:none;
		box-shadow:none;
		height:60px;
		line-height:60px;
		padding:0 20px;
		color:#fff;
		transition:all 200ms;
		&:focus {
			outline:none;
		}
	}
	@media (min-width:$break-sm + 1) {
		& {
			.search-query {
				width:60px;
				border-radius:500px;
				background:$headerActiveBg;
				position:absolute;
				right:0;
			}
			.searchbox-active & {
				.search-query {
					width:250px;
				}
			}
		}
	}
	@media screen and (max-width:$break-sm) {
		& {
			display:none;
			background:$headerBg;
			position:relative;
			top:auto;
			right:auto;
			clear:both;
			width:100%;
			.search-query {
				background:transparent;
				width:100%;
			}
			.searchbox-active & {
				display:block;
			}
		}
	}
}
#searchbox-toggle {
	position:absolute;
	right:$gutter;
	top:20px;
	display:block;
	width:60px;
	height:60px;
	line-height:60px;
	font-size:20px;
	border-radius:500px;
	background:$headerActiveBg;
	color:#fff;
	text-align:center;
	border:none;
	padding:0;
	z-index:10;
	&:hover,
	&:focus {
		color:#fff;
	}
	@media screen and (max-width:$break-sm) {
		& {
			right:$headerHeightSm + 1px;
			top:0;
			border-left:1px solid $headerBg;
			background:transparent;
			border-radius:0;
			height:$headerHeightSm;
			width:$headerHeightSm + 1px;
			line-height:$headerHeightSm;
			.searchbox-active & {
				background:$headerBg;
			}
		}
	}
}

#mainnav-toggle {
	display:none;
	.hamburger {
		display:block;
		width:20px;
		height:2px;
		background:#fff;
		position:absolute;
		left:50%;
		top:50%;
		margin:-1px 0 0 -10px;
		transition:background 400ms ease-out 200ms;
		&:before,
		&:after {
			display:block;
			content:"";
			width:100%;
			height:100%;
			position:absolute;
			background:#fff;
			transition:all 400ms;
		}
		&:before {
			top:-6px;
		}
		&:after {
			bottom:-6px;
		}
	}
	.mainnav-active & {
		background:$headerBg;
		.hamburger {
			background:transparent;
			transition:background 100ms ease-out;
			&:before {
				transform:translate(0, 6px) rotate(135deg);
			}			
			&:after {
				transform:translate(0, -6px) rotate(-135deg);
			}
		}
	}
	@media screen and (max-width:$break-sm) {
		& {
			display:block;
			position:absolute;
			cursor:pointer;
			right:0;
			top:0;
			width:$headerHeightSm + 1px;
			height:$headerHeightSm;
			border-left:1px solid $headerBg;
		}
	}
}