/* GENERAL ------------------------------------------------------ */
.text-center { /* this is usually bootstrap class but it seems that is missing in current bootstrap version 3.3.6. Remove if not needed or redundant in the future */
  text-align: center;
}
/* /GENERAL */

/* SPECIFIC -----------------------------------------------------*/
.google-maps img {
    max-width: none;
}
/* /SPECIFIC */

.ng-video-external.view-type-full .video-vimeo,
.ng-video-external.view-type-embed .video-vimeo {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.ng-video-external.view-type-full .video-vimeo iframe,
.ng-video-external.view-type-embed .video-vimeo iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

/* swiper slider */
.swiper-container {
    margin-bottom:40px;
}
.swiper-slide {
    img {
        width:100%;
    }
}
/* /swiper slider */

/* EMBEDED OBJECTS ----------------------------------------------------- */
.object-left,
.half-left {
    float: left;
    clear: left;
    margin-right: 2.5%;
}
.object-right,
.half-right {
    float: right;
    clear: right;
    margin-left: 2.5%;
}
.half-left,
.half-right {
    width:47.5%;
}
.object-left,
.object-right {
    max-width: 47.5%;
}
.object-center .view-type-embed {
    max-width: 75%;
}
.object-center .view-type-embed,
.object-center .view-type-embed.image .img-container {
    margin: 0 auto;
}
.view-type-embed.image {
    margin-bottom: 2.5%;
}
.view-type-embed.image .img-container {
    display: table;
}
.view-type-embed.image .img-container img {
    width: 100%;
}
.view-type-embed.image .caption {
    font-size: 0.8em;
}
.view-type-embed.image .caption p {
    margin: 0;
}
.clear {
    clear:both;
}
.view-type-embed.ng-video {
    margin:20px 0;
    h4 {
        margin:10px 0;
    }
}
/* /EMBEDED OBJECTS */

/* TABLES ----------------------------------------------------------------- */
.table.table-no-skin thead > tr > th,
.table.table-no-skin tbody > tr > th,
.table.table-no-skin tfoot > tr > th,
.table.table-no-skin thead > tr > td,
.table.table-no-skin tbody > tr > td,
.table.table-no-skin tfoot > tr > td {
    border: none;
    line-height: 1;
    padding: 0;
}
.table th p:last-child, .table td p:last-child {
    margin-bottom: 0;
}

/* /TABLES */

/* Audio player */
audio {
    width: 100%;
}

/* Video player */
.video-config {
    display: none;
}

/* SEARCH */

#facet-list ul {
    padding-left: 28px;
}

#facet-list a:hover {
    text-decoration: none;
}

.score.progress .bar {
    background:#1B75BB;
    color:white;
    text-align: center;
}

.score.progress{
    background:#ddd;
}

.form-search .control-group {
    margin-bottom: 20px;
}

#search-result > div {
    background: none repeat scroll 0 0 #F0F0F0;
    margin-bottom: 20px;
    padding: 20px;
}

#search-result .add-line {
    border-right: 1px solid #ccc;
}

#search-result .additional-info .type {
    margin-bottom: 10px;
}

#Search {
    width:250px;
}

/* /SEARCH */

/* block views --------------------- */
.vl {          // default view
    margin:0 0 2.5em;
    .image {
        display:block;
        margin:0 0 1em;
        position:relative;
        img {
            width:100%;
        }
        .fa {
            position:absolute;
            bottom:0;
            left:0;
            background:#fff;
            width:40px;
            height:30px;
            line-height:30px;
            text-align:center;
            z-index:2;
            font-size:20px;
        }
    }
    .image-16by9 {
        display:block;
        position:relative;
        height:0;
        padding-bottom:56.25%;
        overflow:hidden;
        background:hsla(0, 0, 0, 0.05);
        img {
            left:-100%;
            right:-100%;
            top:-100%;
            bottom:-100%;
            margin:auto;
            width:100%;
            height:auto;
            position:absolute;
        }
    }
    .info {
        .title {
            font-size:19px;
            margin:0 0 0.75em;
            font-weight:700;
            a {
                color:inherit;
            }
        }
        .date {
            font-size:13px;
            margin:0 0 0.75em;
        }
    }
    &.t1 {      // overlay view
        position:relative;
        text-shadow:0 0 6px hsla(0,0,0,0.25);
        .info {
            position:absolute;
            left:15px;
            right:15px;
            bottom:15px;
            color:#fff;
            .title {
                color:#fff;
                margin:0;
                font-size:20px;
            }
        }
        .image {
            margin:0;
            .fa {
                top:4px;
                bottom:auto;
                background:transparent;
                color:#fff;
            }
        }
    }
    &.t2 {      // line-view
        .image {
            float:left;
            width:46.5%;
            margin:0 3.5% 0 0;
        }
        .info {
            float:left;
            width:50%;
            .title {
                font-size:25px;
            }
        }
        @media screen and (max-width:$break-xs) {
            & {
                .image,
                .info {
                    width:100%;
                }
                .image {
                    margin:0 0 0.5em;
                }
            }
        }
    }
    &.t3 {      // mini-view
        .image {
            float:left;
            width:30%;
            margin:0 4% 0 0;
        }
        .info {
            float:left;
            width:66%;
            .title {
                margin:0;
                font-size:16px;
            }
            .date {
                font-size:12px;
            }
            &.with-icon {
                padding-left:24px;
                position:relative;
                .fa {
                    position:absolute;
                    left:0;
                    top:0;
                    font-size:1.1em;
                }
            }
        }
        @media screen and (max-width:$break-xs) {
            & {
                .image,
                .info {
                    width:100%;
                }
                .image {
                    margin:0 0 0.5em;
                }
            }
        }
    }
}

/* slider view */
.vl2 {
    position:relative;
    img {
        width:100%;
    }
    .info {
        position:absolute;
        left:30px;
        right:30px;
        top:auto;
        bottom:30px;
        color:#fff;
        .title {
            display:inline;
            margin:0;
            font-size:25px;
            line-height:1.76;
            font-weight:700;
            padding:7px 0;
            a {
                display:inline;
                background:hsla(0, 0, 0, 0.75);
                box-decoration-break:clone;
                padding:7px 15px;
                color:inherit;
            }
        }
        .fa {
            margin-right:0.5em;
        }
    }
}

@media (max-width: 1200px) {
    #debug{
        display: none;
    }
    #search-result .add-line {
        border-right: none;
    }
    #search-result .additional-info {
        border-top: 1px solid #CCCCCC;
        margin-top: 20px;
        padding-top: 10px;
    }
    .score.progress{
        width:50%;
    }
}


@media (max-width: 991px) {
    .score.progress{
        width:100%;
    }
}

@media (max-width: 767px) {
    .progress {
        margin-top: 10px;
    }
    .control-group input[type="text"] {
        width: 50%;
    }

}

@media (max-width: 479px) {
    .control-group input[type="text"] {
        width: 100%;
        margin-bottom: 5px;
    }
    .object-left,
    .object-right,
    .half-left,
    .half-right {
        width:100%;
        max-width:100%;
        margin-left:0;
        margin-right:0;
    }
    .object-center .view-type-embed {
        max-width:100%;
    }
}
