// Specific style file

.section-red {background-color: #fcc;}
.section-blue {background-color: #99f;}
.section-gray {background-color: #eee;}

.bg-gray {background-color:hsl(220, 2, 35);}
.bg-gray-light {background-color:hsl(180, 4, 95);}

.bg-gray, .bg-gray-light {
    & + & {margin-top:-$gap; padding-top:$gap;}
}

.main-content-block .zone-right {
    background-color:hsl(0, 0, 95);
    padding:20px;
    border:1px solid hsl(0, 0, 80);
}

.list-numbered {
    counter-reset: my-counter;
    .list-item::before {
        counter-increment: my-counter;
        content: counter(my-counter);
        display: block;
        font-size:1.75em;
        font-weight:700;
        color:$mainColor;
    }
}

.swiper-container {margin:0}

.breadcrumb-wrapper {
    background:hsl(0, 0, 95);
    margin:0 0 1.5em;
    padding:1em 0;
    .breadcrumb {
        list-style-type:none;
        margin:0;
        padding:0;
        background:transparent;
        &::after {
            @extend %clearfix;
        }
        li {
            float:left;
            + li {
                &:before {
                    content:">";
                    display:inline-block;
                    margin:0 0.5em;
                    color:hsl(0, 0, 80);
                }
            }
        }
        a {
            color:$mainColor;
            font-weight:700;
            font-size:0.875em;
        }
    }
    @media screen and (max-width:$break-sm) {
        padding:0.5em 0;
        .breadcrumb {
            a {
                font-size:0.75em;
            }
        }
    }
    @media screen and (max-width:$break-xs) {
        display:none;
    }
}
