// Typography style file
body {
	font: 16px/1.25 'Lato', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
	transition:background 150ms, color 150ms;
}