// responsive breakpoints
$break-lg:1200px;
$break-md:992px;
$break-sm:768px;
$break-xs:480px;

// dimensions
$headerHeight: 100px;
$headerHeightSm: 70px;
$gutter: 15px;
$gap: 2*$gutter;

// colours
$mainColor: hsl(4, 85, 57);
$headerBg: hsl(270, 2, 25);
$headerActiveBg: hsl(348, 6, 13);
$linkColor: #337ab7;

%clearfix {
    &:after {
        clear:both;
        display:table;
        content:"";
    }
}
%fontawesome {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
