.bm-block {
    margin:$gap 0;
    &[class*="bg-"] {
        padding:$gap 0;
    }
}
.zone-left,
.main-content-block .zone-right {
  .bm-block:first-child {
    margin-top:0;
  }
}
.zone-post_header {
    .bm-block[class*="bg-"]:first-child {
        margin-top:0;
    }
}

.vl {          // default view
    margin:0 0 2.5em;
    .image {
        display:block;
        margin:0 0 1em;
        position:relative;
        img {
            width:100%;
        }
        .fa {
            position:absolute;
            bottom:0;
            left:0;
            background:#fff;
            width:40px;
            height:30px;
            line-height:30px;
            text-align:center;
            z-index:2;
            font-size:20px;
        }
    }
    .image-16by9 {
        display:block;
        position:relative;
        height:0;
        padding-bottom:56.25%;
        overflow:hidden;
        background:hsla(0, 0, 0, 0.05);
        img {
            left:-100%;
            right:-100%;
            top:-100%;
            bottom:-100%;
            margin:auto;
            width:100%;
            height:auto;
            position:absolute;
        }
    }
    .title {
        font-size:24px;
        line-height:1.25;
        margin:0 0 0.5em;
        font-weight:700;
        a {
            color:inherit;
        }
        &.with-icon {
            padding-left:1.3em;
            position:relative;
            .fa {
                position:absolute;
                left:0;
                line-height:inherit;
                color:$linkColor;
            }
        }
    }
    .date {
        font-size:14px;
        margin:0 0 0.25em;
        color:hsl(0, 0, 50);
    }
    .author {
        color:$mainColor;
    }
    &.video-icon,
    &.photo-icon {
        .image > a::before {
            @extend %fontawesome;
            position:absolute;
            bottom:$gutter*0.8;
            left:$gutter;
            background:$mainColor;
            color:#fff;
            width:40px;
            height:30px;
            line-height:30px;
            text-align:center;
            z-index:2;
            font-size:20px;
        }
    }
    &.video-icon {
        .image > a::before {
            content:"\f144";
        }
    }
    &.photo-icon {
        .image > a::before {
            content:"\f030";
        }
    }
    &.t1 {      // overlay view
        position:relative;
        text-shadow:0 0 6px hsla(0,0,0,0.25);
        .info {
            position:absolute;
            left:15px;
            right:15px;
            bottom:15px;
            color:#fff;
        }
        .title {
            color:#fff;
            margin:0;
            font-size:20px;
            line-height:1.2;
        }
        .image {
            margin:0;
            a {
                position:relative;
                display:block;
                &::after {
                    content:"";
                    position:absolute;
                    left:0;
                    top:0;
                    width:100%;
                    height:100%;
                    background:hsla(0, 0, 0, 0.6);
                }
            }
            .fa {
                top:4px;
                bottom:auto;
                background:transparent;
                color:#fff;
            }
        }
        .date {
            color:#fff;
        }
        .author {
            color:#fff;
        }
        &.video-icon,
        &.photo-icon {
            .image > a::before {
                top:$gutter*0.8;
                bottom:auto;
                z-index:3;
            }
        }
    }
    &.t2 {      // line-view
        .image {
            float:left;
            width:46.5%;
            margin:0 3.5% 0 0;
            + .info {
                width:50%;
            }
        }
        .info {
            float:left;
        }
        .date {
            font-weight:700;
        }
        .title {
            font-size:25px;
            margin:0 0 0.25em;
        }
        @media screen and (max-width:$break-xs) {
            & {
                .image,
                .image + .info {
                    width:100%;
                }
                .image {
                    margin:0 0 0.5em;
                }
            }
        }
    }
    &.t3 {      // mini-view
        .image {
            float:left;
            width:30%;
            margin:0 4% 0 0;
            + .info {
                width:60%;
            }
        }
        .info {
            float:left;
            &.with-icon {
                padding-left:24px;
                position:relative;
                .fa {
                    position:absolute;
                    left:0;
                    top:0;
                    font-size:1.1em;
                }
            }
        }
        .title {
            margin:0;
            font-size:16px;
        }
        .date {
            font-size:12px;
        }
        @media screen and (max-width:$break-xs) {
            & {
                .image,
                .image + .info {
                    width:100%;
                }
                .image {
                    margin:0 0 0.5em;
                }
            }
        }
    }
    &.t4 {
        margin:0 0 1em;
        .info {
            float:left;
        }
        .title {
            font-size:16px;
            margin:0;
        }
        .date {
            margin:0 0 0.375em;
        }
        .short {
            p {
                margin-top:0.5em;
                margin-bottom:0;
                font-size:0.875em;
            }
        }
    }
}

/* slider view */
.vl2 {
    position:relative;
    img {
        width:100%;
    }
    .info {
        position:absolute;
        left:30px;
        right:30px;
        top:auto;
        bottom:30px;
        color:#fff;
        .fa {
            margin-right:0.5em;
        }
    }
    .title {
        margin:0;
        font-size:25px;
        line-height:1.5;
        font-weight:700;
        a {
            display:inline-block;
            background:hsla(0, 0, 0, 0.75);
            padding:4px 15px;
            color:inherit;
        }
    }
    .date {
        display:inline-block;
        background:hsla(0, 0, 0, 0.75);
        padding:8px 15px;
        font-size:14px;
    }
}

/* search results view */
.vl3 {
    margin:0 0 2em;
    background:hsla(0, 0, 95, 1);
    padding:15px;
    .add-line {
        border-right:1px solid #ccc;
    }
    .additional-info {
        .type {
            margin-bottom:10px;
        }
    }
    .image {
        display:block;
        float:left;
        margin:0;
        padding-right:15px;
        width:30%;
        img {
            max-width:100%;
            height:auto;
        }
        & + .info {
            width:70%;
            float:left;
        }
    }
    .title {
        margin:0 0 0.75em;
        font-size:19px;
        font-weight:700;
        a {
            color:inherit;
        }
    }
    .date {
        font-size:13px;
    }
    @media screen and (max-width:$break-xs) {
        & {
            .image {
                display:none;
                & + .info {
                    width:100%;
                }
            }
        }
    }
}
