.embed-form {
    .form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .form-group {
            .form-label {
                @include text-0_875;
            }
            .error-message {
                @include text-0_875;
                font-weight: 600;
                display: none;
                margin-top: .25rem;
            }
            .form-control {
                .bg-color-secondary & {
                    background-color: $white;
                }
                &[aria-invalid="true"] {
                    outline: 2px solid red;
                    & + .error-message {
                        display: block;
                    }
                }
                &:focus-visible {
                    @include custom-outline;
                }
            }
            // Honeypot field
            &.sender-middle-name {
                position: absolute;
                clip: rect(1px, 1px, 1px, 1px);
                overflow: hidden;
                height: 1px;
                width: 1px;
                word-wrap: normal;
                visibility: hidden;
            }
            &.form-check {
                margin-bottom: 0;
                font-size: $font-size-base;
                .form-check-input {
                    margin-top: 0;
                    &[aria-invalid="true"] {
                        outline: 2px solid red;
                        & ~ .error-message {
                            display: block;
                        }
                    }
                    &:focus-visible {
                        @include custom-outline;
                    }
                }
                .form-label {
                    cursor: pointer;
                    margin-bottom: 0;
                    display: block;
                    p {
                        margin-bottom: 0;
                        + p {
                            margin-top: 1em;
                        }
                    }
                    a:not(.btn) {
                        border-bottom: .25rem solid $primary;
                        transition: border .3s;
                        &:hover {
                            color: inherit;
                            border-color: darken($primary, 15%);
                        }
                        .bg-color-primary & {
                            border-bottom: .25rem solid $black;
                            &:hover {
                                border-color: darken($black, 15%);
                            }
                        }
                    }
                }
            }
        }
    }
}
