{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import '@ibexadesign/parts/slide.html.twig' as slide %}
{% import '@ibexadesign/parts/content_field_macros.html.twig' as content_fields %}

<div class="view-type view-type-{{ view_type }} image vl3">
    {% set title = content_fields.title(content) %}

    <a href="{{ asset(ng_image_alias(content.fields.image, 'i1320').uri) }}" title="{{ title }}" class="js-mfp-item">
        {{ slide.image(content) }}
    </a>
</div>
