<div class="{% if is_slider %}swiper-slide{% endif %} vl2">
    <img class="swiper-lazy" data-src="{{ ez_image_alias( ngmore_field( content, 'image' ), content.versionInfo, 'i1140' ).uri }}" />

    {% if not ez_is_field_empty( content, 'title' ) %}
        <div class="info">
            <h2 class="att-title title"><a href="{{ path( content ) }}">{{ ez_field_value( content, 'title' ).text }}</a></h2>
        </div>
    {% endif %}
</div>
