{% import 'NetgenMoreDemoBundle:parts:video.html.twig' as video %}

{% if not ez_is_field_empty( content, 'video_file' ) or not ez_is_field_empty( content, 'video_file_hd' ) or not ez_is_field_empty( content, 'video_identifier' ) %}

    {% if is_slider %}
        <div class="swiper-slide">
            {{ video.player_slide( content, true ) }}
        </div>
    {% else %}
        {{ video.player( content, true ) }}
    {% endif %}

{% endif %}
