{% macro image( content, location, image_alias ) %}
    {% set image_alias = image_alias|default( 'i480' ) %}

    {% set image_field = false %}
    {% if content.fields.line_image is defined and not ez_is_field_empty( content, 'line_image' ) %}
        {% set image_field = 'line_image' %}
    {% elseif content.fields.image is defined and not ez_is_field_empty( content, 'image' ) %}
        {% set image_field = 'image' %}
    {% endif %}

    {% if image_field %}
        <div class="image">
            {{ ez_render_field(
                content,
                image_field, {
                    'parameters': {
                        'alias': image_alias,
                        'image_class': 'img-responsive',
                        'link_href': path( location )
                    }
                }
            ) }}
        </div>
    {% endif %}

{% endmacro %}

{% macro name( content ) %}
{% spaceless %}
    {% if content.fields.title is defined and not ez_is_field_empty( content, 'title' ) %}
        {{ ez_field_value( content, 'title' ).text }}
    {% elseif content.fields.name is defined and not ez_is_field_empty( content, 'name' ) %}
        {{ ez_field_value( content, 'name' ).text }}
    {% else %}
        {{ ez_content_name( content ) }}
    {% endif %}
{% endspaceless %}
{% endmacro %}
