{% if multimedia_items is defined and multimedia_items|length > 0 %}
    {% set is_slider = multimedia_items|length > 1 %}

    {% if is_slider %}
        <div class="related-multimedia swiper-container">
            <div class="swiper-wrapper">
    {% else %}
        <div>
    {% endif %}

    {% for multimedia_item in multimedia_items %}
        {% include 'NetgenMoreDemoBundle:parts/related_multimedia:' ~ multimedia_item.contentInfo.contentTypeIdentifier ~ '.html.twig'
            ignore missing
            with {
                'content': multimedia_item,
                'is_slider': is_slider
            }
        %}
    {% endfor %}

    {% if is_slider %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    {% else %}
        </div>
    {% endif %}
{% endif %}
