/* accordion item */
.vl10 {
    background-color: $secondary;
    padding: 1.5rem;
    border-radius: 1rem;
    .bg-color-black & {
        background-color: lighten($black, 10%);
    }
    .bg-color-primary & {
        background-color: lighten($primary, 10%);
    }
    .bg-color-secondary & {
        background-color: $white;
    }
    .title {
        margin: 0;
        @include text-1_5;
        cursor: pointer;
        position: relative;
        padding-right: 3rem;
        a {
            &::after {
                content: "";
                width: 1.5rem;
                height: 1.5rem;
                @extend %icon-angle-up;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }

            &.collapsed::after {
                @extend %icon-angle-down;
            }
        }
    }

    .short {
        border-top: 1px solid;
        padding-top: 1rem;
        margin-top: 1.5rem;
        border-color: inherit;
        p:last-child {
            margin-bottom: 0;
        }
    }
}
