/* card item */
.vl8 {
    margin: 0 0 2rem;
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
    .image {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin: 0;
        overflow: hidden;
        img {
            object-fit: cover;
            object-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    .article-content {
        padding: 2rem;
        background-color: $secondary;
        .bg-color-black & {
            background-color: lighten($black, 10%);
        }
        .bg-color-primary & {
            background-color: lighten($primary, 10%);
        }
        .bg-color-secondary & {
            background-color: $white;
        }
        .title {
            font-size: 1.5rem;
            font-weight: 900;
            margin: 0;
            & + .info {
                margin-top: 1rem;
            }
        }
        .info {
            @extend %item-header-info;
            & + .short {
                margin-top: 1rem;
            }
        }
        .short {
            color: $gray-54;
            p {
                margin: 0;
            }
        }
        .actions {
            margin-top: 1rem;
            a {
                &.btn.btn-link {
                    border: none;
                    border-bottom-width: 2px;
                    border-bottom-style: solid;
                    border-bottom-color: inherit;
                    .bg-color-black & {
                        border-bottom-color: $primary;
                    }
                }
            }
        }
        @include media-breakpoint-down(xl) {
            .title {
                font-size: 1.25rem;
            }
        }
    }
}
