%item-header-info {
    @extend %clearfix;
    margin: 0;
    @include text-0_875;
    display: flex;
    flex-wrap: wrap;
    > span,
    > time,
    > a {
        display: inline-block;
        + span,
        + time,
        + a {
            position: relative;
            margin-left: 1.25rem;
            &::before {
                content: '';
                width: .25rem;
                height: .25rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -.75rem;
                .vl2 & {
                    background-color: $white;
                }
            }
        }
    }
    a {
        transition: border-color .15s;
        border-bottom: .125rem solid transparent;
        &:hover {
            border-bottom-color: currentColor;
        }
    }
    .recipe-details {
        background: $secondary;
        padding: 0 .6153846154em;
        color: $gray-87;
        i {
            color: $gray-38;
            font-size: .8461538462em;
            margin: 0 0 .1538461538em;
        }
        span + span {
            margin-left: 1em;
        }
        &::before {
            display: none;
        }
    }
    @include media-breakpoint-down(xl) {
        @include text-0_75;
    }
}

%item-title-link {
    transition: border-color .15s;
    border-bottom: 4px solid transparent;
    &:hover {
        color: inherit;
        border-bottom-color: $primary;
    }
}
