/* overlay item view type */
.vl2 {
    position: relative;
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    .image {
        display: block;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        a, span {
            position: absolute;
            inset: 0;
            overflow: hidden;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: linear-gradient(transparent,rgba(0,0,0,0.9));
                z-index: 1;
                transition: opacity .75s ease-out;
            }
            img {
                object-fit: cover;
                object-position: center;
                position: absolute;
                width: 100%;
                height: 100%;
                transition: transform .75s ease-out;
                will-change: transform;
            }
        }
    }
    .article-header {
        position: absolute;
        z-index: 3;
        inset: auto 1.75rem 1.75rem;
        color: $white;
        pointer-events: none;
        a {
            pointer-events: initial;
        }
        @include media-breakpoint-down(xl) {
            bottom: 1.25rem;
            left: 1.5rem;
            right: 1.5rem;
        }
        @include media-breakpoint-down(md) {
            bottom: 1rem;
            left: 1.25rem;
            right: 1.25rem;
        }
    }
    .title {
        @include text-1_5;
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 5em;
        padding-bottom: 1px;
        a {
            @extend %item-title-link;
        }
        @include media-breakpoint-down(md) {
            .title {
                max-height: 3.75em;
            }
        }
        @include media-breakpoint-only(sm) {
            -webkit-line-clamp: 1;
        }
    }
    .title + .info {
        padding-top: 1rem;
    }
    .info {
        @extend %item-header-info;
        margin: 0;
        color: $white;
        .recipe-details {
            & > span {
                color: $black;
            }
        }
    }
    .article-icon {
        @include text-base;
        font-weight: 700;
        position: absolute;
        left: 0;
        top: 0;
        width: 3em;
        height: 3em;
        line-height: 3;
        text-align: center;
        background: $primary;
        color: $black;
        z-index: 3;
        pointer-events: none;
    }
    &:hover,
    &:focus {
        .image {
            a {
                &::before {
                    opacity: .75;
                }
                img {
                    transform: scale(1.08);
                }
            }
        }
    }
}
