/* search result item */
.vl7 {
    background: $secondary;
    padding: 1.5rem;
    .article-content {
        display: flex;
    }
    .image {
        width: 44%;
        + .article-content-text {
            padding-left: $gap;
            padding-right: 4rem;
        }
    }
    .article-content-text {
        position: relative;
        flex: 1;
    }
    .title {
        @include text-1_5;
        font-weight: 900;
        margin: 0 0 .25rem;
        a {
            @extend %item-title-link;
        }
    }
    .short {
        color: $gray-54;
        .bg-color-black & {
            color: $white;
        }
        p {
            margin: 0;
        }
    }
    .info {
        @extend %item-header-info;
    }
    .type {
        @include text-0_875;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        right: 0;
        padding: .25rem .5rem;
        color: $primary;
        background-color: $black;
    }
}
