/* Zigzag item */
.vl9 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
    .image {
        flex: 0 0 41.666667%;
        @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
            & + .article-content {
                margin-top: 4rem;
            }
        }
    }
    .article-content {
        flex: 0 0 50%;
        @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
        }
        .article-header {
            .eyebrow-title {
                text-transform: uppercase;
                font-size: 0.875rem;
                font-weight: 700;
                letter-spacing: 1px;
            }
            .title {
                margin: 0;
                & + .info {
                    margin-top: 0.5rem;
                }
            }
            .info {
                @extend %item-header-info;
            }
            & + * {
                margin-top: 2rem;
            }
        }
        .short {
            & + * {
                margin-top: 2rem;
            }
        }
    }
}
