.features-style-1 {
    .article-header {
        .title {
            font-size: 2.5rem;
            & + .short {
                margin-top: 1.5rem;
            }
        }
        & + .features-grid {
            margin-top: 4rem;
        }
    }

    .features-grid {
        .features-grid-item {
            height: 100%;
            display: flex;
            flex-direction: column;
            .item-icon {
                padding: 2rem;
                display: inline-block;
                border-radius: 50%;
                background-color: $primary;
                width: 8rem;
                height: 8rem;
                .bg-color-primary & {
                    background-color: $white;
                }
                & + .item-title {
                    margin-top: 2rem;
                }
            }
            .item-title {
                font-size: 1.5rem;
                & + .item-description {
                    margin-top: 1rem;
                }
            }
            .item-description {

            }
        }
    }
}
