.features-style-2 {
    .article-header {
        .text {
            width: calc((100% / 3) * 2);
            @include media-breakpoint-down(md) {
                width: 100%;
            }
            + * {
                margin-top: 2.5rem;
            }
        }
        .title {
            @include text-4;
            + .short {
                margin-top: 2rem;
            }
        }
        .short {
            @include text-1_125;
        }
        .actions {
            display: flex;
            gap: 2rem;
            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }
        }
        & + .features-grid {
            margin-top: 4rem;
        }
    }

    .features-grid {
        .features-grid-item {
            height: 100%;
            display: flex;
            flex-direction: column;
            .item-highlight-title {
                @include text-6;
                .bg-color-black & {
                    color: $primary;
                }
                & + .item-title {
                    margin-top: 2rem;
                }
            }
            .item-title {
                @include text-2;
                a {
                    @extend %item-title-link;
                }
                & + .item-short {
                    margin-top: 1rem;
                }
            }
            * + .item-actions {
                margin-top: 1rem;
            }
        }
    }
}
