.features-style-5 {
    .article-header {
        text-align: center;
        .title {
            font-size: 4.5rem;
            & + .short {
                margin-top: 1.5rem;
            }
        }
        & + .features-grid {
            margin-top: 4rem;
        }
    }

    .features-grid {
        .features-grid-item {
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            .item-image {
                width: 11.25rem;
                margin: 0 auto;
                border-radius: 50%;
                overflow: hidden;
                & + .item-title {
                    margin-top: 1.5rem;
                }
            }
            .item-title {
                font-size: 1.5rem;
                margin-bottom: 0;
                & + .item-short {
                    margin-top: 0.5rem;
                }
            }
            .item-short {
                font-size: 1.125rem;
            }
        }
    }
}
