.features-style-2 {
    .article-header {
        text-align: center;
        .title {
            font-size: 4rem;
        }
        & + .features-grid {
            margin-top: 4rem;
        }
    }

    .features-grid {
        .features-grid-item {
            height: 100%;
            display: flex;
            flex-direction: column;
            .item-highlight-title {
                font-size: 6rem;
                font-weight: 600;
                color: $tertiary;
                .bg-color-black & {
                    color: $primary;
                }
            }
            .item-title {
                font-size: 2rem;
                & + .item-description {
                    margin-top: 1rem;
                }
            }
        }
    }
}
