.features-style-7 {
    .article-header {
        .text {
            width: calc((100% / 3) * 2);
            @include media-breakpoint-down(md) {
                width: 100%;
            }
            + * {
                margin-top: 2.5rem;
            }
        }
        .title {
            @include text-2_5;
            & + .short {
                margin-top: 1.5rem;
            }
        }
        .short {
            @include text-1_125;
        }
        .actions {
            display: flex;
            gap: 2rem;
            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }
        }
        & + .list-zigzag {
            margin-top: 4rem;
        }
    }
    .list-zigzag {
        display: grid;
        gap: 8rem;
        .title {
            a {
                @extend %item-title-link;
            }
        }
    }
}

