.features-style-6 {
    .article-header {
        .text {
            width: calc((100% / 3) * 2);
            @include media-breakpoint-down(md) {
                width: 100%;
            }
            + * {
                margin-top: 2.5rem;
            }
        }
        .title {
            @include text-2_5;
            & + .short {
                margin-top: 1.5rem;
            }
        }
        .short {
            @include text-1_125;
        }
        .actions {
            display: flex;
            gap: 2rem;
            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }
        }
        & + .features-grid {
            margin-top: 4rem;
        }
    }

    .features-grid {
        .features-grid-item {
            height: 100%;
            display: flex;
            flex-direction: column;
            .item-image {
                border-radius: 1rem;
                overflow: hidden;
                padding-bottom: 56.25%;
                position: relative;
                height: 0;
                img {
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                & + .item-content {
                    padding-top: 2rem;
                }
            }
            .item-content {
                flex: 1 1 auto;
            }
            .item-title {
                @include text-1_5;
                a {
                    @extend %item-title-link;
                }
                & + .item-description {
                    margin-top: 1rem;
                }
            }
            * + .item-actions {
                margin-top: 1rem;
            }
        }
    }
}

