.features-style-4 {
    .article-header {
        .text {
            width: calc((100% / 3) * 2);
            @include media-breakpoint-down(md) {
                width: 100%;
            }
            + * {
                margin-top: 2.5rem;
            }
        }
        .title {
            @include text-2_5;
            & + .short {
                margin-top: 1.5rem;
            }
        }
        .short {
            @include text-1_125;
        }
        .actions {
            display: flex;
            gap: 2rem;
            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }
        }
        & + .features-grid {
            margin-top: 4rem;
        }
    }
    .features-grid {
        .features-grid-item {
            padding: 1.5rem;
            border-radius: 1rem;
            background-color: $secondary;
            .bg-color-black & {
                background-color: lighten($black, 10%);
            }
            .bg-color-primary & {
                background-color: lighten($primary, 10%);
            }
            .bg-color-secondary & {
                background-color: $white;
            }
            .item-icon {
                display: inline-block;
                img {
                    @include icon-color(black);
                }
                .bg-color-black & {
                    img {
                        @include icon-color(primary);
                    }
                }
                & + .item-title {
                    margin-top: 2rem;
                }
            }
            .item-title {
                @include text-1_5;
                a {
                    @extend %item-title-link;
                }
                & + .item-short {
                    margin-top: 1rem;
                }
            }
            .item-actions {
                margin-top: 1rem;
            }
        }
    }
}
