.features-style-2 {
    .article-header {
        display: flex;
        justify-content: space-between;
        .title {
            @include text-4;
        }
        .article-content {
            width: 60%;
        }
        .short {
            @include text-1_125;
        }
        .actions {
            display: flex;
            gap: 2rem;
            align-items: end;
        }
        & + .features-grid {
            margin-top: 4rem;
        }
    }

    .features-grid {
        .features-grid-item {
            height: 100%;
            display: flex;
            flex-direction: column;
            .item-highlight-title {
                @include text-6;
                color: $tertiary;
                .bg-color-black & {
                    color: $primary;
                }
                & + .item-title {
                    margin-top: 2rem;
                }
            }
            .item-title {
                @include text-2;
                & + .item-short {
                    margin-top: 1rem;
                }
            }
            * + .item-actions {
                margin-top: 1rem;
            }
        }
    }
}
