{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% trans_default_domain "ngmore_user" %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'ngmore.user.register.activation.sent.title'|trans }}</h1>
    </div>

    <p>{{ 'ngmore.user.register.activation.sent.text'|trans( { '%path%': path( 'ngmore_resend_activation_mail' ) } )|raw }}</p>
{% endblock %}
