{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% trans_default_domain "ngmore_user" %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'ngmore.user.activate.done.title'|trans }}</h1>
    </div>

    {% if error is defined %}
        {% if error == 'hash_expired' %}
            <div class="alert alert-danger">{{ 'ngmore.user.activate.done.error.hash_expired'|trans( { '%link%': path( 'ngmore_resend_activation_mail' ) } )|raw }}</div>
        {% else %}
            <div class="alert alert-danger">{{ 'ngmore.user.activate.done.error.other'|trans }}</div>
        {% endif %}
    {% else %}
        <p>{{ "ngmore.user.activate.done.text"|trans( { '%link%': path( 'login' ) } )|raw }}</p>
    {% endif %}
{% endblock %}
