{% extends ezpublish.configResolver.parameter('pagelayout') %}

{% trans_default_domain "ngmore_user" %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'ngmore.user.activate.admin_activation_pending.title'|trans }}</h1>
    </div>

    <p>{{ 'ngmore.user.activate.admin_activation_pending.text'|trans }}</p>

</div>
{% endblock %}
