{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% trans_default_domain "ngmore_user" %}

{% block content %}
    <div class="page-header">
        <h1>{{ "ngmore.user.forgotten_password.title"|trans }}</h1>
    </div>

    <p>{{ "ngmore.user.forgotten_pasword.mail_sent"|trans( { '%forgot_link%': path( 'ngmore_user_forgot_password' ) } )|raw }}</p>
{% endblock %}
