{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% trans_default_domain "ngmore_user" %}

{% block content %}
    <div class="row">
        <div class="forgotpassword-sent">

            <div class="page-header">
                <h1 class="title">{{ "ngmore.user.forgotten_password.title"|trans }}</h1>
            </div>

            <div class="alert">
                <p>{{ "ngmore.user.forgotten_pasword.mail_sent"|trans( { '%reloadLink%': path(app.request.get('_route')) } )|raw }}</p>
            </div>

        </div>
    </div><!--/row-->
{% endblock %}
