{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% trans_default_domain "ngmore_user" %}

{% block content %}
    <div class="page-header">
        <h1>{{ "ngmore.user.forgot_password.sent.title"|trans }}</h1>
    </div>

    <p>{{ "ngmore.user.forgot_password.sent.text"|trans( { '%link%': path( 'ngmore_user_forgot_password' ) } )|raw }}</p>
{% endblock %}
