{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="reset-pass">
                <div class="login-box">
                    <div class="page-header">
                        <h1 class="title">{{ "ngmore.user.forgotten_password.title"|trans }}</h1>
                    </div>

                    {% if form is defined and form %}
                        <div class="short">
                            <p>{{ "ngmore.user.forgetten_password.text"|trans }}</p>
                        </div>
                        {{ form( form ) }}
                    {% else %}
                        <div class="short">
                            <p>{{ "ngmore.user.forgotten_pasword.mail_sent"|trans }}</p>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div><!--/row-->
{% endblock %}