{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% trans_default_domain "ngmore_user" %}

{% block content %}
    <div class="row">
        <div class="reset-password">

            <div class="page-header">
                <h1 class="title">{{ 'ngmore.user.reset_password.title'|trans }}</h1>
            </div>

            {% if success is defined and success %}

                <div class="alert">
                    {{ "ngmore.user.forgotten_password.success"|trans( { '%path%': path( 'login' ) } )|raw }}
                </div>

            {% elseif error is defined and error == 'hash_expired' %}

                <div class="alert alert-danger">
                    <p>
                        <strong>
                            {{ "ngmore.user.forgotten_password.wrong_hash"|trans( { '%path%': path( 'ngmore_user_forgot_password' ) } )|raw }}
                        </strong>
                    </p>
                </div>

            {% endif %}

        </div>
    </div>
{% endblock %}
