{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% trans_default_domain "ngmore_user" %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'ngmore.user.reset_password.title'|trans }}</h1>
    </div>

    {% if success is defined and success %}

        <p>{{ "ngmore.user.forgotten_password.success"|trans( { '%path%': path( 'login' ) } )|raw }}</p>

    {% elseif error is defined and error == 'hash_expired' %}

        <div class="alert alert-danger">{{ "ngmore.user.forgotten_password.wrong_hash"|trans( { '%path%': path( 'ngmore_user_forgot_password' ) } )|raw }}</div>

    {% endif %}
{% endblock %}
