{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% block content %}
    <div class="row">
        <div class="reset-password">
            <div class="login-box">
                <div class="page-header">
                    <h1 class="title">{{ 'ngmore.user.reset_password.title'|trans }}</h1>
                </div>

                {% if errorMessage is defined and errorMessage is not empty %}
                    <div class="error">
                        {{ errorMessage|raw }}
                    </div>
                {% endif %}

                {% if form is defined %}
                    <div class="form">

                        {{ form(form) }}

                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}