{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import '@ibexadesign/content/macros/slide.html.twig' as slide %}
{% import '@NetgenToolbar/macros.html.twig' as toolbar_macros %}

<div {{ toolbar_macros.item_params(content, location) }} class="view-type view-type-{{ view_type }} image vl3">
    {{ slide.image(content) }}
</div>
