.grid-featured {
    display: grid;
    flex-wrap: wrap;
    grid-gap: 1.5rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    .vl2 {
        margin: 0;
        .image {
            padding-bottom: 100%;
        }
        .title {
            @include text-1_5;
            -webkit-line-clamp: 5;
            max-height: 6.25em;
        }
    }
    @include media-breakpoint-down(xl) {
        grid-template-columns: repeat(2, 1fr);
        .primary-item {
            grid-area: 1 / 1 / 2 / 3;
            .vl2 {
                .image {
                    padding-bottom: 56.25%;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        grid-template-columns: 1fr;
        .primary-item {
            grid-area: auto;
        }
        .secondary-item {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .primary-item,
        .secondary-item {
            .vl2 {
                .title {
                    -webkit-line-clamp: 3;
                    max-height: 4em;
                }
                .image {
                    padding-bottom: 75%;
                }
            }
        }
    }
}
