.grid-featured {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.25rem;
    margin-right: -.25rem;
    .item {
        padding: .25rem;
        flex: 0 0 33.333333333%;
        max-width: 33.333333333%;
    }
    .vl2 {
        margin: 0;
        .image {
            padding-bottom: 100%;
        }
        .title {
            font-size: 2.0625rem;
            -webkit-line-clamp: 5;
            max-height: 6.25em;
        }
    }
    @include media-breakpoint-down(xxl) {
        .vl2 {
            .title {
                font-size: 1.75rem;
            }
        }
    }
    @include media-breakpoint-down(xl) {
        .primary-item {
            flex: 0 0 100%;
            max-width: 100%;
            .vl2 {
                .image {
                    padding-bottom: 56.25%;
                }
            }
        }
        .secondary-item {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .vl2 {
            .title {
                font-size: 1.75rem;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        .vl2 {
            .title {
                font-size: 1.375rem;
            }
        }
    }
    @include media-breakpoint-down(md) {
        .vl2 {
            .title {
                font-size: 1.5rem;
            }
        }
        .secondary-item {
            .vl2 {
                .title {
                    font-size: 1.25rem;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .secondary-item {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .primary-item,
        .secondary-item {
            .vl2 {
                .title {
                    font-size: 1.5rem;
                    -webkit-line-clamp: 4;
                    max-height: 5em;
                }
                .image {
                    padding-bottom: 75%;
                }
            }
        }
    }
}
