.grid-featured {
    display: grid;
    flex-wrap: wrap;
    grid-gap: 1.5rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    .vl2 {
        margin: 0;
        .image {
            padding-bottom: 100%;
        }
        .title {
            @include text-1_5;
            -webkit-line-clamp: 5;
            max-height: 6.25em;
        }
    }
    @include media-breakpoint-down(xl) {
        .primary-item {
            flex: 0 0 100%;
            max-width: 100%;
            .vl2 {
                .image {
                    padding-bottom: 56.25%;
                }
            }
        }
        .secondary-item {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .vl2 {
            .title {
                @include text-1_5;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        .vl2 {
            .title {
                @include text-1_25;
            }
        }
    }
    @include media-breakpoint-down(md) {
        .vl2 {
            .title {
                @include text-1_5;
            }
        }
        .secondary-item {
            .vl2 {
                .title {
                    @include text-1_25;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .secondary-item {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .primary-item,
        .secondary-item {
            .vl2 {
                .title {
                    @include text-1_5;
                    -webkit-line-clamp: 4;
                    max-height: 5em;
                }
                .image {
                    padding-bottom: 75%;
                }
            }
        }
    }
}
