.list-zigzag {
    & .list-item {
        &:nth-child(2n) {
            .view-type-zigzag {
                flex-direction: row-reverse;
            }
        }
        &:last-child {
            .view-type-zigzag {
                margin-bottom: 0;
            }
        }
        @include media-breakpoint-down(md) {
            &,
            &:nth-child(2n) {
                .view-type-zigzag {
                    flex-direction: column;
                }
            }
        }
    }
}
