{# NG frontpage - full view #}

{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% set showPath = false %}
{% set disableLayoutRegions = true %}
{% set disableContainers = true %}

{% block content %}
<div class="content-view-full ng-frontpage">

    {{ ez_render_field( content, 'page' ) }}

</div>
{% endblock %}
