{# NG gallery - full view #}

{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% if not ez_is_field_empty( content, 'line_intro' ) %}
    {% set meta_data = { 'description': ez_field_value( content, 'line_intro' ).xml.saveXML()|striptags|trim|truncate( 152 ) } %}
{% elseif not ez_is_field_empty( content, 'description' ) %}
    {% set meta_data = { 'description': ez_field_value( content, 'description' ).xml.saveXML()|striptags|trim|truncate( 152 ) } %}
{% endif %}

{% block content %}
<div class="container content-view-full ng-gallery {% if not ez_is_field_empty( content, 'css_class' ) %}{{ ez_field_value( content, 'css_class' ).text }}{% endif %} clearfix">
    {{ render(
        controller(
            'ngmore.controller.parts:viewRelatedMultimedia', {
                'locationId': location.id,
                'includeChildrenImages': true,
                'template': 'NetgenMoreDemoBundle:parts:related_multimedia.html.twig'
            }
        )
    ) }}
</div>
{% endblock %}
