{# NG landing page - full view #}

{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% set show_path = false %}
{% set disable_layout_regions = true %}
{% set disable_containers = true %}

{% block content %}
<div class="content-view-full ng-landing-page {% if not ez_is_field_empty( content, 'css_class' ) %}{{ ez_field_value( content, 'css_class' ).text }}{% endif %} clearfix">

    {{ ez_render_field( content, 'page' ) }}

</div>
{% endblock %}
