.about-style-1 {
    .eyebrow-title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.33;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .title {
        font-weight: 700;
        font-size: 4.5rem;
        line-height: 1.22;
        letter-spacing: -0.01em;
        margin: 0;

        .bg-color-black & {
            color: $primary;
        }
    }

    .article-header {
        & + * {
            margin-top: 4rem;
        }
    }

    .short {
        font-size: 1.125rem;
        line-height: 1.55;

        & + .btn {
            margin-left: 18rem;
        }
    }

    .image {
        overflow: hidden;
        display: block;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        border-radius: 1rem;

        source, img {
            object-fit: cover;
            font-family: 'object-fit: cover;';
            object-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        & + .article-info {
            margin-top: 4rem;
        }
    }

    .article-info {
        display: flex;
        align-items: center;
    }

    .btn {
        white-space: nowrap;

        & + .btn {
            margin-left: 2rem;
        }
    }
}