{% import "@ezdesign/parts/macros.html.twig" as macros %}

{% block content %}
    <article class="view-type view-type-{{ view_type }} ng-banner vl1">

        {% if not content.fields.image.empty %}
            <figure class="image">
                {{ macros.image_link(content, 'image', 'i480', false) }}
            </figure>
        {% endif %}

        <header class="article-header">
            <h2 class="title">
                {{ macros.content_link(content, content.fields.title.value.text) }}
            </h2>
        </header>

        <div class="short">
            {{ ng_render_field(content.fields.short_description) }}
        </div>
    </article>
{% endblock %}
