{% extends nglayouts.layoutTemplate %}

{% set show_path = false %}
{% set site_title = tag.keyword %}
{% set topic_tag = tag.keyword %}

{% block page_head_meta %}
    {{ parent() }}

    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <header class="full-page-header text-center no-breadcrumbs">
        <div class="container">
            <h1 class="full-page-title">{{ tag.keyword }}</h1>
        </div>
    </header>

    <div class="container">
        {% if related_content|length > 0 %}
            <div class="category-children">
                <div class="row">
                    {% for related_content_item in related_content %}
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            {{ ng_view_content(related_content_item, 'standard_with_intro') }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% if related_content.haveToPaginate() %}
                {{ pagerfanta(related_content, 'ngsite') }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
