{% if show_path and path_array|length > 1 %}
    <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for path_item in path_array %}
                {% if path_item.url != false and path_item.location.contentInfo.contentTypeIdentifier not in ezpublish.configResolver.parameter('container_content_types', 'ngsite') %}
                    <li class="breadcrumb-item">
                        <a href="{{ path_item.url }}">{{ path_item.text }}</a>
                    </li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">
                        <span>{{ path_item.text }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}
