{% import '@ezdesign/parts/content_fields.html.twig' as content_fields %}
{% import '@ezdesign/parts/slide.html.twig' as slide %}

<div class="view-type view-type-{{ view_type }} ng-article vl3">
    {{ slide.image(content) }}

    <div class="info">
        <h2 class="title"><a href={{ path(location) }}>{{ content_fields.title(content) }}</a></h2>
    </div>
</div>
